## Script de preparação de dados do Trabalho de Conclusão
#### Curso de Especialização Lato Sensu em Ciência de Dados e Big Data
#### Instituição Pontifícia Universidade Católica de Minas Gerais
##### Título do trabalho: 'ANÁLISE DE SÉRIES TEMPORAIS PARA PREDIÇÃO DO PREÇO DE AÇÚCAR E ETANOL'
Autor: Rafael Vasconcelos Valadares <br>
Data: 04/05/2024 <br>
Email: rafaelvvaladares@hotmail.com <br>
Etapa: 1- Preparação dos dados

In [1]:
# Definindo o diretório de trabalho

import os

# Obtendo o diretório de trabalho atual
diretorio_atual=os.getcwd()

# Mudando o diretório de trabalho
novo_diretorio= 'C:/Users/rafae/OneDrive/Área de Trabalho/Github_projetos/TCC/TCC_CANA/Dados_brutos'
os.chdir(novo_diretorio)

In [2]:
#Listando arquivos presentes no diretório atual

arquivos=os.listdir(novo_diretorio)

# Imprimindo os nomes dos arquivos

for arquivo in arquivos:
    print(arquivo)

bcb_dados.xlsx
CanaSerieHistZ-ZAgricola_conab.xls
CanaSerieHistZ-ZIndustria.xls
cepea-acucar-2010_2013.xls
cepea-acucar-2012_2014.xls
cepea-acucar-2013_2015.xls
cepea-acucar-2015_2017.xls
cepea-acucar-2023_2020.xls
cepea-etanol-2012_2014.xls
cepea_acucar-2020_2017.xls
cepea_etanol_2010_2012.xls
cepea_etanol_2014_2017.xls
cepea_etanol_2017_2020.xls
cepea_etanol_2020_2023.xls
combustiveis_brasil.csv
dataset_atualizada.xlsx
df_info.xlsx
exportacao_importacao_acucar_e_etanol.xlsx
frota_veiculos_brasil.xlsx
perc_etanol_gasolina.csv
precos_produtos_agricolas.xlsx

In [3]:
# Web Scrapping dados Conab com Beautifulsoup
#!pip3 install beautifulsoup

In [4]:
# Importação ativação de pacotes
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [5]:
# Importação dos dados históricos de Área, Produção e Produtividade de cana-de-açúcar do site da Conab
# Método: Web Scraping com beuatifulsoup

# URL base da página
base_url = "https://www.conab.gov.br/info-agro/safras/serie-historica-das-safras/itemlist/category/891-cana-de-acucar-agricola"

# Nome do arquivo XLS
file_name = "CanaSerieHistZ-ZAgricola.xls"

# Nomes das abas nos arquivos XLS
abas = ['Área', 'Produtividade', 'Produção']

# Fazer o request para obter o conteúdo da página
response = requests.get(base_url)

# Verificar se o request foi bem-sucedido
if response.status_code == 200:
    # Analisar o conteúdo HTML da página
    soup = BeautifulSoup(response.content, "html.parser")
    
    # Encontrar o link para o arquivo XLS
    link = soup.find("a", title=file_name)
    
    # Verificar se o link foi encontrado
    if link:
        # Extrair o URL completo
        file_url = "https://www.conab.gov.br" + link.get("href")
        
        # Baixar o arquivo XLS
        xls_content = requests.get(file_url).content
        
        # Carregar o arquivo XLS em um DataFrame
        dt_prod_conab = pd.read_excel(xls_content, sheet_name=None)
        
        # Extrair abas específicas em DataFrames separados
        df_area = dt_prod_conab['Área']
        df_produt = dt_prod_conab['Produtividade']
        df_produc = dt_prod_conab['Produção']
        
        # Exibir as primeiras linhas de cada DataFrame
        print("\nPrimeiras linhas de df_area:")
        print(df_area.head())
        
        print("\nPrimeiras linhas de df_produt:")
        print(df_produt.head())
        
        print("\nPrimeiras linhas de df_produc:")
        print(df_produc.head())
        
    else:
        print(f"Link para o arquivo '{file_name}' não encontrado")
else:
    print("Falha ao carregar a página")

Primeiras linhas de df_area:
                        Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0          CANA-DE-AÇÚCAR - BRASIL        NaN        NaN        NaN
1  Série Histórica de Área Colhida        NaN        NaN        NaN
2         Safras 2005/06 a 2023/24        NaN        NaN        NaN
3                  Em mil hectares        NaN        NaN        NaN
4                        REGIÃO/UF    2005/06    2006/07    2007/08

  Unnamed: 4 Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ...  \
0        NaN        NaN          NaN        NaN        NaN        NaN  ...
1        NaN        NaN          NaN        NaN        NaN        NaN  ...
2        NaN        NaN          NaN        NaN        NaN        NaN  ...
3        NaN        NaN          NaN        NaN        NaN        NaN  ...
4    2008/09    2009/10  2010/11        2011/12    2012/13    2013/14  ...

  Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4     2015/16     2016/17     2017/18     2018/19     2019/20     2020/21

  Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20
0         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN          NaN
4     2021/22     2022/23     2023/24  2024/25 (¹)

[5 rows x 21 columns]

Primeiras linhas de df_produt:
                         Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0           CANA-DE-AÇÚCAR - BRASIL        NaN        NaN        NaN
1  Série Histórica de Produtividade        NaN        NaN        NaN
2          Safras 2005/06 a 2023/24        NaN        NaN        NaN
3                          Em kg/ha        NaN        NaN        NaN
4                         REGIÃO/UF    2005/06    2006/07    2007/08

  Unnamed: 4 Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ...  \
0        NaN        NaN          NaN        NaN        NaN        NaN  ...
1        NaN        NaN          NaN        NaN        NaN        NaN  ...
2        NaN        NaN          NaN        NaN        NaN        NaN  ...
3        NaN        NaN          NaN        NaN        NaN        NaN  ...
4    2008/09    2009/10  2010/11        2011/12    2012/13    2013/14  ...

  Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4     2015/16     2016/17     2017/18     2018/19     2019/20     2020/21

  Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20
0         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN          NaN
4     2021/22     2022/23     2023/24  2024/25 (¹)

[5 rows x 21 columns]

Primeiras linhas de df_produc:
                                      Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                        CANA-DE-AÇÚCAR - BRASIL        NaN        NaN
1  Série Histórica de Produção de Cana-de-Açúcar        NaN        NaN
2                       Safras 2005/06 a 2023/24        NaN        NaN
3                               Em mil toneladas        NaN        NaN
4                                      REGIÃO/UF    2005/06    2006/07

  Unnamed: 3 Unnamed: 4 Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN          NaN        NaN        NaN
1        NaN        NaN        NaN          NaN        NaN        NaN
2        NaN        NaN        NaN          NaN        NaN        NaN
3        NaN        NaN        NaN          NaN        NaN        NaN
4    2007/08    2008/09    2009/10  2010/11        2011/12    2012/13

  Unnamed: 9  ... Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1        NaN  ...         NaN         NaN         NaN         NaN         NaN
2        NaN  ...         NaN         NaN         NaN         NaN         NaN
3        NaN  ...         NaN         NaN         NaN         NaN         NaN
4    2013/14  ...     2015/16     2016/17     2017/18     2018/19     2019/20

  Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20
0         NaN         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN         NaN          NaN
4     2020/21     2021/22     2022/23     2023/24  2024/25 (¹)

[5 rows x 21 columns]

In [6]:
# Removendo informações desnecessárias data.frame importada
dfs = [df_area, df_produt, df_produc]
names = ['df_area', 'df_produt', 'df_produc']

for df, name in zip(dfs, names):
    # Remover linhas desnecessárias e renomear o cabeçalho
    df = df.iloc[4:-2]  # Remover linhas inúteis
    df.columns = df.iloc[0]  # Definir primeira linha como cabeçalho
    df = df[1:]  # Remover a primeira linha original após definir como cabeçalho
    
    # Atualizar o dataframe original com as modificações
    exec(f"{name} = df")

In [7]:
print(df_produc)

4        REGIÃO/UF   2005/06   2006/07   2007/08   2008/09   2009/10  \
5            NORTE    1073.7    1261.9    1348.6    1093.6     991.6
6               RR         0         0         0         0         0
7               RO         0         0         0     106.3     111.3
8               AC         0         0         0         0         0
9               AM     194.4     273.1       314     303.5     211.8
10              AP         0         0         0         0         0
11              PA     606.3     736.7     749.6     628.4     623.4
12              TO       273     252.1       285      55.4      45.1
13        NORDESTE   56599.6   62860.3     67868   64416.1   60677.2
14              MA    1969.9    2341.4      2385      2385    2209.4
15              PI       614     821.3     900.9     900.9      1014
16              CE    1773.3    1619.1     111.5       124     154.4
17              RN    2637.8    2888.1      3075    3296.7    3472.5
18              PB    4765.1    5927.2      6117      6117      6320
19              PE   16943.6   18913.5   20418.1   19119.8   17805.6
20              AL   23110.7   25168.8   29864.3     27400   24504.5
21              SE    1417.5    1626.8    2306.2      2380    2249.7
22              BA    3367.7    3554.1      2690    2692.7    2947.1
23    CENTRO-OESTE   38807.1     45473   66510.1   66510.1   77435.9
24              MT   13460.2   14073.6   16109.9   16109.9   14045.6
25              MS      9799     12676     20755     20755   23297.8
26              GO   15547.9   18723.4   29645.2   29645.2   40092.5
27              DF         0         0         0         0         0
28         SUDESTE  304920.2  329204.2  392605.7  395094.4  419857.7
29              MG   27557.1     33558     44120   41461.4   49923.4
30              ES    4243.4    3967.1      4419      4419    4009.6
31              RJ    7576.4    6853.5    3556.3    3556.3      3260
32              SP  265543.3  284825.6  340510.4  345657.7  362664.7
33             SUL   30012.8     36001   43038.3   44320.1   45551.3
34              PR   28504.9   34130.9   42918.3   44200.1   45502.8
35              SC     601.7     669.7         0         0         0
36              RS     906.2    1200.4       120       120      48.5
37  NORTE/NORDESTE   57673.3   64122.2   69216.6   65509.7   61668.8
38      CENTRO-SUL  373740.1  410678.2  502154.1  505924.6  542844.9
39          BRASIL  431413.4  474800.4  571370.7  571434.3  604513.7

4  2010/11       2011/12    2012/13     2013/14  ...   2015/16   2016/17  \
5       1278.4    2529.3    2957.43     3698.14  ...    3541.9    3266.3
6            0         0          0           0  ...         0         0
7        136.7     157.1     125.11      188.27  ...       191     136.6
8         33.8      52.6       70.3        88.9  ...      86.1      64.1
9          347       287     266.47      268.36  ...     216.3     261.2
10           0         0          0           0  ...         0         0
11       521.9     666.4     695.32      818.57  ...     682.3     717.8
12         239    1366.2    1800.23     2334.04  ...    2366.2    2086.6
13     62079.6   63487.8   52972.24    53014.67  ...   45274.8   41437.7
14      2327.5    2265.6    2071.96     2206.14  ...    2455.1    1842.3
15       836.9       992     828.11       851.6  ...     967.4     760.5
16       180.5      77.4         57      128.61  ...     208.6        74
17      2729.4    2973.3    2247.75      2158.2  ...    2467.7    1974.9
18      5246.3    6723.1    5354.92     5283.07  ...    5532.5    4856.1
19     16820.8   17642.2   13575.92    14402.28  ...     11349   11825.8
20     29120.4   27705.4   23533.49    22454.64  ...   16193.4   16030.6
21      2025.6    2551.5    2219.27     2321.33  ...    2284.7    1706.5
22      2792.2    2557.3    3083.82      3208.8  ...    3816.4      2367
23     93344.7   92233.6  106001.33  120462.287  ...  139026.4  134260.3
24     13661.2   13153.7   16318.97   16948.513  ...   17150.5   16341.5
25     33476.7   33859.8   36955.16   41496.039  ...   48685.4     50292
26     46206.8   45220.1    52727.2   62017.735  ...   73190.5   67626.8
27           0         0          0           0  ...         0         0
28    423799.5  362089.9  387228.29  439342.971  ...  436395.8  435957.5
29     56013.6   50241.8   51208.03   60759.478  ...   64932.4   63670.3
30      3524.8    4003.8    3431.58     3769.98  ...    2809.6    1356.9
31      2537.8    2207.9    1893.75    2007.605  ...    1066.2    1005.2
32    361723.3  305636.4  330694.93  372805.908  ...  367587.6  369925.1
33     43403.1   40614.6   39756.42     42304.2  ...   41347.3   42262.2
34     43321.1   40519.5    39723.5    42230.96  ...   41286.1   42216.7
35           0         0          0           0  ...         0         0
36          82      95.1       32.9        73.2  ...      61.2      45.5
37       63358   66017.1   55929.67    56712.81  ...   48816.7     44704
38    560547.3  494938.1  532986.04  602109.458  ...  616769.5    612480
39    623905.3  560955.2  588915.71  658822.268  ...  665586.2    657184

4      2017/18     2018/19     2019/20     2020/21     2021/22        2022/23  \
5     3464.409    3317.825    3722.607    3488.839    3855.527           3823
6            0           0           0           0           0              0
7           78          58           0           0           0              0
8            0           0           0           0           0              0
9        222.1     236.875     290.427     281.508     306.309            218
10           0           0           0           0           0              0
11       976.7     999.034    1194.952    1036.367    1239.791           1227
12    2187.609    2023.916    2237.228    2170.964    2309.427           2378
13     41140.5   44416.135   49121.348   48448.338   51062.061   56866.487231
14      2220.5    1964.262     2343.08    2427.392    2266.862     2158.14105
15         850    1167.156    1249.037    1177.316    1468.845           1459
16           0           0           0           0           0              0
17      2516.1    2429.324    2781.391    3067.771    2538.389       3662.271
18      5829.5    5589.096    6736.211    6242.094    6081.255    7569.892886
19       10819   11425.388   12519.634   11827.358   12647.711   14703.177035
20     13646.9   16201.755   17439.546    17002.98   19199.854   20281.109259
21      1718.8    1896.256     1947.48    2243.556    2205.094       2375.219
22      3539.7    3742.898    4104.969    4459.871    4654.051       4657.677
23    133664.1  136855.061  140446.349  139804.726  131370.299  131406.823106
24     16101.9   17348.946   17657.665   16773.194   15291.765        15876.6
25     46940.2   49504.687   47514.974   48991.668   44180.274       44627.12
26       70622   70001.428    75273.71   74039.864    71898.26   70903.103106
27           0           0           0           0           0              0
28    417470.7  400312.113  415043.888  428592.678  366929.884   387755.31776
29     65017.4   63199.836   68699.827   70565.766   63947.723    70537.87636
30      2380.7    3174.125     2883.95    2655.223      2653.9     2759.71873
31       872.1    1057.515     845.835    1083.302    1833.412     1578.21567
32    349200.5  332880.637  342614.276  354288.387  298494.849     312879.507
33     37522.2   35534.259    34383.58   34193.238   31961.636      30953.141
34     37477.4   35495.173   34352.623   34163.538   31961.636      30953.141
35           0           0           0           0           0              0
36        44.8      39.086      30.957        29.7         NaN              0
37   44604.909    47733.96   52843.955   51937.177   54917.588   60689.487231
38      588657  572701.433  589873.817  602590.642  530261.819  550115.281866
39  633261.909  620435.393  642717.772  654527.819  585179.407  610804.769097

4         2023/24 2024/25 (¹)
5            3943      3781.5
6               0          -
7               0          -
8               0          -
9             304       292.9
10              0          -
11           1276      1281.2
12           2363      2207.5
13     56477.7962     56650.3
14      2078.2045      2051.4
15           1302      1299.6
16              0          -
17     3519.58244      3649.3
18     7605.65899      7738.5
19     13810.1639     13199.5
20    19675.80165     20253.5
21     2535.92175      2580.8
22     5950.46297      5877.7
23  145035.655969    145686.1
24      17663.279     17502.7
25   50771.732069     52471.6
26     76600.6449     75711.8
27              0          -
28   469026.77452    442738.8
29      81376.499     83235.7
30       2815.552        2640
31     1425.27052      1772.2
32     383409.453    355090.9
33     38730.8998     37000.1
34     38730.8998     37000.1
35              0          -
36              0          -
37     60420.7962     60431.9
38  652793.330289      625425
39  713214.126489    685856.8

[35 rows x 21 columns]

In [8]:
print(df_area)

4        REGIÃO/UF  2005/06 2006/07 2007/08 2008/09 2009/10 2010/11      \
5            NORTE     18.6    19.8    20.6    16.1    17.2        19.6
6               RR        0       0       0       0       0           0
7               RO        0       0       0     1.7     1.8         2.6
8               AC        0       0       0       0     NaN         0.4
9               AM      3.8     4.8     3.9     3.8     3.8         3.8
10              AP        0       0       0       0       0           0
11              PA     10.4    10.5      11     9.5    10.9          10
12              TO      4.4     4.5     5.7     1.1     0.7         2.8
13        NORDESTE   1077.4  1123.5  1037.3  1052.6  1082.5      1113.3
14              MA     31.8    40.3    38.9    38.9    39.4        42.1
15              PI       10    12.5    13.1    13.1    13.6        13.3
16              CE     35.1    28.9     1.6     1.8     2.3         2.8
17              RN     50.6    55.2    55.5    59.5      67        65.7
18              PB    105.6   112.5   112.5   112.5   115.5       111.8
19              PE    362.4   369.6   316.6   321.4   321.4       346.8
20              AL    402.1   402.7   426.8     432     448       451.2
21              SE     24.8    31.1    34.9      36    37.9          37
22              BA       55    70.7    37.4    37.4    37.4        42.6
23    CENTRO-OESTE      547   604.6   900.8   900.8   940.3      1202.6
24              MT    205.4   209.7   223.2   223.2     203       207.1
25              MS    139.1     160   275.8   275.8   265.4       396.2
26              GO    202.5   234.9   401.8   401.8   471.9       599.3
27              DF        0       0       0       0       0           0
28         SUDESTE   3737.3  3928.1  4540.1  4561.8  4832.5      5136.6
29              MG    357.1     420   600.7   564.5   588.8       659.6
30              ES     64.4    67.6    65.2    65.2      68        68.7
31              RJ    169.2   152.3      50      50    45.8        51.3
32              SP   3146.6  3288.2  3824.2  3882.1  4129.9        4357
33             SUL   460.01   487.3   511.4   526.6     537         584
34              PR    410.9     436   509.3   524.5     536       582.3
35              SC    16.71    17.1       0       0       0           0
36              RS     32.4    34.2     2.1     2.1       1         1.7
37  NORTE/NORDESTE     1096  1143.3  1057.9  1068.7  1099.7      1132.9
38      CENTRO-SUL  4744.31    5020  5952.3  5989.2  6309.8      6923.2
39          BRASIL  5840.31  6163.3  7010.2  7057.9  7409.5      8056.1

4  2011/12  2012/13  2013/14  ...   2015/16  2016/17  2017/18  2018/19  \
5     34.5    41.99    46.38  ...    51.008    52.29    49.53    49.57
6        0        0        0  ...         0        0        0        0
7      2.8     2.56     2.97  ...      4.34     3.42     1.82     1.27
8      0.6     0.74     1.18  ...     1.588     2.16        0        0
9      3.8     3.68      3.7  ...      3.43     3.59     3.57     3.52
10       0        0        0  ...         0        0        0        0
11    12.6    11.44     11.9  ...     11.42    11.13    13.53    14.41
12    14.7    23.57    26.63  ...     30.23    31.99    30.61    30.37
13  1114.6  1083.22  1030.21  ...    916.94   866.49    842.2   834.05
14    39.6     41.9    39.56  ...      40.3    39.43    38.01    35.27
15    13.9    14.74    15.03  ...     15.12    15.18    15.71    19.01
16     1.3     1.14     1.76  ...       2.7     1.37        0        0
17    62.3    53.62    51.48  ...     53.17     48.4    57.79    53.11
18   122.6   121.98   122.35  ...    124.81   110.33    119.6   122.11
19   326.1   312.09   284.63  ...    254.15   243.68   223.21   231.25
20   463.7   445.71   417.45  ...    323.62    322.2   303.83    293.2
21    42.5    43.43    44.47  ...     49.75    45.87    36.97     36.6
22    42.6    48.61    53.48  ...     53.32    40.03    47.08     43.5
23  1379.4  1504.11  1710.75  ...   1715.34  1811.45  1804.48  1793.34
24   220.1    235.5   237.86  ...    232.75   229.86   226.87   228.91
25   480.9    542.7    654.5  ...    596.77   618.97   666.01   647.36
26   678.4   725.91   818.39  ...    885.82   962.62    911.6   917.07
27       0        0        0  ...         0        0        0        0
28    5221  5243.29  5436.27  ...   5454.63  5700.19  5448.41  5342.22
29   742.7   721.86   779.83  ...    866.51   853.08   824.93   848.03
30    66.9    62.11    65.34  ...      55.5    47.51    47.61    46.66
31    41.3    39.86    39.06  ...     34.32    26.45    17.51    21.36
32  4370.1  4419.46  4552.04  ...    4498.3  4773.15  4558.36  4426.17
33   613.1   612.39   587.82  ...    516.91   618.78   584.87   570.05
34   611.4   610.83    586.4  ...    515.67   617.67    583.7   569.11
35       0        0        0  ...         0        0        0        0
36     1.7     1.56     1.42  ...      1.24     1.11     1.17     0.94
37  1149.1  1125.21  1076.59  ...   967.948   918.78   891.73   883.62
38  7213.5  7359.79  7734.84  ...   7686.88  8130.42  7837.76  7705.61
39  8362.6     8485  8811.43  ...  8654.828   9049.2  8729.49  8589.23

4   2019/20  2020/21  2021/22      2022/23      2023/24 2024/25 (¹)
5     45.55    45.67    45.01       47.278       48.916        49.5
6         0        0      NaN          NaN          NaN         NaN
7         0        0        0            0            0          -
8         0        0        0            0            0          -
9      3.35     3.69     3.69        3.848        3.861         3.8
10        0        0        0            0            0          -
11     14.5    13.78    14.08       15.506       16.856        16.7
12     27.7     28.2    27.24       27.924       28.199        28.9
13   844.36   849.71   847.36   875.539275    883.02857         887
14    34.07    33.12    28.65     28.31064     29.30788        28.7
15    19.24    20.09    20.75       21.186       20.321        20.3
16        0        0        0            0            0          -
17    55.23    57.72    57.49     66.14172      66.7139        66.7
18   122.84   118.29   117.23   122.995169    125.63256         128
19   237.26   232.99   217.38    238.75407    233.67758       221.4
20   292.03   298.45    307.7   301.504706       298.67       309.3
21    36.71    38.69     41.2     39.63376     43.05381        45.2
22    46.98    50.36    56.96     57.01321     65.65184        67.4
23  1819.88  1823.31  1806.73   1767.47359     1778.771      1815.7
24   215.63   214.55   195.24      174.693      194.126       199.6
25   660.95   637.16   648.63    635.95334      629.852       650.5
26    943.3    971.6   962.86    956.82725      954.793       965.6
27        0        0        0            0            0           0
28  5200.59  5378.01  5095.31   5127.07601  5098.832943      5398.3
29   820.55   854.19    846.5    896.44968      929.173      1004.6
30    48.62    46.87    46.45     47.51433     48.71559        50.6
31    29.18    32.74    33.69       35.512       29.713          35
32  4302.24  4444.21  4168.67       4147.6  4091.231353      4308.1
33   531.64   519.43   522.92    475.35912       524.38       522.6
34   530.98   518.77   522.92    475.35912       524.38       522.6
35        0        0        0            0            0          -
36     0.66     0.66      NaN          NaN          NaN         NaN
37   889.91   895.38   892.37   922.817275    931.94457       936.5
38  7552.11  7720.75  7424.96   7369.90872  7401.983943      7736.6
39  8442.02  8616.13  8317.33  8292.725995  8333.928513      8673.1

[35 rows x 21 columns]

In [9]:
# Realizando a remodelagem das dataframes para dar importância às informações por REGIÃO/UF
# Método: melt para concentrar os dados (produz matriz densa com os dados de safra concentrados em uma única coluna)
dfs = [df_area, df_produt, df_produc]
names = ['df_area', 'df_produt', 'df_produc']
value_names = ['area', 'produtividade', 'producao']

for df, name, value_name in zip(dfs, names, value_names):
    # Convertendo a matriz esparssa em densa
    df = df.melt(id_vars='REGIÃO/UF', var_name='safra', value_name=value_name)
    
    # Atualizar o dataframe original com as modificações
    exec(f"{name} = df")

In [10]:
print(df_produt)

          REGIÃO/UF        safra produtividade
0             NORTE      2005/06         57633
1                RR      2005/06             0
2                RO      2005/06             0
3                AC      2005/06             0
4                AM      2005/06         50750
..              ...          ...           ...
695              SC  2024/25 (¹)            -
696              RS  2024/25 (¹)            -
697  NORTE/NORDESTE  2024/25 (¹)         64532
698      CENTRO-SUL  2024/25 (¹)         80840
699          BRASIL  2024/25 (¹)         79079

[700 rows x 3 columns]

In [11]:
# Realizando o merge das data.frames df_area, df_produt e df_ produc
dfs = [df_area, df_produt, df_produc]
how = 'left'

# Initialize df_final_prod as the first dataframe
df_final_prod = dfs[0]

# Loop through the remaining dataframes and merge them with df_final_prod
for df in dfs[1:]:
    df_final_prod = pd.merge(df_final_prod, df, on=['REGIÃO/UF', 'safra'], how=how)

In [12]:
print(df_final_prod)

          REGIÃO/UF        safra    area produtividade  producao
0             NORTE      2005/06    18.6         57633    1073.7
1                RR      2005/06       0             0         0
2                RO      2005/06       0             0         0
3                AC      2005/06       0             0         0
4                AM      2005/06     3.8         50750     194.4
..              ...          ...     ...           ...       ...
695              SC  2024/25 (¹)      -             -         -
696              RS  2024/25 (¹)     NaN            -         -
697  NORTE/NORDESTE  2024/25 (¹)   936.5         64532   60431.9
698      CENTRO-SUL  2024/25 (¹)  7736.6         80840    625425
699          BRASIL  2024/25 (¹)  8673.1         79079  685856.8

[700 rows x 5 columns]

In [13]:
# Remoção de valores NAN, caracteres desconhecidos (ex.: -) e as linhas da safra 2024/25, que não são do nosso interesse
import numpy as np

# Columns to process
columns_to_process = ['area', 'produtividade', 'producao']

# Replace problematic values with NaN and convert columns to float
for column in columns_to_process:
    df_final_prod[column] = df_final_prod[column].replace('- ', np.nan).astype(float)

# Filter out rows with 'safra' equal to '2024/25 (¹)'
df_final_prod = df_final_prod[df_final_prod['safra'] != '2024/25 (¹)']

display(df_final_prod)

          REGIÃO/UF    safra         area  produtividade       producao
0             NORTE  2005/06    18.600000   57633.000000    1073.700000
1                RR  2005/06     0.000000       0.000000       0.000000
2                RO  2005/06     0.000000       0.000000       0.000000
3                AC  2005/06     0.000000       0.000000       0.000000
4                AM  2005/06     3.800000   50750.000000     194.400000
..              ...      ...          ...            ...            ...
660              SC  2023/24     0.000000       0.000000       0.000000
661              RS  2023/24          NaN       0.000000       0.000000
662  NORTE/NORDESTE  2023/24   931.944570   64833.036368   60420.796200
663      CENTRO-SUL  2023/24  7401.983943   88191.670679  652793.330289
664          BRASIL  2023/24  8333.928513   85579.582949  713214.126489

[665 rows x 5 columns]

In [14]:
# Verifciação dos tipos de dados e transformação, quando necessário

df_final_prod.dtypes

REGIÃO/UF         object
safra             object
area             float64
produtividade    float64
producao         float64
dtype: object

In [15]:
# Verificação se os dados estão ok para seguir para agregação de novas informações
# Métodos: medias de tendência central e de dispersão
summary_table = df_final_prod.groupby('safra').agg({'area': ['mean', 'max', 'min'],
                                                     'produtividade': ['mean', 'max', 'min'],
                                                     'producao': ['mean', 'max', 'min']})

# Renomeando as colunas para faciliar a compreensão
summary_table.columns = ['area_mean', 'area_max', 'area_min',
                         'produtividade_mean', 'produtividade_max', 'produtividade_min',
                         'producao_mean', 'producao_max', 'producao_min']

# Dispondo a data.frame para observação
print(summary_table)

               area_mean     area_max  area_min  produtividade_mean  \
safra
2005/06       667.464000  5840.310000       0.0        52382.857143
2006/07       704.377143  6163.300000       0.0        54303.457143
2007/08       801.165714  7010.200000       0.0        58588.485714
2008/09       806.617143  7057.900000       0.0        59891.000000
2009/10       871.705882  7409.500000       0.0        58929.428571
2010/11       920.697143  8056.100000       0.0        58719.171429
2011/12       955.725714  8362.600000       0.0        56911.742857
2012/13       969.714286  8485.000000       0.0        53443.628571
2013/14      1007.020571  8811.430000       0.0        57643.525714
2014/15      1029.083429  9004.480000       0.0        57786.764706
2015/16       989.123200  8654.828000       0.0        58162.768949
2016/17      1034.194286  9049.200000       0.0        50822.885714
2017/18       997.656000  8729.490000       0.0        50758.942857
2018/19       981.626286  8589.230000       0.0        52406.057143
2019/20       964.802286  8442.020000       0.0        54676.914286
2020/21       984.700571  8616.130000       0.0        53782.800000
2021/22      1008.161212  8317.330000       0.0        54517.794118
2022/23      1005.178908  8292.725995       0.0        53866.214934
2023/24      1010.173153  8333.928513       0.0        57266.401301

             produtividade_max  produtividade_min  producao_mean  \
safra
2005/06           84390.000000                0.0   49304.388571
2006/07           86620.000000                0.0   54262.902857
2007/08           89040.000000                0.0   65299.508571
2008/09           89040.000000                0.0   65306.777143
2009/10           87815.000000                0.0   69087.280000
2010/11           91320.000000                0.0   71303.462857
2011/12           92872.000000                0.0   64109.165714
2012/13           95000.000000                0.0   67304.652000
2013/14           87647.000000                0.0   75293.972343
2014/15           84850.000000                0.0   72544.800000
2015/16           82624.572712                0.0   76066.994286
2016/17           81251.000000                0.0   75106.742857
2017/18           78816.000000                0.0   72372.789600
2018/19           86044.000000                0.0   70906.902057
2019/20           87377.000000                0.0   73453.459657
2020/21           88560.000000                0.0   74803.179314
2021/22           88053.000000                0.0   68844.636118
2022/23           90882.863080                0.0   69806.259325
2023/24           93714.928318                0.0   81510.185884

              producao_max  producao_min
safra
2005/06      431413.400000           0.0
2006/07      474800.400000           0.0
2007/08      571370.700000           0.0
2008/09      571434.300000           0.0
2009/10      604513.700000           0.0
2010/11      623905.300000           0.0
2011/12      560955.200000           0.0
2012/13      588915.710000           0.0
2013/14      658822.268000           0.0
2014/15      634767.000000           0.0
2015/16      665586.200000           0.0
2016/17      657184.000000           0.0
2017/18      633261.909000           0.0
2018/19      620435.393000           0.0
2019/20      642717.772000           0.0
2020/21      654527.819000           0.0
2021/22      585179.407000           0.0
2022/23      610804.769097           0.0
2023/24      713214.126489           0.0

In [16]:
 # Importando dados da Conab de:'Açúcar', 'Etanol Total (cana e milho)', 'Etanol Anidro', 'Etanol Hidratado',
#   'ATR Médio', 'Etanol Anidro (Milho)', 'Etanol Hidratado (Milho)'
# Método web scraping com BeautifulSoup e resquests
import pandas as pd
import requests
from bs4 import BeautifulSoup

# URL base da página
base_url = "https://www.conab.gov.br/info-agro/safras/serie-historica-das-safras/itemlist/category/893-cana-de-acucar-industria"

# Nome do arquivo XLS
file_name = "CanaSerieHistZ-ZIndustria.xls"

# Nomes das abas nos arquivos XLS
abas = ['Açúcar', 'Etanol Total (cana e milho)', 'Etanol Anidro', 'Etanol Hidratado',
        'ATR Médio', 'Etanol Anidro (Milho)', 'Etanol Hidratado (Milho)']

# Fazer o request para obter o conteúdo da página
response = requests.get(base_url)

# Verificar se o request foi bem-sucedido
if response.status_code == 200:
    # Analisar o conteúdo HTML da página
    soup = BeautifulSoup(response.content, "html.parser")
    
    # Encontrar o link para o arquivo XLS
    link = soup.find("a", title=file_name)
    
    # Verificar se o link foi encontrado
    if link:
        # Extrair o URL completo
        file_url = "https://www.conab.gov.br" + link.get("href")
        
        # Baixar o arquivo XLS
        xls_content = requests.get(file_url).content
        
        # Carregar o arquivo XLS em um DataFrame
        dt_ind_conab = pd.read_excel(xls_content, sheet_name=None)
        
        # Extrair abas específicas em DataFrames separados
        df_acucar = dt_ind_conab['Açúcar']
        df_etanol_total = dt_ind_conab['Etanol Total (cana e milho)']
        df_etanol_anidro = dt_ind_conab['Etanol Anidro']
        df_etanol_hidratado = dt_ind_conab['Etanol Hidratado']
        df_atr_medio = dt_ind_conab['ATR Médio']
        df_etanol_anidro_milho = dt_ind_conab['Etanol Anidro (Milho)']
        df_etanol_hidratado_milho = dt_ind_conab['Etanol Hidratado (Milho)']
        
        # Exibir as primeiras linhas de cada DataFrame
        print("\nPrimeiras linhas de df_acucar:")
        print(df_acucar.head())
        
        print("\nPrimeiras linhas de df_etanol_total:")
        print(df_etanol_total.head())
        
        print("\nPrimeiras linhas de df_etanol_anidro:")
        print(df_etanol_anidro.head())
        
        print("\nPrimeiras linhas de df_etanol_hidratado:")
        print(df_etanol_hidratado.head())
        
        print("\nPrimeiras linhas de df_atr_medio:")
        print(df_atr_medio.head())
        
        print("\nPrimeiras linhas de df_etanol_anidro_milho:")
        print(df_etanol_anidro_milho.head())
        
        print("\nPrimeiras linhas de df_etanol_hidratado_milho:")
        print(df_etanol_hidratado_milho.head())
        
    else:
        print(f"Link para o arquivo '{file_name}' não encontrado")
else:
    print("Falha ao carregar a página")

Primeiras linhas de df_acucar:
                              Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                CANA-DE-AÇÚCAR - BRASIL        NaN        NaN        NaN
1  Série Histórica de Produção de Açúcar        NaN        NaN        NaN
2               Safras 2005/06 a 2023/24        NaN        NaN        NaN
3                       Em mil toneladas        NaN        NaN        NaN
4                              REGIÃO/UF    2005/06    2006/07    2007/08

  Unnamed: 4 Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ...  \
0        NaN        NaN          NaN        NaN        NaN        NaN  ...
1        NaN        NaN          NaN        NaN        NaN        NaN  ...
2        NaN        NaN          NaN        NaN        NaN        NaN  ...
3        NaN        NaN          NaN        NaN        NaN        NaN  ...
4    2008/09    2009/10  2010/11        2011/12    2012/13    2013/14  ...

  Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4     2015/16     2016/17     2017/18     2018/19     2019/20     2020/21

  Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20
0         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN          NaN
4     2021/22     2022/23     2023/24  2024/25 (¹)

[5 rows x 21 columns]

Primeiras linhas de df_etanol_total:
                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                            CANA-DE-AÇÚCAR - BRASIL        NaN        NaN
1  Série Histórica de Produção de Etanol Total de...        NaN        NaN
2                           Safras 2005/06 a 2023/24        NaN        NaN
3                                      Em mil litros        NaN        NaN
4                                          REGIÃO/UF    2005/06    2006/07

  Unnamed: 3 Unnamed: 4 Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN          NaN        NaN        NaN
1        NaN        NaN        NaN          NaN        NaN        NaN
2        NaN        NaN        NaN          NaN        NaN        NaN
3        NaN        NaN        NaN          NaN        NaN        NaN
4    2007/08    2008/09    2009/10  2010/11        2011/12    2012/13

  Unnamed: 9  ... Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1        NaN  ...         NaN         NaN         NaN         NaN         NaN
2        NaN  ...         NaN         NaN         NaN         NaN         NaN
3        NaN  ...         NaN         NaN         NaN         NaN         NaN
4    2013/14  ...     2015/16     2016/17     2017/18     2018/19     2019/20

  Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20
0         NaN         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN         NaN          NaN
4     2020/21     2021/22     2022/23     2023/24  2024/25 (¹)

[5 rows x 21 columns]

Primeiras linhas de df_etanol_anidro:
                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                            CANA-DE-AÇÚCAR - BRASIL        NaN        NaN
1  Série Histórica de Produção Etanol Anidro de C...        NaN        NaN
2                           Safras 2005/06 a 2023/24        NaN        NaN
3                                      Em mil litros        NaN        NaN
4                                          REGIÃO/UF    2005/06    2006/07

  Unnamed: 3 Unnamed: 4 Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN          NaN        NaN        NaN
1        NaN        NaN        NaN          NaN        NaN        NaN
2        NaN        NaN        NaN          NaN        NaN        NaN
3        NaN        NaN        NaN          NaN        NaN        NaN
4    2007/08    2008/09    2009/10  2010/11        2011/12    2012/13

  Unnamed: 9  ... Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1        NaN  ...         NaN         NaN         NaN         NaN         NaN
2        NaN  ...         NaN         NaN         NaN         NaN         NaN
3        NaN  ...         NaN         NaN         NaN         NaN         NaN
4    2013/14  ...     2015/16     2016/17     2017/18     2018/19     2019/20

  Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20
0         NaN         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN         NaN          NaN
4     2020/21     2021/22     2022/23     2023/24  2024/25 (¹)

[5 rows x 21 columns]

Primeiras linhas de df_etanol_hidratado:
                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                            CANA-DE-AÇÚCAR - BRASIL        NaN        NaN
1  Série Histórica de Produção de Etanol Hidratad...        NaN        NaN
2                           Safras 2005/06 a 2023/24        NaN        NaN
3                                      Em mil litros        NaN        NaN
4                                          REGIÃO/UF    2005/06    2006/07

  Unnamed: 3 Unnamed: 4 Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN          NaN        NaN        NaN
1        NaN        NaN        NaN          NaN        NaN        NaN
2        NaN        NaN        NaN          NaN        NaN        NaN
3        NaN        NaN        NaN          NaN        NaN        NaN
4    2007/08    2008/09    2009/10  2010/11        2011/12    2012/13

  Unnamed: 9  ... Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1        NaN  ...         NaN         NaN         NaN         NaN         NaN
2        NaN  ...         NaN         NaN         NaN         NaN         NaN
3        NaN  ...         NaN         NaN         NaN         NaN         NaN
4    2013/14  ...     2015/16     2016/17     2017/18     2018/19     2019/20

  Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20
0         NaN         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN         NaN          NaN
4     2020/21     2021/22     2022/23     2023/24  2024/25 (¹)

[5 rows x 21 columns]

Primeiras linhas de df_atr_medio:
                     Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0       CANA-DE-AÇÚCAR - BRASIL        NaN        NaN        NaN        NaN
1  Série Histórica de ATR Médio        NaN        NaN        NaN        NaN
2      Safras 2005/06 a 2023/24        NaN        NaN        NaN        NaN
3                     Kg/t cana        NaN        NaN        NaN        NaN
4                     REGIÃO/UF    2005/06    2006/07    2007/08    2008/09

  Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 11  \
0        NaN          NaN        NaN        NaN        NaN  ...         NaN
1        NaN          NaN        NaN        NaN        NaN  ...         NaN
2        NaN          NaN        NaN        NaN        NaN  ...         NaN
3        NaN          NaN        NaN        NaN        NaN  ...         NaN
4    2009/10  2010/11        2011/12    2012/13    2013/14  ...     2015/16

  Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4     2016/17     2017/18     2018/19     2019/20     2020/21     2021/22

  Unnamed: 18 Unnamed: 19  Unnamed: 20
0         NaN         NaN          NaN
1         NaN         NaN          NaN
2         NaN         NaN          NaN
3         NaN         NaN          NaN
4     2022/23     2023/24  2024/25 (¹)

[5 rows x 21 columns]

Primeiras linhas de df_etanol_anidro_milho:
                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                            CANA-DE-AÇÚCAR - BRASIL        NaN        NaN
1  Série Histórica de Produção Etanol Anidro de M...        NaN        NaN
2                           Safras 2005/06 a 2023/24        NaN        NaN
3                                      Em mil litros        NaN        NaN
4                                          REGIÃO/UF    2005/06    2006/07

  Unnamed: 3 Unnamed: 4 Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN          NaN        NaN        NaN
1        NaN        NaN        NaN          NaN        NaN        NaN
2        NaN        NaN        NaN          NaN        NaN        NaN
3        NaN        NaN        NaN          NaN        NaN        NaN
4    2007/08    2008/09    2009/10  2010/11        2011/12    2012/13

  Unnamed: 9  ... Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1        NaN  ...         NaN         NaN         NaN         NaN         NaN
2        NaN  ...         NaN         NaN         NaN         NaN         NaN
3        NaN  ...         NaN         NaN         NaN         NaN         NaN
4    2013/14  ...     2015/16     2016/17     2017/18     2018/19     2019/20

  Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20
0         NaN         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN         NaN          NaN
4     2020/21     2021/22     2022/23     2023/24  2024/25 (¹)

[5 rows x 21 columns]

Primeiras linhas de df_etanol_hidratado_milho:
                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                            CANA-DE-AÇÚCAR - BRASIL        NaN        NaN
1  Série Histórica de Produção de Etanol Hidratad...        NaN        NaN
2                           Safras 2005/06 a 2023/24        NaN        NaN
3                                      Em mil litros        NaN        NaN
4                                          REGIÃO/UF    2005/06    2006/07

  Unnamed: 3 Unnamed: 4 Unnamed: 5   Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN          NaN        NaN        NaN
1        NaN        NaN        NaN          NaN        NaN        NaN
2        NaN        NaN        NaN          NaN        NaN        NaN
3        NaN        NaN        NaN          NaN        NaN        NaN
4    2007/08    2008/09    2009/10  2010/11        2011/12    2012/13

  Unnamed: 9  ... Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1        NaN  ...         NaN         NaN         NaN         NaN         NaN
2        NaN  ...         NaN         NaN         NaN         NaN         NaN
3        NaN  ...         NaN         NaN         NaN         NaN         NaN
4    2013/14  ...     2015/16     2016/17     2017/18     2018/19     2019/20

  Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20
0         NaN         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN         NaN          NaN
4     2020/21     2021/22     2022/23     2023/24  2024/25 (¹)

[5 rows x 21 columns]

In [17]:
# Removendo variáveis desnecessárias (linhas) com método .iloc e loop for
dfs_names = {
    'Açúcar': 'df_acucar',
    'Etanol Total (cana e milho)': 'df_etanol_total',
    'Etanol Anidro': 'df_etanol_anidro',
    'Etanol Hidratado': 'df_etanol_hidratado',
    'ATR Médio': 'df_atr_medio',
    'Etanol Anidro (Milho)': 'df_etanol_anidro_milho',
    'Etanol Hidratado (Milho)': 'df_etanol_hidratado_milho'
}

# Loop para realizar a operação em cada data.frame
for df_name, var_name in dfs_names.items():
    # Perform the operations
    globals()[var_name] = globals()[var_name].iloc[4:-2]
    globals()[var_name].columns = globals()[var_name].iloc[0]
    globals()[var_name] = globals()[var_name][1:]

In [18]:
# Remodelando as data.frames com valores esparsos por safra para formato denso (safra em uma única coluna)
# Método melt acompanhado de loop
dfs = {
    'df_acucar': 'acucar',
    'df_etanol_total': 'etanol_total',
    'df_etanol_anidro': 'etanol_anidro',
    'df_etanol_hidratado': 'etanol_hidratado',
    'df_etanol_anidro_milho': 'etanol_anidro_milho',
    'df_etanol_hidratado_milho': '_etanol_hidratado_milho',
    'df_atr_medio': 'atr_medio'
}

# Apply melt operation in a loop
for df_var, col_name in dfs.items():
    globals()[df_var] = globals()[df_var].melt(id_vars='REGIÃO/UF', var_name='safra', value_name=col_name)

In [19]:
# Realizando o merge dos dados utilizando left_join
dfs_to_merge = [df_acucar, df_etanol_total, df_etanol_anidro, df_atr_medio, df_etanol_hidratado, df_etanol_anidro_milho, df_etanol_hidratado_milho]

# Estabelece data.frame inicial para merge
df_final_ind = df_acucar

# Loop para realizar o merge de múltiplas data.frames
for df_to_merge in dfs_to_merge[1:]:
    df_final_ind = pd.merge(df_final_ind, df_to_merge, on=['REGIÃO/UF', 'safra'], how='left')

In [20]:
# Remoção de dados da safra 24/25 e caracteres não numéricos
import numpy as np

df_final_ind = df_final_ind.loc[df_final_ind['safra'] != '2024/25 (¹)']

columns_to_convert = ['acucar', 'etanol_total', 'etanol_anidro', 'atr_medio', 'etanol_hidratado', 'etanol_anidro_milho', '_etanol_hidratado_milho']

# Replace non-numeric values with NaN
df_final_ind[columns_to_convert] = df_final_ind[columns_to_convert].replace('-', np.nan)

# Convert columns to float
df_final_ind[columns_to_convert] = df_final_ind[columns_to_convert].astype(float)
#display(df_final_ind)
display(df_final_ind)

,REGIÃO/UF,safra,acucar,etanol_total,etanol_anidro,atr_medio,etanol_hidratado,etanol_anidro_milho,_etanol_hidratado_milho
0,NORTE,2005/06,22.70400,6.099200e+04,5.486220e+04,122.038230,6.129800e+03,NaN,NaN
1,RR,2005/06,0.00000,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN
2,RO,2005/06,0.00000,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN
3,AC,2005/06,0.00000,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN
4,AM,2005/06,22.70400,8.535000e+02,4.863000e+02,130.181386,3.672000e+02,NaN,NaN
...,...,...,...,...,...,...,...,...,...
660,SC,2023/24,0.00000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,NaN
661,RS,2023/24,0.00000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,NaN
662,NORTE/NORDESTE,2023/24,3392.38370,2.272452e+06,1.168054e+06,126.989005,1.104384e+06,0.0,14.82
663,CENTRO-SUL,2023/24,42286.31825,3.333727e+07,1.088125e+07,135.257089,1.653586e+07,2242195.2,3677965.70
664,BRASIL,2023/24,45678.70195,3.560972e+07,1.204930e+07,134.556648,1.764024e+07,2242195.2,3677980.52

In [21]:
# Verificação dos tipos de dados baixados
df_final_ind.dtypes

REGIÃO/UF                   object
safra                       object
acucar                     float64
etanol_total               float64
etanol_anidro              float64
atr_medio                  float64
etanol_hidratado           float64
etanol_anidro_milho        float64
_etanol_hidratado_milho    float64
dtype: object

In [22]:
# Verificação de valores NAN
# Soma de NA por colunas
nan_sum = df_final_ind.isna().sum()

# Vendo resultado
print(nan_sum)

REGIÃO/UF                    0
safra                        0
acucar                       9
etanol_total                14
etanol_anidro               11
atr_medio                   56
etanol_hidratado             8
etanol_anidro_milho        595
_etanol_hidratado_milho    592
dtype: int64

In [23]:
# Removendo colunas com múltiplos NA: etanol_anidro_milho e _etanol_hidratado_milho 
df_final_ind = df_final_ind.drop(['etanol_anidro_milho', '_etanol_hidratado_milho'], axis=1)

# Removendo as linhas com valores NA nas colunas especificadas
df_final_ind = df_final_ind.dropna(subset=['acucar', 'etanol_total', 'etanol_anidro', 'atr_medio', 'etanol_hidratado'])

In [24]:
# Verificação de valores NAN
# Soma de NA por colunas
nan_sum = df_final_ind.isna().sum()

# Vendo resultado
print(nan_sum)

REGIÃO/UF           0
safra               0
acucar              0
etanol_total        0
etanol_anidro       0
atr_medio           0
etanol_hidratado    0
dtype: int64

In [25]:
# verificação simplificada da sanidade dos dados


# Agrupando por 'safra' e calculando média, mínimo e máximo para as colunas especificadas
summary_table = df_final_ind.groupby('safra').agg({
    'acucar': ['mean', 'min', 'max'],
    'etanol_total': ['mean', 'min', 'max'],
    'etanol_anidro': ['mean', 'min', 'max'],
    'atr_medio': ['mean', 'min', 'max'],
    'etanol_hidratado': ['mean', 'min', 'max']
})

# Renomeando as colunas para melhor entendimento
summary_table.columns = ['acucar_mean', 'acucar_min', 'acucar_max',
                         'etanol_total_mean', 'etanol_total_min', 'etanol_total_max',
                         'etanol_anidro_mean', 'etanol_anidro_min', 'etanol_anidro_max',
                         'atr_medio_mean', 'atr_medio_min', 'atr_medio_max',
                         'etanol_hidratado_mean', 'etanol_hidratado_min', 'etanol_hidratado_max']

# Exibindo a tabela de resumo
print(summary_table)

             acucar_mean  acucar_min    acucar_max  etanol_total_mean  \
safra
2005/06      3532.459573         0.0  26420.082700       2.246865e+06
2006/07      4029.813333         0.0  30223.600000       2.324290e+06
2007/08      4314.441379         0.0  31279.700000       3.173402e+06
2008/09      4216.026667         0.0  31620.200000       3.557790e+06
2009/10      4409.960000         0.0  33074.700000       3.435016e+06
2010/11      5089.120000         0.0  38168.400000       3.678973e+06
2011/12      4938.296774         0.0  38271.800000       3.022861e+06
2012/13      4946.693690         0.0  38336.876099       3.050383e+06
2013/14      4887.517848         0.0  37878.263324       3.607318e+06
2014/15      4741.357293         0.0  35560.179697       3.821323e+06
2015/16      3827.330592         0.0  33489.142682       3.481317e+06
2016/17      4421.840000         0.0  38691.100000       3.178003e+06
2017/18      4327.531314         0.0  37865.899000       3.112875e+06
2018/19      4005.287586         0.0  29038.335000       4.571376e+06
2019/20      3505.376413         0.0  29795.699510       4.197315e+06
2020/21      4853.446824         0.0  41254.298000       3.854876e+06
2021/22      5821.645833        28.8  34936.300000       4.967800e+06
2022/23      4206.503623         0.0  36806.906700       3.539678e+06
2023/24      5220.423080         0.0  45678.701950       4.069682e+06

             etanol_total_min  etanol_total_max  etanol_anidro_mean  \
safra
2005/06              0.000000      1.685149e+07        1.214060e+06
2006/07              0.000000      1.743218e+07        1.096095e+06
2007/08           6819.600000      2.300717e+07        1.191731e+06
2008/09           7224.000000      2.668342e+07        1.341828e+06
2009/10           2433.000000      2.576262e+07        9.266668e+05
2010/11           1489.000000      2.759548e+07        1.068931e+06
2011/12           1665.000000      2.342717e+07        1.248759e+06
2012/13           1665.133329      2.364047e+07        1.271274e+06
2013/14           4510.000000      2.795671e+07        1.525733e+06
2014/15           2918.563088      2.865992e+07        1.563739e+06
2015/16              0.000000      3.046152e+07        1.280971e+06
2016/17              0.000000      2.780752e+07        1.265468e+06
2017/18              0.000000      2.723765e+07        1.256562e+06
2018/19           1503.000000      3.314248e+07        1.286134e+06
2019/20              0.000000      3.567718e+07        1.190171e+06
2020/21              0.000000      3.276824e+07        1.096684e+06
2021/22          44139.000000      2.987544e+07        1.698909e+06
2022/23              0.000000      3.097218e+07        1.292614e+06
2023/24              0.000000      3.560972e+07        1.377063e+06

             etanol_anidro_min  etanol_anidro_max  atr_medio_mean  \
safra
2005/06                    0.0       9.105448e+06      121.644736
2006/07                    0.0       8.220716e+06      114.593835
2007/08                    0.0       8.640050e+06      121.367896
2008/09                    0.0       1.006371e+07      132.042402
2009/10                    0.0       6.949840e+06      125.135417
2010/11                    0.0       8.016983e+06      127.484498
2011/12                    0.0       9.677885e+06      125.701145
2012/13                    0.0       9.852373e+06      129.952435
2013/14                    0.0       1.182443e+07      124.747042
2014/15                    0.0       1.172804e+07      125.984258
2015/16                    0.0       1.120850e+07      112.619630
2016/17                    0.0       1.107284e+07      114.278215
2017/18                    0.0       1.099492e+07      107.583079
2018/19                    0.0       9.324469e+06      129.579702
2019/20                    0.0       1.011646e+07      109.327545
2020/21                    0.0       9.321812e+06      110.520751
2021/22                19147.0       1.021617e+07      130.729167
2022/23                    0.0       1.131038e+07      100.059766
2023/24                    0.0       1.204930e+07      100.174181

             atr_medio_min  atr_medio_max  etanol_hidratado_mean  \
safra
2005/06           0.000000     145.499896           1.032805e+06
2006/07           0.000000     137.025004           1.228195e+06
2007/08          82.073750     145.320000           1.981671e+06
2008/09          86.140000     156.113589           2.215962e+06
2009/10          80.952411     148.180135           2.508371e+06
2010/11          74.507269     148.112249           2.610042e+06
2011/12          79.426480     163.820491           1.774101e+06
2012/13          85.547995     151.997467           1.779109e+06
2013/14          88.013117     145.597505           2.081585e+06
2014/15          57.330000     141.703683           2.257584e+06
2015/16           0.000000     156.591726           2.200346e+06
2016/17           0.000000     154.244561           1.912535e+06
2017/18           0.000000     145.200000           1.856313e+06
2018/19          61.236724     145.692308           3.176162e+06
2019/20           0.000000     148.309612           2.810019e+06
2020/21           0.000000     150.259835           2.402895e+06
2021/22         117.700000     138.000000           2.689752e+06
2022/23           0.000000     138.710000           1.738565e+06
2023/24           0.000000     137.330000           2.016027e+06

             etanol_hidratado_min  etanol_hidratado_max
safra
2005/06                  0.000000          7.746040e+06
2006/07                  0.000000          9.211462e+06
2007/08               2770.800000          1.436712e+07
2008/09                  0.000000          1.661971e+07
2009/10               2433.000000          1.881278e+07
2010/11               1489.000000          1.957850e+07
2011/12               1472.000000          1.374929e+07
2012/13               1468.184627          1.378809e+07
2013/14               1075.977693          1.613228e+07
2014/15                528.620236          1.693188e+07
2015/16                  0.000000          1.925302e+07
2016/17                  0.000000          1.673468e+07
2017/18                  0.000000          1.624274e+07
2018/19               2100.000000          2.302717e+07
2019/20                  0.000000          2.388516e+07
2020/21                  0.000000          2.042461e+07
2021/22               9724.000000          1.618631e+07
2022/23                  0.000000          1.521244e+07
2023/24                  0.000000          1.764024e+07

In [26]:
# Unindo dados da indústria e de produtividade/area/produção
df_final_conab=pd.merge(df_final_prod, df_final_ind, on=['REGIÃO/UF', 'safra'], how='left')

In [27]:
# Verificando valores NA na nova tabela
# Verificação de valores NAN
# Soma de NA por colunas
nan_sum = df_final_conab.isna().sum()

# Vendo resultado
print(nan_sum)

REGIÃO/UF            0
safra                0
area                 7
produtividade        3
producao             1
acucar              67
etanol_total        67
etanol_anidro       67
atr_medio           67
etanol_hidratado    67
dtype: int64

In [28]:
# Removendo as linhas com valores NA nas colunas especificadas
# Método: dropna
df_final_conab = df_final_conab.dropna(subset=[
    'area', 
    'produtividade', 
    'producao', 
    'acucar', 
    'etanol_total',
    'etanol_anidro',
    'atr_medio',
    'etanol_hidratado'])

In [29]:
# Verificando valores NA na nova tabela
# Verificação de valores NAN
# Soma de NA por colunas
nan_sum = df_final_conab.isna().sum()

# Vendo resultado
print(nan_sum)

REGIÃO/UF           0
safra               0
area                0
produtividade       0
producao            0
acucar              0
etanol_total        0
etanol_anidro       0
atr_medio           0
etanol_hidratado    0
dtype: int64

In [30]:
# Removendo dados da safra 2023/24 (pois não nos interessa -> com estimativa)
df_final_conab=df_final_conab[df_final_conab['safra']!='2023/24']
print(df_final_conab['safra'].unique())

# Criando uma nova coluna chamada ano_colheita que servirá de referência para o join com os dados de cotação
df_final_conab['ano_colheita']=df_final_conab['safra'].str[:4].astype(int)

print(df_final_conab['ano_colheita'].unique())

print(df_final_conab)

['2005/06' '2006/07' '2007/08' '2008/09' '2009/10' '2010/11    ' '2011/12'
 '2012/13' '2013/14' '2014/15' '2015/16' '2016/17' '2017/18' '2018/19'
 '2019/20' '2020/21' '2021/22' '2022/23']
[2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018
 2019 2020 2021 2022]
          REGIÃO/UF    safra         area  produtividade       producao  \
0             NORTE  2005/06    18.600000   57633.000000    1073.700000
4                AM  2005/06     3.800000   50750.000000     194.400000
6                PA  2005/06    10.400000   58300.000000     606.300000
7                TO  2005/06     4.400000   62043.000000     273.000000
8          NORDESTE  2005/06  1077.400000   52534.000000   56599.600000
..              ...      ...          ...            ...            ...
624              PR  2022/23   475.359120   65115.277477   30953.141000
625              SC  2022/23     0.000000       0.000000       0.000000
627  NORTE/NORDESTE  2022/23   922.817275   65765.443390   60689.487231
628      CENTRO-SUL  2022/23  7369.908720   74643.432201  550115.281866
629          BRASIL  2022/23  8292.725995   73655.486688  610804.769097

         acucar  etanol_total  etanol_anidro   atr_medio  etanol_hidratado  \
0       22.7040  6.099200e+04   5.486220e+04  122.038230      6.129800e+03
4       22.7040  8.535000e+02   4.863000e+02  130.181386      3.672000e+02
6        0.0000  3.488290e+04   3.488290e+04  101.553368      0.000000e+00
7        0.0000  2.525560e+04   1.949300e+04   77.320000      5.762600e+03
8     3916.0029  1.582727e+06   9.450028e+05  126.581017      6.377242e+05
..          ...           ...            ...         ...               ...
624   2218.7770  1.113168e+06   5.965090e+05  129.210000      4.952980e+05
625      0.0000  0.000000e+00   0.000000e+00    0.000000      0.000000e+00
627   3277.1249  2.338150e+06   1.246566e+06  127.495635      1.091582e+06
628  33529.7818  2.863403e+07   1.006381e+07  134.083267      1.412086e+07
629  36806.9067  3.097218e+07   1.131038e+07  133.428721      1.521244e+07

     ano_colheita
0            2005
4            2005
6            2005
7            2005
8            2005
..            ...
624          2022
625          2022
627          2022
628          2022
629          2022

[560 rows x 11 columns]

In [31]:
# Mantendo informações apenas de regiões (acumulados)
import pandas as pd
df_final_conab= df_final_conab[df_final_conab['REGIÃO/UF'].isin(['NORTE', 'NORDESTE', 'CENTRO-OESTE', 
                                                                 'SUDESTE', 'NORTE/NORDESTE', 'CENTRO-SUL', 
                                                                 'BRASIL'])]
print(df_final_conab['REGIÃO/UF'].unique())

['NORTE' 'NORDESTE' 'CENTRO-OESTE' 'SUDESTE' 'NORTE/NORDESTE' 'CENTRO-SUL'
 'BRASIL']

In [32]:
#print(df_final_conab)
df_final_conab.columns

Index(['REGIÃO/UF', 'safra', 'area', 'produtividade', 'producao', 'acucar',
       'etanol_total', 'etanol_anidro', 'atr_medio', 'etanol_hidratado',
       'ano_colheita'],
      dtype='object')

In [33]:
import pandas as pd

# Produzindo uma matriz esparsa por REGIÃO/UF (pode ser útil no machine learning)

# Método spread com pivot
df_final_conab_spread = df_final_conab.pivot(index=['safra', 'ano_colheita'], columns='REGIÃO/UF')

# Renomeando as colunas
df_final_conab_spread.columns = [f"{col[0]}_{col[1]}" for col in df_final_conab_spread.columns]

# Refazendo o índice na data.frame
df_final_conab_spread = df_final_conab_spread.reset_index()

# Apresentação
print(df_final_conab_spread)

          safra  ano_colheita  area_BRASIL  area_CENTRO-OESTE  \
0       2005/06          2005  5840.310000          547.00000
1       2006/07          2006  6163.300000          604.60000
2       2007/08          2007  7010.200000          900.80000
3       2008/09          2008  7057.900000          900.80000
4       2009/10          2009  7409.500000          940.30000
5   2010/11              2010  8056.100000         1202.60000
6       2011/12          2011  8362.600000         1379.40000
7       2012/13          2012  8485.000000         1504.11000
8       2013/14          2013  8811.430000         1710.75000
9       2014/15          2014  9004.480000         1748.45000
10      2015/16          2015  8654.828000         1715.34000
11      2016/17          2016  9049.200000         1811.45000
12      2017/18          2017  8729.490000         1804.48000
13      2018/19          2018  8589.230000         1793.34000
14      2019/20          2019  8442.020000         1819.88000
15      2020/21          2020  8616.130000         1823.31000
16      2021/22          2021  8317.330000         1806.73000
17      2022/23          2022  8292.725995         1767.47359

    area_CENTRO-SUL  area_NORDESTE  area_NORTE  area_NORTE/NORDESTE  \
0        4744.31000    1077.400000      18.600          1096.000000
1        5020.00000    1123.500000      19.800          1143.300000
2        5952.30000    1037.300000      20.600          1057.900000
3        5989.20000    1052.600000      16.100          1068.700000
4        6309.80000    1082.500000      17.200          1099.700000
5        6923.20000    1113.300000      19.600          1132.900000
6        7213.50000    1114.600000      34.500          1149.100000
7        7359.79000    1083.220000      41.990          1125.210000
8        7734.84000    1030.210000      46.380          1076.590000
9        7977.90000     978.990000      47.590          1026.580000
10       7686.88000     916.940000      51.008           967.948000
11       8130.42000     866.490000      52.290           918.780000
12       7837.76000     842.200000      49.530           891.730000
13       7705.61000     834.050000      49.570           883.620000
14       7552.11000     844.360000      45.550           889.910000
15       7720.75000     849.710000      45.670           895.380000
16       7424.96000     847.360000      45.010           892.370000
17       7369.90872     875.539275      47.278           922.817275

    area_SUDESTE  produtividade_BRASIL  ...  atr_medio_NORTE  \
0     3737.30000          74318.000000  ...       122.038230
1     3928.10000          77038.000000  ...       111.555473
2     4540.10000          81506.000000  ...       108.393738
3     4561.80000          80965.000000  ...       156.113589
4     4832.50000          81585.000000  ...       126.450123
5     5136.60000          77446.000000  ...       111.791865
6     5221.00000          67081.000000  ...       163.820491
7     5243.29000          69407.000000  ...       140.124874
8     5436.27000          74769.000000  ...       132.653875
9     5593.12000          70495.000000  ...       122.276287
10    5454.63000          76903.000000  ...       146.115441
11    5700.19000          72623.000000  ...       128.228455
12    5448.41000          72543.000000  ...       136.681371
13    5342.22000          72234.000000  ...       128.728390
14    5200.59000          76133.000000  ...       127.694098
15    5378.01000          75965.000000  ...       135.363687
16    5095.31000          70357.000000  ...       128.900000
17    5127.07601          73655.486688  ...       129.309919

    atr_medio_NORTE/NORDESTE  atr_medio_SUDESTE  etanol_hidratado_BRASIL  \
0                 126.496444         132.073160             7.746040e+06
1                 114.772134         133.899199             9.211462e+06
2                 129.044581         128.463016             1.436712e+07
3                 134.911913         139.520061             1.661971e+07
4                 130.243742         130.971330             1.881278e+07
5                 130.255397         141.110591             1.957850e+07
6                 112.847557         146.163775             1.374929e+07
7                 135.207940         137.535256             1.378809e+07
8                 124.061869         134.073291             1.613228e+07
9                 125.543343         138.294861             1.693188e+07
10                126.724070         130.452402             1.925302e+07
11                135.125336         132.865818             1.673468e+07
12                128.014455         136.880157             1.624274e+07
13                133.093000         139.167209             2.302717e+07
14                134.264383         138.806311             2.388516e+07
15                132.338681         146.444146             2.042461e+07
16                124.600000         137.700000             1.618631e+07
17                127.495635         134.436630             1.521244e+07

    etanol_hidratado_CENTRO-OESTE  etanol_hidratado_CENTRO-SUL  \
0                    1.145937e+06                 7.102186e+06
1                    1.311150e+06                 8.454341e+06
2                    1.864994e+06                 1.326100e+07
3                    2.491270e+06                 1.538458e+07
4                    3.293868e+06                 1.765814e+07
5                    4.310797e+06                 1.849504e+07
6                    4.247930e+06                 1.302464e+07
7                    4.247880e+06                 1.305368e+07
8                    5.096843e+06                 1.538961e+07
9                    5.524214e+06                 1.611612e+07
10                   6.611091e+06                 1.827009e+07
11                   5.993445e+06                 1.606524e+07
12                   5.805624e+06                 1.543025e+07
13                   7.254931e+06                 2.165232e+07
14                   7.954982e+06                 2.248333e+07
15                   6.868978e+06                 1.924546e+07
16                   6.064325e+06                 1.507289e+07
17                   5.639862e+06                 1.412086e+07

    etanol_hidratado_NORDESTE  etanol_hidratado_NORTE  \
0                6.377242e+05             6129.800000
1                7.387867e+05            18334.800000
2                1.081345e+06            24770.600000
3                1.209806e+06            25328.600000
4                1.105402e+06            49243.000000
5                1.035336e+06            48126.000000
6                6.488230e+05            75822.000000
7                6.585962e+05            75811.802017
8                6.272718e+05           115404.953465
9                7.256150e+05            90141.875323
10               8.792142e+05           103720.709321
11               6.008460e+05            68589.000000
12               7.345410e+05            77941.000000
13               1.271732e+06           103124.000000
14               1.292517e+06           109317.000000
15               1.069530e+06           109621.000000
16               9.830680e+05           130358.000000
17               9.617092e+05           129873.000000

    etanol_hidratado_NORTE/NORDESTE  etanol_hidratado_SUDESTE
0                      6.438540e+05              5.050565e+06
1                      7.571215e+05              6.247031e+06
2                      1.106116e+06              9.997152e+06
3                      1.235135e+06              1.138001e+07
4                      1.154646e+06              1.284781e+07
5                      1.083462e+06              1.283061e+07
6                      7.246450e+05              7.864846e+06
7                      7.344080e+05              7.894339e+06
8                      7.426768e+05              9.270037e+06
9                      8.157569e+05              9.500420e+06
10                     9.829349e+05              1.066437e+07
11                     6.694350e+05              9.265755e+06
12                     8.124820e+05              8.919281e+06
13                     1.374856e+06              1.330378e+07
14                     1.401834e+06              1.346701e+07
15                     1.179151e+06              1.165745e+07
16                     1.113426e+06              8.420665e+06
17                     1.091582e+06              7.985701e+06

[18 rows x 58 columns]

In [34]:
# Visualizando colunas específicas
df_final_conab_spread[['safra','etanol_hidratado_BRASIL',
       'etanol_hidratado_CENTRO-OESTE', 'etanol_hidratado_CENTRO-SUL',
       'etanol_hidratado_NORDESTE', 'etanol_hidratado_NORTE',
       'etanol_hidratado_NORTE/NORDESTE', 'etanol_hidratado_SUDESTE']]

,safra,etanol_hidratado_BRASIL,etanol_hidratado_CENTRO-OESTE,etanol_hidratado_CENTRO-SUL,etanol_hidratado_NORDESTE,etanol_hidratado_NORTE,etanol_hidratado_NORTE/NORDESTE,etanol_hidratado_SUDESTE
0,2005/06,7.746040e+06,1.145937e+06,7.102186e+06,6.377242e+05,6129.800000,6.438540e+05,5.050565e+06
1,2006/07,9.211462e+06,1.311150e+06,8.454341e+06,7.387867e+05,18334.800000,7.571215e+05,6.247031e+06
2,2007/08,1.436712e+07,1.864994e+06,1.326100e+07,1.081345e+06,24770.600000,1.106116e+06,9.997152e+06
3,2008/09,1.661971e+07,2.491270e+06,1.538458e+07,1.209806e+06,25328.600000,1.235135e+06,1.138001e+07
4,2009/10,1.881278e+07,3.293868e+06,1.765814e+07,1.105402e+06,49243.000000,1.154646e+06,1.284781e+07
5,2010/11,1.957850e+07,4.310797e+06,1.849504e+07,1.035336e+06,48126.000000,1.083462e+06,1.283061e+07
6,2011/12,1.374929e+07,4.247930e+06,1.302464e+07,6.488230e+05,75822.000000,7.246450e+05,7.864846e+06
7,2012/13,1.378809e+07,4.247880e+06,1.305368e+07,6.585962e+05,75811.802017,7.344080e+05,7.894339e+06
8,2013/14,1.613228e+07,5.096843e+06,1.538961e+07,6.272718e+05,115404.953465,7.426768e+05,9.270037e+06
9,2014/15,1.693188e+07,5.524214e+06,1.611612e+07,7.256150e+05,90141.875323,8.157569e+05,9.500420e+06
10,2015/16,1.925302e+07,6.611091e+06,1.827009e+07,8.792142e+05,103720.709321,9.829349e+05,1.066437e+07
11,2016/17,1.673468e+07,5.993445e+06,1.606524e+07,6.008460e+05,68589.000000,6.694350e+05,9.265755e+06
12,2017/18,1.624274e+07,5.805624e+06,1.543025e+07,7.345410e+05,77941.000000,8.124820e+05,8.919281e+06
13,2018/19,2.302717e+07,7.254931e+06,2.165232e+07,1.271732e+06,103124.000000,1.374856e+06,1.330378e+07
14,2019/20,2.388516e+07,7.954982e+06,2.248333e+07,1.292517e+06,109317.000000,1.401834e+06,1.346701e+07
15,2020/21,2.042461e+07,6.868978e+06,1.924546e+07,1.069530e+06,109621.000000,1.179151e+06,1.165745e+07
16,2021/22,1.618631e+07,6.064325e+06,1.507289e+07,9.830680e+05,130358.000000,1.113426e+06,8.420665e+06
17,2022/23,1.521244e+07,5.639862e+06,1.412086e+07,9.617092e+05,129873.000000,1.091582e+06,7.985701e+06

2. Serie histórica cotação açúcar cristal de 50 kg Cepea

cepea-consulta-2010_2013.xls <br>
cepea-consulta-2013_2015.xls <br>
cepea-consulta-2015_2017.xls <br>
cepea_consulta_2020_2017.xls <br>
cepea-consulta-20230715223403.xls <br>

In [35]:
# Importação dos dados com pandas
import pandas as pd

# Load each Excel file into a DataFrame
df_acu_pr_2010_2013 = pd.read_excel("cepea-acucar-2010_2013.xls", sheet_name='Plan 1')
df_acu_pr_2013_2015 = pd.read_excel("cepea-acucar-2013_2015.xls", sheet_name='Plan 1')
df_acu_pr_2015_2017 = pd.read_excel("cepea-acucar-2015_2017.xls", sheet_name='Plan 1')
df_acu_pr_2017_2020 = pd.read_excel("cepea_acucar-2020_2017.xls", sheet_name='Plan 1')
df_acu_pr_2020_2023 = pd.read_excel("cepea-acucar-2023_2020.xls", sheet_name='Plan 1')

In [36]:
# Removendo informações desnecessáiras das data.frames

dfs_periods = {
    'df_acu_pr_2010_2013': (2, 0),
    'df_acu_pr_2013_2015': (2, 0),
    'df_acu_pr_2015_2017': (2, 0),
    'df_acu_pr_2017_2020': (2, 0),
    'df_acu_pr_2020_2023': (2, 0)
}


for df_name, (row_start, header_row) in dfs_periods.items():
    df = globals()[df_name]  
    df = df.iloc[row_start:]  
    df.columns = df.iloc[header_row] 
    df = df[1:]  
    globals()[df_name] = df

In [37]:
print(df_acu_pr_2010_2013)

2          Data À vista R$ À vista US$
3    15/07/2010      40,49       22,85
4    16/07/2010      40,65       22,81
5    19/07/2010      40,90       22,89
6    20/07/2010      41,05       23,14
7    21/07/2010      41,11       23,03
..          ...        ...         ...
737  08/07/2013      45,25       20,04
738  10/07/2013      45,29       19,95
739  11/07/2013      44,86       19,87
740  12/07/2013      44,89       19,80
741  15/07/2013      44,47       19,96

[739 rows x 3 columns]

In [38]:
# Concatenando as data.frames (empinhando por linha) e renomeando as colunas

import pandas as pd

df_cepea_acucar = pd.concat([df_acu_pr_2010_2013, df_acu_pr_2013_2015, df_acu_pr_2015_2017, df_acu_pr_2017_2020, df_acu_pr_2020_2023], axis=0)

# Resetting index
df_cepea_acucar .reset_index(drop=True, inplace=True)

df_cepea_acucar.replace(',', '.', regex=True, inplace=True)
df_cepea_acucar.columns=['data', 'preco_acucar_real','preco_acucar_dolar']
print(df_cepea_acucar)

            data preco_acucar_real preco_acucar_dolar
0     15/07/2010             40.49              22.85
1     16/07/2010             40.65              22.81
2     19/07/2010             40.90              22.89
3     20/07/2010             41.05              23.14
4     21/07/2010             41.11              23.03
...          ...               ...                ...
3220  10/07/2023            139.04              28.46
3221  11/07/2023            140.01              28.82
3222  12/07/2023            140.09              29.08
3223  13/07/2023            138.08              28.83
3224  14/07/2023            136.31              28.43

[3225 rows x 3 columns]

In [39]:
# Criando uma coluna de 'ano' para a data.frame de preços de açúcar
df_cepea_acucar['ano']=df_cepea_acucar['data'].str[6:].astype(int)
display(df_cepea_acucar)

            data preco_acucar_real preco_acucar_dolar   ano
0     15/07/2010             40.49              22.85  2010
1     16/07/2010             40.65              22.81  2010
2     19/07/2010             40.90              22.89  2010
3     20/07/2010             41.05              23.14  2010
4     21/07/2010             41.11              23.03  2010
...          ...               ...                ...   ...
3220  10/07/2023            139.04              28.46  2023
3221  11/07/2023            140.01              28.82  2023
3222  12/07/2023            140.09              29.08  2023
3223  13/07/2023            138.08              28.83  2023
3224  14/07/2023            136.31              28.43  2023

[3225 rows x 4 columns]

In [40]:
# Verificando os tipos de dados da data.frame df_cepea_acucar
df_cepea_acucar.dtypes

data                  object
preco_acucar_real     object
preco_acucar_dolar    object
ano                    int32
dtype: object

In [41]:
# Transformando os dados do tipo objeto para float

# Colunas
columns_to_convert = ['preco_acucar_real', 'preco_acucar_dolar']

# Conversão utilizando loop
for column in columns_to_convert:
    df_cepea_acucar[column] = df_cepea_acucar[column].astype(float)

# Visualização do resultado
print(df_cepea_acucar.head())

         data  preco_acucar_real  preco_acucar_dolar   ano
0  15/07/2010              40.49               22.85  2010
1  16/07/2010              40.65               22.81  2010
2  19/07/2010              40.90               22.89  2010
3  20/07/2010              41.05               23.14  2010
4  21/07/2010              41.11               23.03  2010

In [42]:
# Verificação de valores NA em df_cepea_acucar

na_counts = df_cepea_acucar.isna().sum()

print(na_counts)

data                  0
preco_acucar_real     0
preco_acucar_dolar    0
ano                   0
dtype: int64

In [43]:
# Verificação da sanidade dos dados com estatísticas descritivas

summary_stats = df_cepea_acucar.groupby('ano').agg({
    'preco_acucar_real': ['mean', 'max', 'min'],
    'preco_acucar_dolar': ['mean', 'max', 'min']
})


summary_stats.columns = ['preco_acucar_real_mean', 'preco_acucar_real_max', 'preco_acucar_real_min',
                         'preco_acucar_dolar_mean', 'preco_acucar_dolar_max', 'preco_acucar_dolar_min']


print(summary_stats)

      preco_acucar_real_mean  preco_acucar_real_max  preco_acucar_real_min  \
ano
2010               62.707768                  76.40                  40.49
2011               65.747195                  76.98                  53.71
2012               54.900081                  63.38                  46.99
2013               46.754720                  52.84                  42.52
2014               49.348427                  52.45                  44.11
2015               55.737692                  82.27                  46.26
2016               85.485320                 100.92                  74.86
2017               68.922510                  89.90                  51.96
2018               58.185081                  69.35                  49.80
2019               65.519759                  74.28                  57.59
2020               84.273200                 111.96                  72.17
2021              125.352016                 157.43                 104.03
2022              134.395880                 154.82                 122.73
2023              138.912537                 150.84                 129.36

      preco_acucar_dolar_mean  preco_acucar_dolar_max  preco_acucar_dolar_min
ano
2010                36.598393                   45.87                   22.81
2011                39.385935                   46.31                   33.19
2012                28.317540                   35.73                   23.14
2013                21.723520                   24.71                   17.89
2014                21.017863                   23.49                   18.30
2015                16.756397                   21.30                   12.57
2016                24.798480                   32.29                   19.88
2017                21.605870                   28.10                   16.41
2018                15.990772                   20.79                   12.47
2019                16.645783                   19.18                   14.55
2020                16.411080                   22.23                   12.60
2021                23.225524                   28.55                   18.36
2022                26.066120                   30.77                   23.03
2023                27.539030                   30.66                   24.74

2. Serie histórica cotação do etanol hidratado

cepea_etanol_2010_2012.xls <br>
cepea-etanol-2012_2014.xls <br>
cepea_etanol_2014_2017.xls <br>
cepea_etanol_2017_2020.xls <br>
cepea_etanol_2020_2023.xls <br>

In [44]:
# Importação dos dados dos preços históricos de etanol

import pandas as pd

df_etanol_pr_2010_2012 = pd.read_excel("cepea_etanol_2010_2012.xls", sheet_name='Plan 1')
df_etanol_pr_2012_2014 = pd.read_excel("cepea-etanol-2012_2014.xls", sheet_name='Plan 1')
df_etanol_pr_2014_2017 = pd.read_excel("cepea_etanol_2014_2017.xls", sheet_name='Plan 1')
df_etanol_pr_2017_2020 = pd.read_excel("cepea_etanol_2017_2020.xls", sheet_name='Plan 1')
df_etanol_pr_2020_2023 = pd.read_excel("cepea_etanol_2020_2023.xls", sheet_name='Plan 1')

In [45]:
# Removendo dados desnecessários com iloc e loop

dfs_periods = {
    'df_etanol_pr_2010_2012': (2, 0),
    'df_etanol_pr_2012_2014': (2, 0),
    'df_etanol_pr_2014_2017': (2, 0),
    'df_etanol_pr_2017_2020': (2, 0),
    'df_etanol_pr_2020_2023': (2, 0)
}


for df_name, (row_start, header_row) in dfs_periods.items():
    df = globals()[df_name]  
    df = df.iloc[row_start:]  
    df.columns = df.iloc[header_row] 
    df = df[1:]  
    globals()[df_name] = df

In [46]:
# Empilhando os dadod com concat do pandas
import pandas as pd

df_cepea_etanol = pd.concat([df_etanol_pr_2010_2012,
                             df_etanol_pr_2012_2014,
                             df_etanol_pr_2014_2017,
                             df_etanol_pr_2017_2020,
                             df_etanol_pr_2020_2023
                            ], axis=0)

# E renomeando as colunas, assim como mudança do símbolo de decimal de ',' para o '.'
df_cepea_etanol.reset_index(drop=True, inplace=True)

df_cepea_etanol.replace(',', '.', regex=True, inplace=True)
df_cepea_etanol.columns=['data', 'preco_etanol_real','preco_etanol_dolar']
print(df_cepea_etanol)

            data preco_etanol_real preco_etanol_dolar
0     15/07/2010             882.5           498.0200
1     16/07/2010             873.5           490.1800
2     19/07/2010             875.5           489.9300
3     20/07/2010             875.5           493.5200
4     21/07/2010               870           487.3900
...          ...               ...                ...
3218  10/07/2023              2294           469.6000
3219  11/07/2023            2305.5           474.5800
3220  12/07/2023              2285           474.2600
3221  13/07/2023              2257           471.1900
3222  14/07/2023              2232           465.5800

[3223 rows x 3 columns]

In [47]:
# Verificando os tipos de dados da data.frame df_cepea_etanol
df_cepea_etanol.dtypes

data                  object
preco_etanol_real     object
preco_etanol_dolar    object
dtype: object

In [48]:
# Transformando os dados do tipo objeto para float

# Colunas
columns_to_convert = ['preco_etanol_real', 'preco_etanol_dolar']

# Conversão utilizando loop
for column in columns_to_convert:
    df_cepea_etanol[column] = df_cepea_etanol[column].astype(float)

# Visualização do resultado
print(df_cepea_etanol.head())

         data  preco_etanol_real  preco_etanol_dolar
0  15/07/2010              882.5              498.02
1  16/07/2010              873.5              490.18
2  19/07/2010              875.5              489.93
3  20/07/2010              875.5              493.52
4  21/07/2010              870.0              487.39

In [49]:
# Verificação de valores NA em df_cepea_acucar

na_counts = df_cepea_etanol.isna().sum()

print(na_counts)

data                  0
preco_etanol_real     0
preco_etanol_dolar    0
dtype: int64

In [50]:
# Verificação da sanidade dos dados com estatísticas descritivas
df_cepea_etanol['ano']=df_cepea_etanol['data'].str[6:].astype(int)
summary_stats = df_cepea_etanol.groupby('ano').agg({
    'preco_etanol_real': ['mean', 'max', 'min'],
    'preco_etanol_dolar': ['mean', 'max', 'min']
})


summary_stats.columns = ['preco_etanol_real_mean', 'preco_etanol_real_max', 'preco_etanol_real_min',
                         'preco_etanol_dolar_mean', 'preco_etanol_dolar_max', 'preco_etanol_dolar_min']

df_cepea_etanol = df_cepea_etanol.drop(['ano'], axis=1)
print(summary_stats)

      preco_etanol_real_mean  preco_etanol_real_max  preco_etanol_real_min  \
ano
2010              990.362069                 1173.0                  850.0
2011             1258.602410                 1694.0                 1013.5
2012             1156.534553                 1271.5                 1048.0
2013             1149.764113                 1365.5                 1013.0
2014             1191.044177                 1384.5                 1063.0
2015             1289.636179                 1684.5                 1094.0
2016             1622.610442                 1904.0                 1258.0
2017             1583.735772                 1924.5                 1320.5
2018             1728.397959                 1975.0                 1446.5
2019             1815.677419                 2105.5                 1581.5
2020             1862.490000                 2211.0                 1338.5
2021             3030.032389                 3959.5                 2116.5
2022             3048.702000                 3994.5                 2297.0
2023             2752.253731                 3217.5                 2232.0

      preco_etanol_dolar_mean  preco_etanol_dolar_max  preco_etanol_dolar_min
ano
2010               576.555862                  704.93                  480.23
2011               753.276546                 1019.87                  623.09
2012               595.642154                  720.50                  516.77
2013               536.503548                  687.06                  418.51
2014               507.779197                  614.66                  420.82
2015               389.824553                  518.67                  290.00
2016               468.105462                  592.66                  354.84
2017               496.380691                  601.86                  399.18
2018               477.801224                  606.76                  370.37
2019               460.408790                  535.75                  414.08
2020               366.817560                  527.66                  238.49
2021               561.945506                  718.60                  390.64
2022               592.797760                  853.91                  442.01
2023               544.523433                  644.52                  465.58

In [51]:
#Juntando dados de etanol e açúcar
dados_cepea= pd.merge(df_cepea_etanol, df_cepea_acucar, on= 'data', how='inner')
display(dados_cepea)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano
0,15/07/2010,882.5,498.02,40.49,22.85,2010
1,16/07/2010,873.5,490.18,40.65,22.81,2010
2,19/07/2010,875.5,489.93,40.90,22.89,2010
3,20/07/2010,875.5,493.52,41.05,23.14,2010
4,21/07/2010,870.0,487.39,41.11,23.03,2010
...,...,...,...,...,...,...
3214,10/07/2023,2294.0,469.60,139.04,28.46,2023
3215,11/07/2023,2305.5,474.58,140.01,28.82,2023
3216,12/07/2023,2285.0,474.26,140.09,29.08,2023
3217,13/07/2023,2257.0,471.19,138.08,28.83,2023
3218,14/07/2023,2232.0,465.58,136.31,28.43,2023

In [52]:
# Verificação de valores NA em df_cepea_acucar

na_counts = dados_cepea.isna().sum()

print(na_counts)

data                  0
preco_etanol_real     0
preco_etanol_dolar    0
preco_acucar_real     0
preco_acucar_dolar    0
ano                   0
dtype: int64

In [53]:
#3. Juntando dados Cepea e Conab

#print(df_final_conab_spread)

df_cepea_conab=pd.merge(dados_cepea, df_final_conab_spread, left_on='ano', right_on='ano_colheita', how='inner')

display(df_cepea_conab)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,atr_medio_NORTE,atr_medio_NORTE/NORDESTE,atr_medio_SUDESTE,etanol_hidratado_BRASIL,etanol_hidratado_CENTRO-OESTE,etanol_hidratado_CENTRO-SUL,etanol_hidratado_NORDESTE,etanol_hidratado_NORTE,etanol_hidratado_NORTE/NORDESTE,etanol_hidratado_SUDESTE
0,15/07/2010,882.5,498.02,40.49,22.85,2010,2010/11,2010,8056.100000,1202.60000,...,111.791865,130.255397,141.110591,1.957850e+07,4.310797e+06,1.849504e+07,1035336.3,48126.0,1083462.3,12830614.0
1,16/07/2010,873.5,490.18,40.65,22.81,2010,2010/11,2010,8056.100000,1202.60000,...,111.791865,130.255397,141.110591,1.957850e+07,4.310797e+06,1.849504e+07,1035336.3,48126.0,1083462.3,12830614.0
2,19/07/2010,875.5,489.93,40.90,22.89,2010,2010/11,2010,8056.100000,1202.60000,...,111.791865,130.255397,141.110591,1.957850e+07,4.310797e+06,1.849504e+07,1035336.3,48126.0,1083462.3,12830614.0
3,20/07/2010,875.5,493.52,41.05,23.14,2010,2010/11,2010,8056.100000,1202.60000,...,111.791865,130.255397,141.110591,1.957850e+07,4.310797e+06,1.849504e+07,1035336.3,48126.0,1083462.3,12830614.0
4,21/07/2010,870.0,487.39,41.11,23.03,2010,2010/11,2010,8056.100000,1202.60000,...,111.791865,130.255397,141.110591,1.957850e+07,4.310797e+06,1.849504e+07,1035336.3,48126.0,1083462.3,12830614.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3080,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,129.309919,127.495635,134.436630,1.521244e+07,5.639862e+06,1.412086e+07,961709.2,129873.0,1091582.2,7985700.9
3081,26/12/2022,2975.0,571.24,140.59,27.00,2022,2022/23,2022,8292.725995,1767.47359,...,129.309919,127.495635,134.436630,1.521244e+07,5.639862e+06,1.412086e+07,961709.2,129873.0,1091582.2,7985700.9
3082,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,129.309919,127.495635,134.436630,1.521244e+07,5.639862e+06,1.412086e+07,961709.2,129873.0,1091582.2,7985700.9
3083,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,129.309919,127.495635,134.436630,1.521244e+07,5.639862e+06,1.412086e+07,961709.2,129873.0,1091582.2,7985700.9
3084,29/12/2022,2969.0,562.31,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,129.309919,127.495635,134.436630,1.521244e+07,5.639862e+06,1.412086e+07,961709.2,129873.0,1091582.2,7985700.9

In [54]:
# Verificação de valores NA em df_cepea_acucar

na_counts =df_cepea_conab.isna().sum()

for item, count in na_counts.items():
    print(item, count)

data 0
preco_etanol_real 0
preco_etanol_dolar 0
preco_acucar_real 0
preco_acucar_dolar 0
ano 0
safra 0
ano_colheita 0
area_BRASIL 0
area_CENTRO-OESTE 0
area_CENTRO-SUL 0
area_NORDESTE 0
area_NORTE 0
area_NORTE/NORDESTE 0
area_SUDESTE 0
produtividade_BRASIL 0
produtividade_CENTRO-OESTE 0
produtividade_CENTRO-SUL 0
produtividade_NORDESTE 0
produtividade_NORTE 0
produtividade_NORTE/NORDESTE 0
produtividade_SUDESTE 0
producao_BRASIL 0
producao_CENTRO-OESTE 0
producao_CENTRO-SUL 0
producao_NORDESTE 0
producao_NORTE 0
producao_NORTE/NORDESTE 0
producao_SUDESTE 0
acucar_BRASIL 0
acucar_CENTRO-OESTE 0
acucar_CENTRO-SUL 0
acucar_NORDESTE 0
acucar_NORTE 0
acucar_NORTE/NORDESTE 0
acucar_SUDESTE 0
etanol_total_BRASIL 0
etanol_total_CENTRO-OESTE 0
etanol_total_CENTRO-SUL 0
etanol_total_NORDESTE 0
etanol_total_NORTE 0
etanol_total_NORTE/NORDESTE 0
etanol_total_SUDESTE 0
etanol_anidro_BRASIL 0
etanol_anidro_CENTRO-OESTE 0
etanol_anidro_CENTRO-SUL 0
etanol_anidro_NORDESTE 0
etanol_anidro_NORTE 0
etanol_anidro_NORTE/NORDESTE 0
etanol_anidro_SUDESTE 0
atr_medio_BRASIL 0
atr_medio_CENTRO-OESTE 0
atr_medio_CENTRO-SUL 0
atr_medio_NORDESTE 0
atr_medio_NORTE 0
atr_medio_NORTE/NORDESTE 0
atr_medio_SUDESTE 0
etanol_hidratado_BRASIL 0
etanol_hidratado_CENTRO-OESTE 0
etanol_hidratado_CENTRO-SUL 0
etanol_hidratado_NORDESTE 0
etanol_hidratado_NORTE 0
etanol_hidratado_NORTE/NORDESTE 0
etanol_hidratado_SUDESTE 0

In [55]:
#Obtendo dados do banco central do brasil
#Rodado no prompt de comando (cmd)
#!pip install python-bcb
import bcb
from bcb import sgs
from bcb import currency

selic = sgs.get({'ipca': 433, 'igp-m': 189}, start='2010-10-15')
cy = currency.get(['USD', 'EUR', 'GBP'], start='2010-10-01', end='2024-03-01')

import pandas as pd

# Merge dataframes
df_bcb = pd.merge(cy, selic, on='Date', how='left')

# Reset the index to make 'Date' a regular column
df_bcb.reset_index(inplace=True)

print(df_bcb)

           Date     EUR     GBP     USD  ipca  igp-m
0    2010-10-01  2.3167  2.6618  1.6812  0.75   1.01
1    2010-10-04  2.3091  2.6721  1.6882   NaN    NaN
2    2010-10-05  2.3282  2.6740  1.6808   NaN    NaN
3    2010-10-06  2.3357  2.6633  1.6758   NaN    NaN
4    2010-10-07  2.3342  2.6625  1.6777   NaN    NaN
...         ...     ...     ...     ...   ...    ...
3363 2024-02-26  5.4064  6.3205  4.9819   NaN    NaN
3364 2024-02-27  5.3779  6.2886  4.9575   NaN    NaN
3365 2024-02-28  5.3690  6.2719  4.9557   NaN    NaN
3366 2024-02-29  5.3939  6.3049  4.9833   NaN    NaN
3367 2024-03-01  5.3747  6.2764  4.9596  0.16  -0.47

[3368 rows x 6 columns]

In [56]:
# Convertendo coluna data para o formato date (formato '%d-%m-%Y')
df_bcb['Date'] = pd.to_datetime(df_bcb['Date'])

df_bcb['Date'] = df_bcb['Date'].dt.strftime('%d/%m/%Y')

print(df_bcb)

            Date     EUR     GBP     USD  ipca  igp-m
0     01/10/2010  2.3167  2.6618  1.6812  0.75   1.01
1     04/10/2010  2.3091  2.6721  1.6882   NaN    NaN
2     05/10/2010  2.3282  2.6740  1.6808   NaN    NaN
3     06/10/2010  2.3357  2.6633  1.6758   NaN    NaN
4     07/10/2010  2.3342  2.6625  1.6777   NaN    NaN
...          ...     ...     ...     ...   ...    ...
3363  26/02/2024  5.4064  6.3205  4.9819   NaN    NaN
3364  27/02/2024  5.3779  6.2886  4.9575   NaN    NaN
3365  28/02/2024  5.3690  6.2719  4.9557   NaN    NaN
3366  29/02/2024  5.3939  6.3049  4.9833   NaN    NaN
3367  01/03/2024  5.3747  6.2764  4.9596  0.16  -0.47

[3368 rows x 6 columns]

In [57]:
df_bcb.dtypes

Date      object
EUR      float64
GBP      float64
USD      float64
ipca     float64
igp-m    float64
dtype: object

In [58]:
#Juntando com dados anteriores

# Convert 'data' column to datetime dtype
#df_atualizada['data'] = pd.to_datetime(df_atualizada['data'], infer_datetime_format=True, format='%d/%m/%y')
df_atualizada=pd.merge(df_cepea_conab, df_bcb, left_on='data', right_on='Date', how='inner')
display(df_atualizada)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,etanol_hidratado_NORDESTE,etanol_hidratado_NORTE,etanol_hidratado_NORTE/NORDESTE,etanol_hidratado_SUDESTE,Date,EUR,GBP,USD,ipca,igp-m
0,01/10/2010,1018.0,606.31,67.29,40.08,2010,2010/11,2010,8056.100000,1202.60000,...,1035336.3,48126.0,1083462.3,12830614.0,01/10/2010,2.3167,2.6618,1.6812,0.75,1.01
1,04/10/2010,1025.0,606.15,67.72,40.05,2010,2010/11,2010,8056.100000,1202.60000,...,1035336.3,48126.0,1083462.3,12830614.0,04/10/2010,2.3091,2.6721,1.6882,NaN,NaN
2,05/10/2010,1023.0,612.57,68.43,40.97,2010,2010/11,2010,8056.100000,1202.60000,...,1035336.3,48126.0,1083462.3,12830614.0,05/10/2010,2.3282,2.6740,1.6808,NaN,NaN
3,06/10/2010,1023.5,609.23,69.30,41.25,2010,2010/11,2010,8056.100000,1202.60000,...,1035336.3,48126.0,1083462.3,12830614.0,06/10/2010,2.3357,2.6633,1.6758,NaN,NaN
4,07/10/2010,1025.0,607.95,70.22,41.65,2010,2010/11,2010,8056.100000,1202.60000,...,1035336.3,48126.0,1083462.3,12830614.0,07/10/2010,2.3342,2.6625,1.6777,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,961709.2,129873.0,1091582.2,7985700.9,23/12/2022,5.4609,6.2043,5.1445,NaN,NaN
3029,26/12/2022,2975.0,571.24,140.59,27.00,2022,2022/23,2022,8292.725995,1767.47359,...,961709.2,129873.0,1091582.2,7985700.9,26/12/2022,5.5145,6.2599,5.1872,NaN,NaN
3030,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,961709.2,129873.0,1091582.2,7985700.9,27/12/2022,5.6271,6.3515,5.2832,NaN,NaN
3031,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,961709.2,129873.0,1091582.2,7985700.9,28/12/2022,5.6006,6.3484,5.2736,NaN,NaN
3032,29/12/2022,2969.0,562.31,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,961709.2,129873.0,1091582.2,7985700.9,29/12/2022,5.5668,6.2910,5.2177,NaN,NaN

In [59]:
# Extraindo mes e dia em novas colunas
df_atualizada['mes'] = df_atualizada['data'].apply(lambda x: x.split('/')[1] if '/' in x else x.split('-')[1])
df_atualizada['dia'] = df_atualizada['data'].apply(lambda x: x.split('/')[0] if '/' in x else x.split('-')[0])
df_atualizada['ano'] = df_atualizada['data'].apply(lambda x: x.split('/')[2] if '/' in x else x.split('-')[2])
display(df_atualizada)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,etanol_hidratado_NORTE/NORDESTE,etanol_hidratado_SUDESTE,Date,EUR,GBP,USD,ipca,igp-m,mes,dia
0,01/10/2010,1018.0,606.31,67.29,40.08,2010,2010/11,2010,8056.100000,1202.60000,...,1083462.3,12830614.0,01/10/2010,2.3167,2.6618,1.6812,0.75,1.01,10,01
1,04/10/2010,1025.0,606.15,67.72,40.05,2010,2010/11,2010,8056.100000,1202.60000,...,1083462.3,12830614.0,04/10/2010,2.3091,2.6721,1.6882,NaN,NaN,10,04
2,05/10/2010,1023.0,612.57,68.43,40.97,2010,2010/11,2010,8056.100000,1202.60000,...,1083462.3,12830614.0,05/10/2010,2.3282,2.6740,1.6808,NaN,NaN,10,05
3,06/10/2010,1023.5,609.23,69.30,41.25,2010,2010/11,2010,8056.100000,1202.60000,...,1083462.3,12830614.0,06/10/2010,2.3357,2.6633,1.6758,NaN,NaN,10,06
4,07/10/2010,1025.0,607.95,70.22,41.65,2010,2010/11,2010,8056.100000,1202.60000,...,1083462.3,12830614.0,07/10/2010,2.3342,2.6625,1.6777,NaN,NaN,10,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,1091582.2,7985700.9,23/12/2022,5.4609,6.2043,5.1445,NaN,NaN,12,23
3029,26/12/2022,2975.0,571.24,140.59,27.00,2022,2022/23,2022,8292.725995,1767.47359,...,1091582.2,7985700.9,26/12/2022,5.5145,6.2599,5.1872,NaN,NaN,12,26
3030,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,1091582.2,7985700.9,27/12/2022,5.6271,6.3515,5.2832,NaN,NaN,12,27
3031,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,1091582.2,7985700.9,28/12/2022,5.6006,6.3484,5.2736,NaN,NaN,12,28
3032,29/12/2022,2969.0,562.31,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,1091582.2,7985700.9,29/12/2022,5.5668,6.2910,5.2177,NaN,NaN,12,29

In [60]:
# Imputando dados faltantes de IPCA e IGP-M com moda mensal ou anual
def calculate_mode(group):
    if group.notna().any():  
        return group.mode().iloc[0]  
    else:
        return pd.NA 

grouping_columns = [['ano', 'mes'], ['ano']]  

for col in ['ipca', 'igp-m']:  
    for group_cols in grouping_columns:  
        df_atualizada[col] = df_atualizada[col].fillna(df_atualizada.groupby(group_cols)[col].transform(calculate_mode))

display(df_atualizada)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,etanol_hidratado_NORTE/NORDESTE,etanol_hidratado_SUDESTE,Date,EUR,GBP,USD,ipca,igp-m,mes,dia
0,01/10/2010,1018.0,606.31,67.29,40.08,2010,2010/11,2010,8056.100000,1202.60000,...,1083462.3,12830614.0,01/10/2010,2.3167,2.6618,1.6812,0.75,1.01,10,01
1,04/10/2010,1025.0,606.15,67.72,40.05,2010,2010/11,2010,8056.100000,1202.60000,...,1083462.3,12830614.0,04/10/2010,2.3091,2.6721,1.6882,0.75,1.01,10,04
2,05/10/2010,1023.0,612.57,68.43,40.97,2010,2010/11,2010,8056.100000,1202.60000,...,1083462.3,12830614.0,05/10/2010,2.3282,2.6740,1.6808,0.75,1.01,10,05
3,06/10/2010,1023.5,609.23,69.30,41.25,2010,2010/11,2010,8056.100000,1202.60000,...,1083462.3,12830614.0,06/10/2010,2.3357,2.6633,1.6758,0.75,1.01,10,06
4,07/10/2010,1025.0,607.95,70.22,41.65,2010,2010/11,2010,8056.100000,1202.60000,...,1083462.3,12830614.0,07/10/2010,2.3342,2.6625,1.6777,0.75,1.01,10,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,1091582.2,7985700.9,23/12/2022,5.4609,6.2043,5.1445,0.62,0.45,12,23
3029,26/12/2022,2975.0,571.24,140.59,27.00,2022,2022/23,2022,8292.725995,1767.47359,...,1091582.2,7985700.9,26/12/2022,5.5145,6.2599,5.1872,0.62,0.45,12,26
3030,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,1091582.2,7985700.9,27/12/2022,5.6271,6.3515,5.2832,0.62,0.45,12,27
3031,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,1091582.2,7985700.9,28/12/2022,5.6006,6.3484,5.2736,0.62,0.45,12,28
3032,29/12/2022,2969.0,562.31,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,1091582.2,7985700.9,29/12/2022,5.5668,6.2910,5.2177,0.62,0.45,12,29

In [61]:
# Valores NAs
import pandas as pd

missing_values = df_atualizada.isna().sum()

for item, i in missing_values.items():
    print(item, i)

data 0
preco_etanol_real 0
preco_etanol_dolar 0
preco_acucar_real 0
preco_acucar_dolar 0
ano 0
safra 0
ano_colheita 0
area_BRASIL 0
area_CENTRO-OESTE 0
area_CENTRO-SUL 0
area_NORDESTE 0
area_NORTE 0
area_NORTE/NORDESTE 0
area_SUDESTE 0
produtividade_BRASIL 0
produtividade_CENTRO-OESTE 0
produtividade_CENTRO-SUL 0
produtividade_NORDESTE 0
produtividade_NORTE 0
produtividade_NORTE/NORDESTE 0
produtividade_SUDESTE 0
producao_BRASIL 0
producao_CENTRO-OESTE 0
producao_CENTRO-SUL 0
producao_NORDESTE 0
producao_NORTE 0
producao_NORTE/NORDESTE 0
producao_SUDESTE 0
acucar_BRASIL 0
acucar_CENTRO-OESTE 0
acucar_CENTRO-SUL 0
acucar_NORDESTE 0
acucar_NORTE 0
acucar_NORTE/NORDESTE 0
acucar_SUDESTE 0
etanol_total_BRASIL 0
etanol_total_CENTRO-OESTE 0
etanol_total_CENTRO-SUL 0
etanol_total_NORDESTE 0
etanol_total_NORTE 0
etanol_total_NORTE/NORDESTE 0
etanol_total_SUDESTE 0
etanol_anidro_BRASIL 0
etanol_anidro_CENTRO-OESTE 0
etanol_anidro_CENTRO-SUL 0
etanol_anidro_NORDESTE 0
etanol_anidro_NORTE 0
etanol_anidro_NORTE/NORDESTE 0
etanol_anidro_SUDESTE 0
atr_medio_BRASIL 0
atr_medio_CENTRO-OESTE 0
atr_medio_CENTRO-SUL 0
atr_medio_NORDESTE 0
atr_medio_NORTE 0
atr_medio_NORTE/NORDESTE 0
atr_medio_SUDESTE 0
etanol_hidratado_BRASIL 0
etanol_hidratado_CENTRO-OESTE 0
etanol_hidratado_CENTRO-SUL 0
etanol_hidratado_NORDESTE 0
etanol_hidratado_NORTE 0
etanol_hidratado_NORTE/NORDESTE 0
etanol_hidratado_SUDESTE 0
Date 0
EUR 0
GBP 0
USD 0
ipca 0
igp-m 0
mes 0
dia 0

In [62]:
# Tipos de dados inseridos em df_atualizada
df_atualizada[['ano','EUR', 'GBP', 'USD', 'ipca', 'igp-m']].dtypes

ano       object
EUR      float64
GBP      float64
USD      float64
ipca     float64
igp-m    float64
dtype: object

In [63]:
# Sanidade geral desses dados

# Assuming df_atualizada is your DataFrame

# Grouping by 'ano' and calculating mean, min, and max for the specified columns
summary_stats = df_atualizada[['ano','EUR', 'GBP', 'USD', 'ipca', 'igp-m']].groupby('ano').agg({
    'EUR': ['mean', 'min', 'max'],
    'GBP': ['mean', 'min', 'max'],
    'USD': ['mean', 'min', 'max'],
    'ipca': ['mean', 'min', 'max'],
    'igp-m': ['mean', 'min', 'max']
})

# Renaming the columns for better understanding
summary_stats.columns = ['EUR_mean', 'EUR_min', 'EUR_max',
                         'GBP_mean', 'GBP_min', 'GBP_max',
                         'USD_mean', 'USD_min', 'USD_max',
                         'ipca_mean', 'ipca_min', 'ipca_max',
                         'igp-m_mean', 'igp-m_min', 'igp-m_max']

# Displaying the summary statistics
print(summary_stats)

      EUR_mean  EUR_min  EUR_max  GBP_mean  GBP_min  GBP_max  USD_mean  \
ano
2010  2.304410   2.2111   2.3905  2.680990   2.5671   2.7768  1.697103
2011  2.328904   2.1894   2.5565  2.683086   2.4875   2.9343  1.673787
2012  2.508932   2.2465   2.7633  3.096979   2.6724   3.4019  1.954082
2013  2.869132   2.5347   3.2682  3.379171   2.9132   3.8962  2.159000
2014  3.119588   2.8900   3.4320  3.870766   3.6309   4.3168  2.351943
2015  3.693786   2.9080   4.7209  5.095801   3.8797   6.3989  3.332197
2016  3.853636   3.3879   4.5032  4.733267   3.7846   5.9462  3.481750
2017  3.607338   3.2455   3.9531  4.112827   3.8033   4.4698  3.191888
2018  4.309107   3.8617   4.8814  4.870560   4.3748   5.4812  3.654769
2019  4.415293   4.1874   4.6874  5.032894   4.6007   5.5443  3.945580
2020  5.897810   4.5051   6.7393  6.615942   5.2983   7.4652  5.159808
2021  6.377947   5.8757   6.9422  7.419700   6.8396   8.1143  5.393919
2022  5.441455   4.9841   6.4435  6.387126   5.6801   7.7178  5.165274

      USD_min  USD_max  ipca_mean  ipca_min  ipca_max  igp-m_mean  igp-m_min  \
ano
2010   1.6554   1.7336   0.736667      0.63      0.83    1.050000       0.69
2011   1.5345   1.9016   0.470612      0.15      0.80    0.238531      -0.18
2012   1.7024   2.1121   0.399146      0.08      0.60    0.924024      -0.06
2013   1.9528   2.4457   0.259839      0.03      0.60    0.251365       0.15
2014   2.1974   2.7403   0.232450      0.01      0.78   -0.217108      -0.61
2015   2.5754   4.1949   0.679474      0.54      0.96    0.835101       0.49
2016   3.1193   4.1558   0.423614      0.08      0.90    0.444498      -0.03
2017   3.0510   3.3807   0.193821     -0.23      0.44    0.110244      -0.67
2018   3.1450   4.1879   0.110449     -0.21      1.26    0.673633      -0.49
2019   3.6519   4.2602   0.256492      0.10      0.75    0.587177      -0.67
2020   4.0213   5.9372   0.442063     -0.31      1.35    2.219048       0.80
2021   4.9206   5.8397   0.873320      0.31      1.25    1.508704      -0.64
2022   4.6175   5.7042   0.061480     -0.68      1.06   -0.075760      -0.95

      igp-m_max
ano
2010       1.45
2011       1.00
2012       1.43
2013       0.86
2014       0.78
2015       1.89
2016       1.69
2017       0.89
2018       1.87
2019       1.26
2020       4.34
2021       2.94
2022       1.83

In [64]:
# 4. Dados preços de petróleo
#!pip install yfinance
import yfinance as yf


ticker_symbol = 'BZ=F'  


start_date = '2010-10-01'
end_date = '2022-12-29'


brent_crude_data = yf.download(ticker_symbol, start=start_date, end=end_date)


brent_crude_data = brent_crude_data[['Close']].reset_index().rename(columns={'Close': 'Preco_petroleo'})
brent_crude_data['Date'] = brent_crude_data['Date'].dt.strftime('%d/%m/%Y')

print(brent_crude_data)

[*********************100%%**********************]  1 of 1 completed

            Date  Preco_petroleo
0     01/10/2010       83.750000
1     04/10/2010       83.279999
2     05/10/2010       84.839996
3     06/10/2010       85.059998
4     07/10/2010       83.430000
...          ...             ...
3040  21/12/2022       82.199997
3041  22/12/2022       80.980003
3042  23/12/2022       83.919998
3043  27/12/2022       84.330002
3044  28/12/2022       83.260002

[3045 rows x 2 columns]

In [65]:
# Tipos dos dados como foram importados
brent_crude_data.dtypes

Date               object
Preco_petroleo    float64
dtype: object

In [66]:
# Valores NAs
import pandas as pd

missing_values = brent_crude_data.isna().sum()

for item, i in missing_values.items():
    print(item, i)

Date 0
Preco_petroleo 0

In [67]:
#Juntando com dados anteriores
# Convert 'data' column to datetime dtype

# Convert 'data' column to datetime dtype
#df_atualizada['data'] = pd.to_datetime(df_atualizada['data'], infer_datetime_format=True, format='%d/%m/%y')
df_atualizada1=pd.merge(df_atualizada, brent_crude_data, left_on='data', right_on='Date', how='left')
display(df_atualizada1)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,Date_x,EUR,GBP,USD,ipca,igp-m,mes,dia,Date_y,Preco_petroleo
0,01/10/2010,1018.0,606.31,67.29,40.08,2010,2010/11,2010,8056.100000,1202.60000,...,01/10/2010,2.3167,2.6618,1.6812,0.75,1.01,10,01,01/10/2010,83.750000
1,04/10/2010,1025.0,606.15,67.72,40.05,2010,2010/11,2010,8056.100000,1202.60000,...,04/10/2010,2.3091,2.6721,1.6882,0.75,1.01,10,04,04/10/2010,83.279999
2,05/10/2010,1023.0,612.57,68.43,40.97,2010,2010/11,2010,8056.100000,1202.60000,...,05/10/2010,2.3282,2.6740,1.6808,0.75,1.01,10,05,05/10/2010,84.839996
3,06/10/2010,1023.5,609.23,69.30,41.25,2010,2010/11,2010,8056.100000,1202.60000,...,06/10/2010,2.3357,2.6633,1.6758,0.75,1.01,10,06,06/10/2010,85.059998
4,07/10/2010,1025.0,607.95,70.22,41.65,2010,2010/11,2010,8056.100000,1202.60000,...,07/10/2010,2.3342,2.6625,1.6777,0.75,1.01,10,07,07/10/2010,83.430000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,23/12/2022,5.4609,6.2043,5.1445,0.62,0.45,12,23,23/12/2022,83.919998
3029,26/12/2022,2975.0,571.24,140.59,27.00,2022,2022/23,2022,8292.725995,1767.47359,...,26/12/2022,5.5145,6.2599,5.1872,0.62,0.45,12,26,NaN,NaN
3030,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,27/12/2022,5.6271,6.3515,5.2832,0.62,0.45,12,27,27/12/2022,84.330002
3031,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,28/12/2022,5.6006,6.3484,5.2736,0.62,0.45,12,28,28/12/2022,83.260002
3032,29/12/2022,2969.0,562.31,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,29/12/2022,5.5668,6.2910,5.2177,0.62,0.45,12,29,NaN,NaN

In [68]:
# Sanidade geral desses dados

# Assuming df_atualizada is your DataFrame

# Grouping by 'ano' and calculating mean, min, and max for the specified columns
summary_stats = df_atualizada1[['ano','Preco_petroleo']].groupby('ano').agg({
    'Preco_petroleo': ['mean', 'min', 'max']
})

# Renaming the columns for better understanding
summary_stats.columns = ['Preco_petroleo_mean', 'Preco_petroleo_min', 'Preco_petroleo_max']

# Displaying the summary statistics
print(summary_stats)

      Preco_petroleo_mean  Preco_petroleo_min  Preco_petroleo_max
ano
2010            87.295084           81.099998           94.379997
2011           111.116740           93.529999          126.650002
2012           111.776018           89.230003          126.220001
2013           108.667180           99.129997          118.900002
2014            99.400954           57.880001          114.809998
2015            53.536749           36.110001           67.769997
2016            45.218625           27.879999           56.220001
2017            54.646471           44.820000           67.019997
2018            71.960633           52.160000           86.290001
2019            64.161405           54.910000           74.570000
2020            43.101585           19.990000           68.910004
2021            70.871577           51.090000           86.400002
2022            99.066390           76.099998          127.980003

In [69]:
# Verificando valores NA após o join
# Valores NAs
import pandas as pd

missing_values = df_atualizada1.isna().sum()

for item, i in missing_values.items():
    print(item, i)

data 0
preco_etanol_real 0
preco_etanol_dolar 0
preco_acucar_real 0
preco_acucar_dolar 0
ano 0
safra 0
ano_colheita 0
area_BRASIL 0
area_CENTRO-OESTE 0
area_CENTRO-SUL 0
area_NORDESTE 0
area_NORTE 0
area_NORTE/NORDESTE 0
area_SUDESTE 0
produtividade_BRASIL 0
produtividade_CENTRO-OESTE 0
produtividade_CENTRO-SUL 0
produtividade_NORDESTE 0
produtividade_NORTE 0
produtividade_NORTE/NORDESTE 0
produtividade_SUDESTE 0
producao_BRASIL 0
producao_CENTRO-OESTE 0
producao_CENTRO-SUL 0
producao_NORDESTE 0
producao_NORTE 0
producao_NORTE/NORDESTE 0
producao_SUDESTE 0
acucar_BRASIL 0
acucar_CENTRO-OESTE 0
acucar_CENTRO-SUL 0
acucar_NORDESTE 0
acucar_NORTE 0
acucar_NORTE/NORDESTE 0
acucar_SUDESTE 0
etanol_total_BRASIL 0
etanol_total_CENTRO-OESTE 0
etanol_total_CENTRO-SUL 0
etanol_total_NORDESTE 0
etanol_total_NORTE 0
etanol_total_NORTE/NORDESTE 0
etanol_total_SUDESTE 0
etanol_anidro_BRASIL 0
etanol_anidro_CENTRO-OESTE 0
etanol_anidro_CENTRO-SUL 0
etanol_anidro_NORDESTE 0
etanol_anidro_NORTE 0
etanol_anidro_NORTE/NORDESTE 0
etanol_anidro_SUDESTE 0
atr_medio_BRASIL 0
atr_medio_CENTRO-OESTE 0
atr_medio_CENTRO-SUL 0
atr_medio_NORDESTE 0
atr_medio_NORTE 0
atr_medio_NORTE/NORDESTE 0
atr_medio_SUDESTE 0
etanol_hidratado_BRASIL 0
etanol_hidratado_CENTRO-OESTE 0
etanol_hidratado_CENTRO-SUL 0
etanol_hidratado_NORDESTE 0
etanol_hidratado_NORTE 0
etanol_hidratado_NORTE/NORDESTE 0
etanol_hidratado_SUDESTE 0
Date_x 0
EUR 0
GBP 0
USD 0
ipca 0
igp-m 0
mes 0
dia 0
Date_y 113
Preco_petroleo 113

In [70]:
# Remoção de linhas com NAs
# Removendo as linhas com valores NA nas colunas especificadas
df_atualizada1 = df_atualizada1.dropna(subset=['Date_y', 'Preco_petroleo'])

In [71]:
# 5. Importando dados de desemprego e PIB
import numpy as np
import pandas as pd
import statsmodels.formula.api as sm
import os
import requests

In [72]:
# Criando função da API
def get_bcb(cod_bcb):
    url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.{}/dados?formato=json'.format(cod_bcb)
    df = pd.read_json(url)
    df['data'] = pd.to_datetime(df['data'], dayfirst=True)
    df.set_index('data', inplace=True)
    return df

In [73]:
# Aplicando a função para obter dados de desemprego
des = get_bcb(24369).reset_index().rename(columns={'valor': 'Desemprego'})  # 24369 is the code of PNADC

des['data'] = des['data'].dt.strftime('%d/%m/%Y')

print(des)  # head of data

           data  Desemprego
0    01/03/2012         8.0
1    01/04/2012         7.8
2    01/05/2012         7.7
3    01/06/2012         7.6
4    01/07/2012         7.5
..          ...         ...
140  01/11/2023         7.5
141  01/12/2023         7.4
142  01/01/2024         7.6
143  01/02/2024         7.8
144  01/03/2024         7.9

[145 rows x 2 columns]

In [74]:
# obtendo dados do PIB
pib = get_bcb(4380).reset_index().rename(columns={'valor': 'PIB'})  # 24369 is the code of PNADC

pib['data'] = pib['data'].dt.strftime('%d/%m/%Y')

pib.tail(30) # head of data

           data       PIB
381  01/10/2021  773422.5
382  01/11/2021  788309.7
383  01/12/2021  794249.8
384  01/01/2022  724730.0
385  01/02/2022  753035.5
386  01/03/2022  841762.6
387  01/04/2022  832453.5
388  01/05/2022  842011.1
389  01/06/2022  843016.8
390  01/07/2022  869553.2
391  01/08/2022  873807.5
392  01/09/2022  857821.3
393  01/10/2022  880601.6
394  01/11/2022  880598.2
395  01/12/2022  880285.4
396  01/01/2023  812801.6
397  01/02/2023  831277.6
398  01/03/2023  938626.6
399  01/04/2023  904116.9
400  01/05/2023  903592.1
401  01/06/2023  893395.9
402  01/07/2023  912281.0
403  01/08/2023  923588.8
404  01/09/2023  905091.6
405  01/10/2023  941314.9
406  01/11/2023  949208.9
407  01/12/2023  940816.4
408  01/01/2024  887151.6
409  01/02/2024  891740.3
410  01/03/2024  974816.5

In [75]:
#Juntando com dados anteriores

df_atualizada2=pd.merge(df_atualizada1, des, left_on='data', right_on='data', how='left')
df_atualizada2=pd.merge(df_atualizada2, pib, left_on='data', right_on='data', how='left')
print(df_atualizada2)

            data  preco_etanol_real  preco_etanol_dolar  preco_acucar_real  \
0     01/10/2010             1018.0              606.31              67.29
1     04/10/2010             1025.0              606.15              67.72
2     05/10/2010             1023.0              612.57              68.43
3     06/10/2010             1023.5              609.23              69.30
4     07/10/2010             1025.0              607.95              70.22
...          ...                ...                 ...                ...
2915  21/12/2022             2968.0              571.10             140.08
2916  22/12/2022             2969.5              573.59             141.65
2917  23/12/2022             2971.5              575.43             141.65
2918  27/12/2022             2973.0              562.64             136.69
2919  28/12/2022             2968.0              565.01             136.69

      preco_acucar_dolar   ano        safra  ano_colheita  area_BRASIL  \
0                  40.08  2010  2010/11              2010  8056.100000
1                  40.05  2010  2010/11              2010  8056.100000
2                  40.97  2010  2010/11              2010  8056.100000
3                  41.25  2010  2010/11              2010  8056.100000
4                  41.65  2010  2010/11              2010  8056.100000
...                  ...   ...          ...           ...          ...
2915               26.95  2022      2022/23          2022  8292.725995
2916               27.36  2022      2022/23          2022  8292.725995
2917               27.36  2022      2022/23          2022  8292.725995
2918               25.87  2022      2022/23          2022  8292.725995
2919               25.87  2022      2022/23          2022  8292.725995

      area_CENTRO-OESTE  ...     GBP     USD  ipca  igp-m  mes  dia  \
0            1202.60000  ...  2.6618  1.6812  0.75   1.01   10   01
1            1202.60000  ...  2.6721  1.6882  0.75   1.01   10   04
2            1202.60000  ...  2.6740  1.6808  0.75   1.01   10   05
3            1202.60000  ...  2.6633  1.6758  0.75   1.01   10   06
4            1202.60000  ...  2.6625  1.6777  0.75   1.01   10   07
...                 ...  ...     ...     ...   ...    ...  ...  ...
2915         1767.47359  ...  6.3015  5.2031  0.62   0.45   12   21
2916         1767.47359  ...  6.2401  5.1871  0.62   0.45   12   22
2917         1767.47359  ...  6.2043  5.1445  0.62   0.45   12   23
2918         1767.47359  ...  6.3515  5.2832  0.62   0.45   12   27
2919         1767.47359  ...  6.3484  5.2736  0.62   0.45   12   28

          Date_y  Preco_petroleo  Desemprego       PIB
0     01/10/2010       83.750000         NaN  350937.7
1     04/10/2010       83.279999         NaN       NaN
2     05/10/2010       84.839996         NaN       NaN
3     06/10/2010       85.059998         NaN       NaN
4     07/10/2010       83.430000         NaN       NaN
...          ...             ...         ...       ...
2915  21/12/2022       82.199997         NaN       NaN
2916  22/12/2022       80.980003         NaN       NaN
2917  23/12/2022       83.919998         NaN       NaN
2918  27/12/2022       84.330002         NaN       NaN
2919  28/12/2022       83.260002         NaN       NaN

[2920 rows x 76 columns]

In [76]:
# Imputando valores faltantes de desemprego e pib com a moda por ano+mes ou por ano
def calculate_mode(group):
    if group.notna().any(): 
        return group.mode().iloc[0] 
    else:
        return pd.NA 

grouping_columns = [['ano', 'mes'], ['ano']]  

columns_to_fill = ['Preco_petroleo', 'Desemprego', 'PIB']  

for col in columns_to_fill: 
    for group_cols in grouping_columns:  
        df_atualizada2[col] = df_atualizada2[col].fillna(df_atualizada2.groupby(group_cols)[col].transform(calculate_mode))

display(df_atualizada2)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,GBP,USD,ipca,igp-m,mes,dia,Date_y,Preco_petroleo,Desemprego,PIB
0,01/10/2010,1018.0,606.31,67.29,40.08,2010,2010/11,2010,8056.100000,1202.60000,...,2.6618,1.6812,0.75,1.01,10,01,01/10/2010,83.750000,NaN,350937.7
1,04/10/2010,1025.0,606.15,67.72,40.05,2010,2010/11,2010,8056.100000,1202.60000,...,2.6721,1.6882,0.75,1.01,10,04,04/10/2010,83.279999,NaN,350937.7
2,05/10/2010,1023.0,612.57,68.43,40.97,2010,2010/11,2010,8056.100000,1202.60000,...,2.6740,1.6808,0.75,1.01,10,05,05/10/2010,84.839996,NaN,350937.7
3,06/10/2010,1023.5,609.23,69.30,41.25,2010,2010/11,2010,8056.100000,1202.60000,...,2.6633,1.6758,0.75,1.01,10,06,06/10/2010,85.059998,NaN,350937.7
4,07/10/2010,1025.0,607.95,70.22,41.65,2010,2010/11,2010,8056.100000,1202.60000,...,2.6625,1.6777,0.75,1.01,10,07,07/10/2010,83.430000,NaN,350937.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,21/12/2022,2968.0,571.10,140.08,26.95,2022,2022/23,2022,8292.725995,1767.47359,...,6.3015,5.2031,0.62,0.45,12,21,21/12/2022,82.199997,7.9,880285.4
2916,22/12/2022,2969.5,573.59,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,6.2401,5.1871,0.62,0.45,12,22,22/12/2022,80.980003,7.9,880285.4
2917,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,6.2043,5.1445,0.62,0.45,12,23,23/12/2022,83.919998,7.9,880285.4
2918,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,6.3515,5.2832,0.62,0.45,12,27,27/12/2022,84.330002,7.9,880285.4
2919,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,6.3484,5.2736,0.62,0.45,12,28,28/12/2022,83.260002,7.9,880285.4

In [77]:
# Removendo coluna desnecessária e NAs da coluna desemprego
df_atualizada2.drop(columns=['Date_y'], inplace=True)
df_atualizada2.dropna(subset=['Desemprego'], inplace=True)
display(df_atualizada2)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,EUR,GBP,USD,ipca,igp-m,mes,dia,Preco_petroleo,Desemprego,PIB
286,03/01/2012,1231.5,672.95,63.21,34.54,2012,2012/13,2012,8485.000000,1504.11000,...,2.4057,2.8787,1.8457,0.41,1.43,01,03,112.129997,7.4,418752.0
287,04/01/2012,1239.5,677.69,63.38,34.65,2012,2012/13,2012,8485.000000,1504.11000,...,2.3677,2.8563,1.8272,0.41,1.43,01,04,113.699997,7.4,418752.0
288,05/01/2012,1248.5,679.27,62.96,34.25,2012,2012/13,2012,8485.000000,1504.11000,...,2.3511,2.8447,1.8371,0.41,1.43,01,05,112.739998,7.4,418752.0
289,06/01/2012,1259.0,679.07,62.90,33.93,2012,2012/13,2012,8485.000000,1504.11000,...,2.3458,2.8434,1.8449,0.41,1.43,01,06,113.059998,7.4,418752.0
290,09/01/2012,1265.0,688.25,62.28,33.89,2012,2012/13,2012,8485.000000,1504.11000,...,2.3493,2.8473,1.8442,0.41,1.43,01,09,112.449997,7.4,418752.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,21/12/2022,2968.0,571.10,140.08,26.95,2022,2022/23,2022,8292.725995,1767.47359,...,5.5236,6.3015,5.2031,0.62,0.45,12,21,82.199997,7.9,880285.4
2916,22/12/2022,2969.5,573.59,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,5.5004,6.2401,5.1871,0.62,0.45,12,22,80.980003,7.9,880285.4
2917,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,5.4609,6.2043,5.1445,0.62,0.45,12,23,83.919998,7.9,880285.4
2918,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,5.6271,6.3515,5.2832,0.62,0.45,12,27,84.330002,7.9,880285.4
2919,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,5.6006,6.3484,5.2736,0.62,0.45,12,28,83.260002,7.9,880285.4

In [78]:
# Verificando valores NA após o join
# Valores NAs
import pandas as pd

missing_values = df_atualizada2.isna().sum()

for item, i in missing_values.items():
    print(item, i)

data 0
preco_etanol_real 0
preco_etanol_dolar 0
preco_acucar_real 0
preco_acucar_dolar 0
ano 0
safra 0
ano_colheita 0
area_BRASIL 0
area_CENTRO-OESTE 0
area_CENTRO-SUL 0
area_NORDESTE 0
area_NORTE 0
area_NORTE/NORDESTE 0
area_SUDESTE 0
produtividade_BRASIL 0
produtividade_CENTRO-OESTE 0
produtividade_CENTRO-SUL 0
produtividade_NORDESTE 0
produtividade_NORTE 0
produtividade_NORTE/NORDESTE 0
produtividade_SUDESTE 0
producao_BRASIL 0
producao_CENTRO-OESTE 0
producao_CENTRO-SUL 0
producao_NORDESTE 0
producao_NORTE 0
producao_NORTE/NORDESTE 0
producao_SUDESTE 0
acucar_BRASIL 0
acucar_CENTRO-OESTE 0
acucar_CENTRO-SUL 0
acucar_NORDESTE 0
acucar_NORTE 0
acucar_NORTE/NORDESTE 0
acucar_SUDESTE 0
etanol_total_BRASIL 0
etanol_total_CENTRO-OESTE 0
etanol_total_CENTRO-SUL 0
etanol_total_NORDESTE 0
etanol_total_NORTE 0
etanol_total_NORTE/NORDESTE 0
etanol_total_SUDESTE 0
etanol_anidro_BRASIL 0
etanol_anidro_CENTRO-OESTE 0
etanol_anidro_CENTRO-SUL 0
etanol_anidro_NORDESTE 0
etanol_anidro_NORTE 0
etanol_anidro_NORTE/NORDESTE 0
etanol_anidro_SUDESTE 0
atr_medio_BRASIL 0
atr_medio_CENTRO-OESTE 0
atr_medio_CENTRO-SUL 0
atr_medio_NORDESTE 0
atr_medio_NORTE 0
atr_medio_NORTE/NORDESTE 0
atr_medio_SUDESTE 0
etanol_hidratado_BRASIL 0
etanol_hidratado_CENTRO-OESTE 0
etanol_hidratado_CENTRO-SUL 0
etanol_hidratado_NORDESTE 0
etanol_hidratado_NORTE 0
etanol_hidratado_NORTE/NORDESTE 0
etanol_hidratado_SUDESTE 0
Date_x 0
EUR 0
GBP 0
USD 0
ipca 0
igp-m 0
mes 0
dia 0
Preco_petroleo 0
Desemprego 0
PIB 0

In [79]:
# Verificando tipos d dados de desemprego e PIB
df_atualizada2['Desemprego'] = df_atualizada2['Desemprego'].astype(float)
df_atualizada2[['Desemprego', 'PIB']].dtypes

Desemprego    float64
PIB           float64
dtype: object

In [80]:
# Verificando sanidade geral dos dados de desemprego e PIB

# Grouping by 'ano' and calculating mean, min, and max for the specified columns
summary_stats = df_atualizada2[['ano','Desemprego', 'PIB']].groupby('ano').agg({
    'Desemprego': ['mean', 'min', 'max'],
    'PIB': ['mean', 'min', 'max']
})

# Renaming the columns for better understanding
summary_stats.columns = ['Desemprego_mean', 'Desemprego_min', 'Desemprego_max',
                        'PIB_mean', 'PIB_min', 'PIB_max']

# Displaying the summary statistics
print(summary_stats)

      Desemprego_mean  Desemprego_min  Desemprego_max       PIB_mean  \
ano
2012         7.399134             6.8             8.0  412079.467532
2013         7.156838             6.6             8.1  447700.152564
2014         6.954772             6.6             7.2  501674.412033
2015         8.912346             8.1             9.1  506214.658436
2016        11.634167            10.4            12.2  527086.942500
2017        12.768908            11.9            13.9  554169.476891
2018        12.352321            11.7            13.2  594552.635443
2019        12.327273            11.3            12.8  632858.166942
2020        13.994309            12.7            14.6  642181.334959
2021        13.694191            11.1            14.9  762684.532780
2022         9.089212             7.9            11.2  858338.028631

       PIB_min   PIB_max
ano
2012  367525.1  431405.6
2013  398093.7  475713.6
2014  479721.0  508967.4
2015  490560.2  521322.4
2016  490466.0  546960.8
2017  510884.1  577677.9
2018  540027.1  612216.7
2019  576588.2  649640.8
2020  567575.1  705939.3
2021  707225.0  794249.8
2022  753035.5  880598.2

In [81]:
# 6. Dados ENOS
import pandas as pd
import numpy as np
col_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
df_oni = pd.read_csv('https://psl.noaa.gov/data/correlation/oni.data', sep='\s+', skiprows=1, names=col_names) 
df_oni = df_oni.apply(pd.to_numeric, errors='coerce')
df_oni.dropna(inplace=True)
df_oni.replace({-99.90 : np.NaN}, inplace=True)
stacked_series = df_oni.stack()
df_oni_stacked = stacked_series.to_frame()
df_oni_stacked.reset_index(inplace=True)
df_oni_stacked.columns = ['Year', 'Month', 'ONI']
df_oni_stacked['Date'] = pd.to_datetime(df_oni_stacked['Year'] + '-' + df_oni_stacked['Month'])
df_oni_stacked['Date'] = df_oni_stacked['Date'].dt.strftime('01/%m/%Y')

#df_oni_stacked.set_index('Date', inplace=True)
df_oni_stacked.drop(['Year', 'Month'], axis=1, inplace=True)

print(df_oni_stacked)

      ONI        Date
0   -1.53  01/01/1950
1   -0.68  01/02/1950
2   -0.43  01/03/1950
3   -0.15  01/04/1950
4    0.16  01/05/1950
..    ...         ...
886  1.92  01/11/2023
887  1.95  01/12/2023
888  1.79  01/01/2024
889  1.49  01/02/2024
890  1.15  01/03/2024

[891 rows x 2 columns]

In [82]:
# Observando tipo de dados
df_oni_stacked.dtypes

ONI     float64
Date     object
dtype: object

In [83]:
#Juntando com dados anteriores

df_atualizada3=pd.merge(df_atualizada2, df_oni_stacked, left_on='data', right_on='Date', how='left')
# Ano-mes
df_atualizada3['ONI'] = df_atualizada3['ONI'].fillna(df_atualizada3.groupby(['ano', 'mes'])['ONI'].transform(calculate_mode))

# Ano
df_atualizada3['ONI'] = df_atualizada3['ONI'].fillna(df_atualizada3.groupby(['ano'])['ONI'].transform(calculate_mode))

df_atualizada3.drop(['Date'], axis=1, inplace=True)

df_atualizada3.rename(columns={'ONI': 'ENOS'}, inplace=True)

display(df_atualizada3)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,GBP,USD,ipca,igp-m,mes,dia,Preco_petroleo,Desemprego,PIB,ENOS
0,03/01/2012,1231.5,672.95,63.21,34.54,2012,2012/13,2012,8485.000000,1504.11000,...,2.8787,1.8457,0.41,1.43,01,03,112.129997,7.4,418752.0,0.37
1,04/01/2012,1239.5,677.69,63.38,34.65,2012,2012/13,2012,8485.000000,1504.11000,...,2.8563,1.8272,0.41,1.43,01,04,113.699997,7.4,418752.0,0.37
2,05/01/2012,1248.5,679.27,62.96,34.25,2012,2012/13,2012,8485.000000,1504.11000,...,2.8447,1.8371,0.41,1.43,01,05,112.739998,7.4,418752.0,0.37
3,06/01/2012,1259.0,679.07,62.90,33.93,2012,2012/13,2012,8485.000000,1504.11000,...,2.8434,1.8449,0.41,1.43,01,06,113.059998,7.4,418752.0,0.37
4,09/01/2012,1265.0,688.25,62.28,33.89,2012,2012/13,2012,8485.000000,1504.11000,...,2.8473,1.8442,0.41,1.43,01,09,112.449997,7.4,418752.0,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,21/12/2022,2968.0,571.10,140.08,26.95,2022,2022/23,2022,8292.725995,1767.47359,...,6.3015,5.2031,0.62,0.45,12,21,82.199997,7.9,880285.4,-0.83
2630,22/12/2022,2969.5,573.59,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,6.2401,5.1871,0.62,0.45,12,22,80.980003,7.9,880285.4,-0.83
2631,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,6.2043,5.1445,0.62,0.45,12,23,83.919998,7.9,880285.4,-0.83
2632,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,6.3515,5.2832,0.62,0.45,12,27,84.330002,7.9,880285.4,-0.83
2633,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,6.3484,5.2736,0.62,0.45,12,28,83.260002,7.9,880285.4,-0.83

In [84]:
# Verificando valores NA após o join
# Valores NAs
import pandas as pd

missing_values = df_atualizada3.isna().sum()

for item, i in missing_values.items():
    print(item, i)

data 0
preco_etanol_real 0
preco_etanol_dolar 0
preco_acucar_real 0
preco_acucar_dolar 0
ano 0
safra 0
ano_colheita 0
area_BRASIL 0
area_CENTRO-OESTE 0
area_CENTRO-SUL 0
area_NORDESTE 0
area_NORTE 0
area_NORTE/NORDESTE 0
area_SUDESTE 0
produtividade_BRASIL 0
produtividade_CENTRO-OESTE 0
produtividade_CENTRO-SUL 0
produtividade_NORDESTE 0
produtividade_NORTE 0
produtividade_NORTE/NORDESTE 0
produtividade_SUDESTE 0
producao_BRASIL 0
producao_CENTRO-OESTE 0
producao_CENTRO-SUL 0
producao_NORDESTE 0
producao_NORTE 0
producao_NORTE/NORDESTE 0
producao_SUDESTE 0
acucar_BRASIL 0
acucar_CENTRO-OESTE 0
acucar_CENTRO-SUL 0
acucar_NORDESTE 0
acucar_NORTE 0
acucar_NORTE/NORDESTE 0
acucar_SUDESTE 0
etanol_total_BRASIL 0
etanol_total_CENTRO-OESTE 0
etanol_total_CENTRO-SUL 0
etanol_total_NORDESTE 0
etanol_total_NORTE 0
etanol_total_NORTE/NORDESTE 0
etanol_total_SUDESTE 0
etanol_anidro_BRASIL 0
etanol_anidro_CENTRO-OESTE 0
etanol_anidro_CENTRO-SUL 0
etanol_anidro_NORDESTE 0
etanol_anidro_NORTE 0
etanol_anidro_NORTE/NORDESTE 0
etanol_anidro_SUDESTE 0
atr_medio_BRASIL 0
atr_medio_CENTRO-OESTE 0
atr_medio_CENTRO-SUL 0
atr_medio_NORDESTE 0
atr_medio_NORTE 0
atr_medio_NORTE/NORDESTE 0
atr_medio_SUDESTE 0
etanol_hidratado_BRASIL 0
etanol_hidratado_CENTRO-OESTE 0
etanol_hidratado_CENTRO-SUL 0
etanol_hidratado_NORDESTE 0
etanol_hidratado_NORTE 0
etanol_hidratado_NORTE/NORDESTE 0
etanol_hidratado_SUDESTE 0
Date_x 0
EUR 0
GBP 0
USD 0
ipca 0
igp-m 0
mes 0
dia 0
Preco_petroleo 0
Desemprego 0
PIB 0
ENOS 0

In [85]:
# Verificando sanidade geral dos dados do índice do ENOS

# Grouping by 'ano' and calculating mean, min, and max for the specified columns
summary_stats = df_atualizada3[['ano','ENOS']].groupby('ano').agg({
    'ENOS': ['mean', 'min', 'max']
})

# Renaming the columns for better understanding
summary_stats.columns = ['ENOS_mean', 'ENOS_min', 'ENOS_max']

# Displaying the summary statistics
print(summary_stats)

      ENOS_mean  ENOS_min  ENOS_max
ano
2012   0.124675     -0.72      0.37
2013  -0.302735     -0.43     -0.17
2014   0.390000      0.04      0.66
2015   1.648395      0.70      2.64
2016   0.017833     -0.67      2.14
2017  -0.206471     -0.97      0.31
2018   0.148945     -0.85      0.90
2019   0.420950      0.14      0.72
2020  -0.480122     -1.19      0.19
2021  -0.796100     -0.98     -0.38
2022  -0.912822     -1.06     -0.81

In [86]:
# 7. Preço internacional do açúcar
import yfinance as yf

inicio = '2012-01-02'
fim = '2022-12-29'

preco_acucar_internacional=yf.download('SB=F', start=inicio, end=fim)


preco_acucar_internacional = preco_acucar_internacional[['Close']].reset_index().rename(columns={'Close': 'Preco_acucar_int'})
preco_acucar_internacional['Date'] = preco_acucar_internacional['Date'].dt.strftime('%d/%m/%Y')

print(preco_acucar_internacional)

[*********************100%%**********************]  1 of 1 completed

            Date  Preco_acucar_int
0     03/01/2012         24.510000
1     04/01/2012         24.420000
2     05/01/2012         23.129999
3     06/01/2012         23.290001
4     09/01/2012         23.340000
...          ...               ...
2759  21/12/2022         20.750000
2760  22/12/2022         20.889999
2761  23/12/2022         20.980000
2762  27/12/2022         20.320000
2763  28/12/2022         20.160000

[2764 rows x 2 columns]

In [87]:
# Observando o tipo do dado de preco_acucar_internacional

preco_acucar_internacional.dtypes

Date                 object
Preco_acucar_int    float64
dtype: object

In [88]:
#Juntando com dados anteriores
# Convert 'data' column to datetime dtype

# Convert 'data' column to datetime dtype
#df_atualizada['data'] = pd.to_datetime(df_atualizada['data'], infer_datetime_format=True, format='%d/%m/%y')
df_atualizada4=pd.merge(df_atualizada3, preco_acucar_internacional, left_on='data', right_on='Date', how='left')
df_atualizada4= df_atualizada4.dropna(subset=['Preco_acucar_int'])
df_atualizada4['ano'] = df_atualizada4['ano'].astype('int64')
df_atualizada4['mes'] = df_atualizada4['mes'].astype('int64')

df_atualizada4[['ano','mes']].dtypes

ano    int64
mes    int64
dtype: object

In [89]:
# Verificando valores NA após o join
# Valores NAs
import pandas as pd

missing_values = df_atualizada4.isna().sum()

for item, i in missing_values.items():
    print(item, i)

data 0
preco_etanol_real 0
preco_etanol_dolar 0
preco_acucar_real 0
preco_acucar_dolar 0
ano 0
safra 0
ano_colheita 0
area_BRASIL 0
area_CENTRO-OESTE 0
area_CENTRO-SUL 0
area_NORDESTE 0
area_NORTE 0
area_NORTE/NORDESTE 0
area_SUDESTE 0
produtividade_BRASIL 0
produtividade_CENTRO-OESTE 0
produtividade_CENTRO-SUL 0
produtividade_NORDESTE 0
produtividade_NORTE 0
produtividade_NORTE/NORDESTE 0
produtividade_SUDESTE 0
producao_BRASIL 0
producao_CENTRO-OESTE 0
producao_CENTRO-SUL 0
producao_NORDESTE 0
producao_NORTE 0
producao_NORTE/NORDESTE 0
producao_SUDESTE 0
acucar_BRASIL 0
acucar_CENTRO-OESTE 0
acucar_CENTRO-SUL 0
acucar_NORDESTE 0
acucar_NORTE 0
acucar_NORTE/NORDESTE 0
acucar_SUDESTE 0
etanol_total_BRASIL 0
etanol_total_CENTRO-OESTE 0
etanol_total_CENTRO-SUL 0
etanol_total_NORDESTE 0
etanol_total_NORTE 0
etanol_total_NORTE/NORDESTE 0
etanol_total_SUDESTE 0
etanol_anidro_BRASIL 0
etanol_anidro_CENTRO-OESTE 0
etanol_anidro_CENTRO-SUL 0
etanol_anidro_NORDESTE 0
etanol_anidro_NORTE 0
etanol_anidro_NORTE/NORDESTE 0
etanol_anidro_SUDESTE 0
atr_medio_BRASIL 0
atr_medio_CENTRO-OESTE 0
atr_medio_CENTRO-SUL 0
atr_medio_NORDESTE 0
atr_medio_NORTE 0
atr_medio_NORTE/NORDESTE 0
atr_medio_SUDESTE 0
etanol_hidratado_BRASIL 0
etanol_hidratado_CENTRO-OESTE 0
etanol_hidratado_CENTRO-SUL 0
etanol_hidratado_NORDESTE 0
etanol_hidratado_NORTE 0
etanol_hidratado_NORTE/NORDESTE 0
etanol_hidratado_SUDESTE 0
Date_x 0
EUR 0
GBP 0
USD 0
ipca 0
igp-m 0
mes 0
dia 0
Preco_petroleo 0
Desemprego 0
PIB 0
ENOS 0
Date 0
Preco_acucar_int 0

In [90]:
# Verificando sanidade geral dos dados dos dados dos preços internacionais do açúcar

# Grouping by 'ano' and calculating mean, min, and max for the specified columns
summary_stats = df_atualizada4[['ano','Preco_acucar_int']].groupby('ano').agg({
    'Preco_acucar_int': ['mean', 'min', 'max']
})

# Renaming the columns for better understanding
summary_stats.columns = ['Preco_acucar_int_mean', 'Preco_acucar_int_min', 'Preco_acucar_int_max']

# Displaying the summary statistics
print(summary_stats)

      Preco_acucar_int_mean  Preco_acucar_int_min  Preco_acucar_int_max
ano
2012              21.685368             18.540001             26.500000
2013              17.494145             15.960000             19.690001
2014              16.330747             13.500000             18.320000
2015              13.080617             10.390000             15.920000
2016              18.170208             12.520000             23.809999
2017              15.767143             12.550000             21.180000
2018              12.221941              9.900000             15.330000
2019              12.330992             10.760000             13.550000
2020              12.829959              9.210000             15.780000
2021              17.862905             14.710000             20.420000
2022              18.811660             17.400000             20.980000

In [91]:
# 8. Inclusão do preço da tonelada de cana

preco_cana=pd.read_excel('precos_produtos_agricolas.xlsx')


print(preco_cana)

      ano  mes  cana_de_acucar_preco_tonelada
0    1990    1                       0.000055
1    1990    2                       0.000092
2    1990    3                       0.000173
3    1990    4                       0.000210
4    1990    5                       0.000208
..    ...  ...                            ...
394  2022   11                     115.608000
395  2022   12                     116.407000
396  2023    1                     115.770000
397  2023    2                     118.632000
398  2023    3                     119.006000

[399 rows x 3 columns]

In [92]:
# Verificando o tipo dos dados

preco_cana.dtypes

ano                                int64
mes                                int64
cana_de_acucar_preco_tonelada    float64
dtype: object

In [93]:
# Fazendo o merge com dados anteriores
df_atualizada5=pd.merge(df_atualizada4, preco_cana, on=['ano', 'mes'], how='left')

# Imputando dados faltantes pela a moda do ano x mes ou por ano
# Ano-mes
df_atualizada5['cana_de_acucar_preco_tonelada'] = df_atualizada5['cana_de_acucar_preco_tonelada'].fillna(df_atualizada5.groupby(['ano', 'mes'])['cana_de_acucar_preco_tonelada'].transform(calculate_mode))

# Ano
df_atualizada5['cana_de_acucar_preco_tonelada'] = df_atualizada5['cana_de_acucar_preco_tonelada'].fillna(df_atualizada5.groupby(['ano'])['cana_de_acucar_preco_tonelada'].transform(calculate_mode))
display(df_atualizada5)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,igp-m,mes,dia,Preco_petroleo,Desemprego,PIB,ENOS,Date,Preco_acucar_int,cana_de_acucar_preco_tonelada
0,03/01/2012,1231.5,672.95,63.21,34.54,2012,2012/13,2012,8485.000000,1504.11000,...,1.43,1,03,112.129997,7.4,418752.0,0.37,03/01/2012,24.510000,55.180
1,04/01/2012,1239.5,677.69,63.38,34.65,2012,2012/13,2012,8485.000000,1504.11000,...,1.43,1,04,113.699997,7.4,418752.0,0.37,04/01/2012,24.420000,55.180
2,05/01/2012,1248.5,679.27,62.96,34.25,2012,2012/13,2012,8485.000000,1504.11000,...,1.43,1,05,112.739998,7.4,418752.0,0.37,05/01/2012,23.129999,55.180
3,06/01/2012,1259.0,679.07,62.90,33.93,2012,2012/13,2012,8485.000000,1504.11000,...,1.43,1,06,113.059998,7.4,418752.0,0.37,06/01/2012,23.290001,55.180
4,09/01/2012,1265.0,688.25,62.28,33.89,2012,2012/13,2012,8485.000000,1504.11000,...,1.43,1,09,112.449997,7.4,418752.0,0.37,09/01/2012,23.340000,55.180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,21/12/2022,2968.0,571.10,140.08,26.95,2022,2022/23,2022,8292.725995,1767.47359,...,0.45,12,21,82.199997,7.9,880285.4,-0.83,21/12/2022,20.750000,116.407
2630,22/12/2022,2969.5,573.59,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,0.45,12,22,80.980003,7.9,880285.4,-0.83,22/12/2022,20.889999,116.407
2631,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,0.45,12,23,83.919998,7.9,880285.4,-0.83,23/12/2022,20.980000,116.407
2632,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,0.45,12,27,84.330002,7.9,880285.4,-0.83,27/12/2022,20.320000,116.407
2633,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,0.45,12,28,83.260002,7.9,880285.4,-0.83,28/12/2022,20.160000,116.407

In [94]:
# Verificando valores NA após o join
# Valores NAs
import pandas as pd

missing_values = df_atualizada5.isna().sum()

for item, i in missing_values.items():
    print(item, i)

data 0
preco_etanol_real 0
preco_etanol_dolar 0
preco_acucar_real 0
preco_acucar_dolar 0
ano 0
safra 0
ano_colheita 0
area_BRASIL 0
area_CENTRO-OESTE 0
area_CENTRO-SUL 0
area_NORDESTE 0
area_NORTE 0
area_NORTE/NORDESTE 0
area_SUDESTE 0
produtividade_BRASIL 0
produtividade_CENTRO-OESTE 0
produtividade_CENTRO-SUL 0
produtividade_NORDESTE 0
produtividade_NORTE 0
produtividade_NORTE/NORDESTE 0
produtividade_SUDESTE 0
producao_BRASIL 0
producao_CENTRO-OESTE 0
producao_CENTRO-SUL 0
producao_NORDESTE 0
producao_NORTE 0
producao_NORTE/NORDESTE 0
producao_SUDESTE 0
acucar_BRASIL 0
acucar_CENTRO-OESTE 0
acucar_CENTRO-SUL 0
acucar_NORDESTE 0
acucar_NORTE 0
acucar_NORTE/NORDESTE 0
acucar_SUDESTE 0
etanol_total_BRASIL 0
etanol_total_CENTRO-OESTE 0
etanol_total_CENTRO-SUL 0
etanol_total_NORDESTE 0
etanol_total_NORTE 0
etanol_total_NORTE/NORDESTE 0
etanol_total_SUDESTE 0
etanol_anidro_BRASIL 0
etanol_anidro_CENTRO-OESTE 0
etanol_anidro_CENTRO-SUL 0
etanol_anidro_NORDESTE 0
etanol_anidro_NORTE 0
etanol_anidro_NORTE/NORDESTE 0
etanol_anidro_SUDESTE 0
atr_medio_BRASIL 0
atr_medio_CENTRO-OESTE 0
atr_medio_CENTRO-SUL 0
atr_medio_NORDESTE 0
atr_medio_NORTE 0
atr_medio_NORTE/NORDESTE 0
atr_medio_SUDESTE 0
etanol_hidratado_BRASIL 0
etanol_hidratado_CENTRO-OESTE 0
etanol_hidratado_CENTRO-SUL 0
etanol_hidratado_NORDESTE 0
etanol_hidratado_NORTE 0
etanol_hidratado_NORTE/NORDESTE 0
etanol_hidratado_SUDESTE 0
Date_x 0
EUR 0
GBP 0
USD 0
ipca 0
igp-m 0
mes 0
dia 0
Preco_petroleo 0
Desemprego 0
PIB 0
ENOS 0
Date 0
Preco_acucar_int 0
cana_de_acucar_preco_tonelada 0

In [95]:
# Verificando sanidade geral dos dados da tonelada de cana

# Grouping by 'ano' and calculating mean, min, and max for the specified columns
summary_stats = df_atualizada5[['ano','cana_de_acucar_preco_tonelada']].groupby('ano').agg({
    'cana_de_acucar_preco_tonelada': ['mean', 'min', 'max']
})

# Renaming the columns for better understanding
summary_stats.columns = ['cana_de_acucar_preco_toneladat_mean', 'cana_de_acucar_preco_tonelada_min', 'cana_de_acucar_preco_tonelada_max']

# Displaying the summary statistics
print(summary_stats)

      cana_de_acucar_preco_toneladat_mean  cana_de_acucar_preco_tonelada_min  \
ano
2012                            53.489632                             51.970
2013                            51.594641                             49.807
2014                            52.421054                             51.834
2015                            54.691029                             51.955
2016                            65.589012                             60.481
2017                            68.342651                             64.472
2018                            66.600156                             63.287
2019                            66.386963                             64.970
2020                            73.635972                             67.628
2021                            95.253212                             76.894
2022                           116.057091                            110.849

      cana_de_acucar_preco_tonelada_max
ano
2012                             55.180
2013                             53.162
2014                             53.178
2015                             60.348
2016                             69.424
2017                             71.475
2018                             68.041
2019                             68.344
2020                             76.960
2021                            109.689
2022                            122.031

In [96]:
# 9. Inclusão de valores de exportação e importação de açucar e etanol


exp_imp=pd.read_excel('exportacao_importacao_acucar_e_etanol.xlsx')


print(exp_imp)

      ano  mes  acucar_exportado_dolares  etanol_exportado_dolares  \
0    2002    1                 148309753                  25644080
1    2002    2                 127931406                   8734998
2    2002    3                  63761274                   9394337
3    2002    4                  52996253                   9536207
4    2002    5                  90121572                   9691858
..    ...  ...                       ...                       ...
253  2023    2                 522813695                  89713329
254  2023    3                 832705711                 136883974
255  2023    4                 465280270                 132979623
256  2023    5                1166254019                  59312265
257  2023    6                1397790956                  48688525

     acucar_importado_dolares  etanol_importado_dolares
0                        2002                     75965
1                        8433                    117359
2                        3535                    110569
3                        2698                     48704
4                        1509                     52069
..                        ...                       ...
253                    119788                   6255613
254                     15818                   6370489
255                     24708                  12779911
256                    291572                     43842
257                    224439                    104634

[258 rows x 6 columns]

In [97]:
# Verificando o tipo de dados
exp_imp.dtypes

ano                         int64
mes                         int64
acucar_exportado_dolares    int64
etanol_exportado_dolares    int64
acucar_importado_dolares    int64
etanol_importado_dolares    int64
dtype: object

In [98]:
# Juntando com data.frame matriz e imputando NAs por ano x mes ou ano

df_atualizada6=pd.merge(df_atualizada5, exp_imp, on=['ano', 'mes'], how='left')
def calculate_mode(group):
    if group.notna().any():  # Verifica se o grupo possui valores não NaN
        return group.mode().iloc[0]  # Calcula a moda se houver valores não NaN
    else:
        return pd.NA  # Retorna pd.NA se todos os valores forem NaN

# Define colunas para preencher e suas colunas de agrupamento correspondentes
columns_to_fill = {
    'acucar_exportado_dolares': [['ano', 'mes'], ['ano']],
    'cana_de_acucar_preco_tonelada': [['ano']],
    'etanol_exportado_dolares': [['ano', 'mes'], ['ano']],
    'acucar_importado_dolares': [['ano', 'mes'], ['ano']],
    'etanol_importado_dolares': [['ano', 'mes'], ['ano']]
}

for col, grouping_columns in columns_to_fill.items():  # Itera sobre as colunas e suas colunas de agrupamento correspondentes
    for group_cols in grouping_columns:  # Itera sobre as colunas de agrupamento
        df_atualizada6[col] = df_atualizada6[col].fillna(df_atualizada6.groupby(group_cols)[col].transform(calculate_mode))

display(df_atualizada6)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,Desemprego,PIB,ENOS,Date,Preco_acucar_int,cana_de_acucar_preco_tonelada,acucar_exportado_dolares,etanol_exportado_dolares,acucar_importado_dolares,etanol_importado_dolares
0,03/01/2012,1231.5,672.95,63.21,34.54,2012,2012/13,2012,8485.000000,1504.11000,...,7.4,418752.0,0.37,03/01/2012,24.510000,55.180,745050324,72814482,45758,99676942
1,04/01/2012,1239.5,677.69,63.38,34.65,2012,2012/13,2012,8485.000000,1504.11000,...,7.4,418752.0,0.37,04/01/2012,24.420000,55.180,745050324,72814482,45758,99676942
2,05/01/2012,1248.5,679.27,62.96,34.25,2012,2012/13,2012,8485.000000,1504.11000,...,7.4,418752.0,0.37,05/01/2012,23.129999,55.180,745050324,72814482,45758,99676942
3,06/01/2012,1259.0,679.07,62.90,33.93,2012,2012/13,2012,8485.000000,1504.11000,...,7.4,418752.0,0.37,06/01/2012,23.290001,55.180,745050324,72814482,45758,99676942
4,09/01/2012,1265.0,688.25,62.28,33.89,2012,2012/13,2012,8485.000000,1504.11000,...,7.4,418752.0,0.37,09/01/2012,23.340000,55.180,745050324,72814482,45758,99676942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,21/12/2022,2968.0,571.10,140.08,26.95,2022,2022/23,2022,8292.725995,1767.47359,...,7.9,880285.4,-0.83,21/12/2022,20.750000,116.407,952490043,220959253,64131,9524284
2630,22/12/2022,2969.5,573.59,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,7.9,880285.4,-0.83,22/12/2022,20.889999,116.407,952490043,220959253,64131,9524284
2631,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,7.9,880285.4,-0.83,23/12/2022,20.980000,116.407,952490043,220959253,64131,9524284
2632,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,7.9,880285.4,-0.83,27/12/2022,20.320000,116.407,952490043,220959253,64131,9524284
2633,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,7.9,880285.4,-0.83,28/12/2022,20.160000,116.407,952490043,220959253,64131,9524284

In [99]:
# Verificando valores NA após o join
# Valores NAs
import pandas as pd

missing_values = df_atualizada6.isna().sum()

for item, i in missing_values.items():
    print(item, i)

data 0
preco_etanol_real 0
preco_etanol_dolar 0
preco_acucar_real 0
preco_acucar_dolar 0
ano 0
safra 0
ano_colheita 0
area_BRASIL 0
area_CENTRO-OESTE 0
area_CENTRO-SUL 0
area_NORDESTE 0
area_NORTE 0
area_NORTE/NORDESTE 0
area_SUDESTE 0
produtividade_BRASIL 0
produtividade_CENTRO-OESTE 0
produtividade_CENTRO-SUL 0
produtividade_NORDESTE 0
produtividade_NORTE 0
produtividade_NORTE/NORDESTE 0
produtividade_SUDESTE 0
producao_BRASIL 0
producao_CENTRO-OESTE 0
producao_CENTRO-SUL 0
producao_NORDESTE 0
producao_NORTE 0
producao_NORTE/NORDESTE 0
producao_SUDESTE 0
acucar_BRASIL 0
acucar_CENTRO-OESTE 0
acucar_CENTRO-SUL 0
acucar_NORDESTE 0
acucar_NORTE 0
acucar_NORTE/NORDESTE 0
acucar_SUDESTE 0
etanol_total_BRASIL 0
etanol_total_CENTRO-OESTE 0
etanol_total_CENTRO-SUL 0
etanol_total_NORDESTE 0
etanol_total_NORTE 0
etanol_total_NORTE/NORDESTE 0
etanol_total_SUDESTE 0
etanol_anidro_BRASIL 0
etanol_anidro_CENTRO-OESTE 0
etanol_anidro_CENTRO-SUL 0
etanol_anidro_NORDESTE 0
etanol_anidro_NORTE 0
etanol_anidro_NORTE/NORDESTE 0
etanol_anidro_SUDESTE 0
atr_medio_BRASIL 0
atr_medio_CENTRO-OESTE 0
atr_medio_CENTRO-SUL 0
atr_medio_NORDESTE 0
atr_medio_NORTE 0
atr_medio_NORTE/NORDESTE 0
atr_medio_SUDESTE 0
etanol_hidratado_BRASIL 0
etanol_hidratado_CENTRO-OESTE 0
etanol_hidratado_CENTRO-SUL 0
etanol_hidratado_NORDESTE 0
etanol_hidratado_NORTE 0
etanol_hidratado_NORTE/NORDESTE 0
etanol_hidratado_SUDESTE 0
Date_x 0
EUR 0
GBP 0
USD 0
ipca 0
igp-m 0
mes 0
dia 0
Preco_petroleo 0
Desemprego 0
PIB 0
ENOS 0
Date 0
Preco_acucar_int 0
cana_de_acucar_preco_tonelada 0
acucar_exportado_dolares 0
etanol_exportado_dolares 0
acucar_importado_dolares 0
etanol_importado_dolares 0

In [100]:
df_atualizada6.columns

Index(['data', 'preco_etanol_real', 'preco_etanol_dolar', 'preco_acucar_real',
       'preco_acucar_dolar', 'ano', 'safra', 'ano_colheita', 'area_BRASIL',
       'area_CENTRO-OESTE', 'area_CENTRO-SUL', 'area_NORDESTE', 'area_NORTE',
       'area_NORTE/NORDESTE', 'area_SUDESTE', 'produtividade_BRASIL',
       'produtividade_CENTRO-OESTE', 'produtividade_CENTRO-SUL',
       'produtividade_NORDESTE', 'produtividade_NORTE',
       'produtividade_NORTE/NORDESTE', 'produtividade_SUDESTE',
       'producao_BRASIL', 'producao_CENTRO-OESTE', 'producao_CENTRO-SUL',
       'producao_NORDESTE', 'producao_NORTE', 'producao_NORTE/NORDESTE',
       'producao_SUDESTE', 'acucar_BRASIL', 'acucar_CENTRO-OESTE',
       'acucar_CENTRO-SUL', 'acucar_NORDESTE', 'acucar_NORTE',
       'acucar_NORTE/NORDESTE', 'acucar_SUDESTE', 'etanol_total_BRASIL',
       'etanol_total_CENTRO-OESTE', 'etanol_total_CENTRO-SUL',
       'etanol_total_NORDESTE', 'etanol_total_NORTE',
       'etanol_total_NORTE/NORDESTE', 'etanol_total_SUDESTE',
       'etanol_anidro_BRASIL', 'etanol_anidro_CENTRO-OESTE',
       'etanol_anidro_CENTRO-SUL', 'etanol_anidro_NORDESTE',
       'etanol_anidro_NORTE', 'etanol_anidro_NORTE/NORDESTE',
       'etanol_anidro_SUDESTE', 'atr_medio_BRASIL', 'atr_medio_CENTRO-OESTE',
       'atr_medio_CENTRO-SUL', 'atr_medio_NORDESTE', 'atr_medio_NORTE',
       'atr_medio_NORTE/NORDESTE', 'atr_medio_SUDESTE',
       'etanol_hidratado_BRASIL', 'etanol_hidratado_CENTRO-OESTE',
       'etanol_hidratado_CENTRO-SUL', 'etanol_hidratado_NORDESTE',
       'etanol_hidratado_NORTE', 'etanol_hidratado_NORTE/NORDESTE',
       'etanol_hidratado_SUDESTE', 'Date_x', 'EUR', 'GBP', 'USD', 'ipca',
       'igp-m', 'mes', 'dia', 'Preco_petroleo', 'Desemprego', 'PIB', 'ENOS',
       'Date', 'Preco_acucar_int', 'cana_de_acucar_preco_tonelada',
       'acucar_exportado_dolares', 'etanol_exportado_dolares',
       'acucar_importado_dolares', 'etanol_importado_dolares'],
      dtype='object')

In [101]:
# Verificando sanidade geral dos dados da tonelada de cana

# Grouping by 'ano' and calculating mean, min, and max for the specified columns
summary_stats = df_atualizada6[[
    'ano',
    'acucar_exportado_dolares',
    'etanol_exportado_dolares',
    'acucar_importado_dolares', 
    'etanol_importado_dolares']].groupby('ano').agg({
    'acucar_exportado_dolares': ['mean', 'min', 'max'],
    'etanol_exportado_dolares': ['mean', 'min', 'max'],
    'acucar_importado_dolares': ['mean', 'min', 'max'],
    'etanol_importado_dolares': ['mean', 'min', 'max']
})

# Renaming the columns for better understanding
summary_stats.columns = ['acucar_exportado_dolares_mean', 'acucar_exportado_dolares_min', 'acucar_exportado_dolares_max',
                        'etanol_exportado_dolares_mean', 'etanol_exportado_dolares_min', 'etanol_exportado_dolares_max',
                        'acucar_importado_dolares_mean', 'acucar_importado_dolares_min', 'acucar_importado_dolares_max',
                        'etanol_importado_dolares_mean', 'etanol_importado_dolares_min', 'etanol_importado_dolares_max']

# Displaying the summary statistics
print(summary_stats)

      acucar_exportado_dolares_mean  acucar_exportado_dolares_min  \
ano
2012                   1.051323e+09                     319722374
2013                   9.908381e+08                     774789925
2014                   7.963888e+08                     483269243
2015                   6.399760e+08                     308367014
2016                   8.735350e+08                     432945631
2017                   9.560702e+08                     701806372
2018                   5.440416e+08                     341911115
2019                   4.332507e+08                     296806678
2020                   7.347730e+08                     383995196
2021                   7.672134e+08                     587511683
2022                   9.183397e+08                     507582656

      acucar_exportado_dolares_max  etanol_exportado_dolares_mean  \
ano
2012                    1992648253                   1.759680e+08
2013                    1369293400                   1.586871e+08
2014                    1068728965                   7.483564e+07
2015                     836644689                   7.392093e+07
2016                    1249711424                   7.552624e+07
2017                    1283502984                   6.751073e+07
2018                     709352013                   7.604390e+07
2019                     561101635                   8.388714e+07
2020                    1135320500                   9.983542e+07
2021                     929520699                   8.897377e+07
2022                    1394786753                   1.458139e+08

      etanol_exportado_dolares_min  etanol_exportado_dolares_max  \
ano
2012                      47474832                     350217582
2013                      50790440                     314333749
2014                      39830499                     122753994
2015                      10498090                     125466613
2016                      24806752                     150986979
2017                      34535623                      90071587
2018                      41836634                     142015053
2019                       3038423                     162836444
2020                      41944915                     165350845
2021                      37495467                     156220432
2022                      51408633                     253517320

      acucar_importado_dolares_mean  acucar_importado_dolares_min  \
ano
2012                   49471.679654                          3765
2013                   89976.820513                         10321
2014                   76011.829876                          7451
2015                  147401.987654                         35799
2016                   91982.250000                         39087
2017                  135146.348739                         19312
2018                  127958.130802                         21072
2019                  161281.454545                         18123
2020                  110837.130081                         18983
2021                  265617.684647                        129738
2022                  247246.323651                         64131

      acucar_importado_dolares_max  etanol_importado_dolares_mean  \
ano
2012                        132345                   3.271863e+07
2013                        254826                   7.652657e+06
2014                        186814                   1.953387e+07
2015                        258347                   2.192939e+07
2016                        169912                   3.286285e+07
2017                        223359                   7.569734e+07
2018                        210124                   6.152333e+07
2019                        299231                   5.037310e+07
2020                        183714                   3.448659e+07
2021                        462613                   1.877302e+07
2022                        446845                   1.701855e+07

      etanol_importado_dolares_min  etanol_importado_dolares_max
ano
2012                          6385                      99676942
2013                         15566                      40135869
2014                         43628                      50010659
2015                         68201                      51864001
2016                      13582108                      69143290
2017                      22805687                     148789344
2018                       2463896                     165482153
2019                      20223198                      92669256
2020                       3799502                     115245718
2021                         83195                      52484097
2022                         35144                      74738518

In [102]:
# 10. Frota de automoveis
frota=pd.read_excel('frota_veiculos_brasil.xlsx').rename(columns={'Ano':'ano', 'Frota_automovel':'frota_automovel'})
display(frota)

     ano  frota_automovel
0   2006         27700608
1   2007         29851610
2   2009         34536667
3   2010         37188341
4   2011         39832919
5   2012         42682111
6   2013         45444387
7   2014         47946665
8   2015         49822709
9   2016         51296982
10  2017         52916160
11  2018         54715488
12  2019         56652190
13  2020         58016405
14  2021         59242869
15  2022         60459290

In [103]:
# Verificando o tipo dos dados
frota.dtypes

ano                int64
frota_automovel    int64
dtype: object

In [104]:
# Juntando com dados anteriores e imputando faltantes com moda do ano

df_atualizada7=pd.merge(df_atualizada6, frota, on=['ano'], how='left')

In [105]:
#Imputação de dados para adequação da granularidade

# Ano
df_atualizada7['frota_automovel'] = df_atualizada7['frota_automovel'].fillna(df_atualizada7.groupby(['ano'])['frota_automovel'].transform(calculate_mode))

display(df_atualizada7)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,PIB,ENOS,Date,Preco_acucar_int,cana_de_acucar_preco_tonelada,acucar_exportado_dolares,etanol_exportado_dolares,acucar_importado_dolares,etanol_importado_dolares,frota_automovel
0,03/01/2012,1231.5,672.95,63.21,34.54,2012,2012/13,2012,8485.000000,1504.11000,...,418752.0,0.37,03/01/2012,24.510000,55.180,745050324,72814482,45758,99676942,42682111
1,04/01/2012,1239.5,677.69,63.38,34.65,2012,2012/13,2012,8485.000000,1504.11000,...,418752.0,0.37,04/01/2012,24.420000,55.180,745050324,72814482,45758,99676942,42682111
2,05/01/2012,1248.5,679.27,62.96,34.25,2012,2012/13,2012,8485.000000,1504.11000,...,418752.0,0.37,05/01/2012,23.129999,55.180,745050324,72814482,45758,99676942,42682111
3,06/01/2012,1259.0,679.07,62.90,33.93,2012,2012/13,2012,8485.000000,1504.11000,...,418752.0,0.37,06/01/2012,23.290001,55.180,745050324,72814482,45758,99676942,42682111
4,09/01/2012,1265.0,688.25,62.28,33.89,2012,2012/13,2012,8485.000000,1504.11000,...,418752.0,0.37,09/01/2012,23.340000,55.180,745050324,72814482,45758,99676942,42682111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,21/12/2022,2968.0,571.10,140.08,26.95,2022,2022/23,2022,8292.725995,1767.47359,...,880285.4,-0.83,21/12/2022,20.750000,116.407,952490043,220959253,64131,9524284,60459290
2630,22/12/2022,2969.5,573.59,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,880285.4,-0.83,22/12/2022,20.889999,116.407,952490043,220959253,64131,9524284,60459290
2631,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,880285.4,-0.83,23/12/2022,20.980000,116.407,952490043,220959253,64131,9524284,60459290
2632,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,880285.4,-0.83,27/12/2022,20.320000,116.407,952490043,220959253,64131,9524284,60459290
2633,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,880285.4,-0.83,28/12/2022,20.160000,116.407,952490043,220959253,64131,9524284,60459290

In [106]:
# Verificando valores NA após o join
# Valores NAs
import pandas as pd

missing_values = df_atualizada7.isna().sum()

for item, i in missing_values.items():
    print(item, i)

data 0
preco_etanol_real 0
preco_etanol_dolar 0
preco_acucar_real 0
preco_acucar_dolar 0
ano 0
safra 0
ano_colheita 0
area_BRASIL 0
area_CENTRO-OESTE 0
area_CENTRO-SUL 0
area_NORDESTE 0
area_NORTE 0
area_NORTE/NORDESTE 0
area_SUDESTE 0
produtividade_BRASIL 0
produtividade_CENTRO-OESTE 0
produtividade_CENTRO-SUL 0
produtividade_NORDESTE 0
produtividade_NORTE 0
produtividade_NORTE/NORDESTE 0
produtividade_SUDESTE 0
producao_BRASIL 0
producao_CENTRO-OESTE 0
producao_CENTRO-SUL 0
producao_NORDESTE 0
producao_NORTE 0
producao_NORTE/NORDESTE 0
producao_SUDESTE 0
acucar_BRASIL 0
acucar_CENTRO-OESTE 0
acucar_CENTRO-SUL 0
acucar_NORDESTE 0
acucar_NORTE 0
acucar_NORTE/NORDESTE 0
acucar_SUDESTE 0
etanol_total_BRASIL 0
etanol_total_CENTRO-OESTE 0
etanol_total_CENTRO-SUL 0
etanol_total_NORDESTE 0
etanol_total_NORTE 0
etanol_total_NORTE/NORDESTE 0
etanol_total_SUDESTE 0
etanol_anidro_BRASIL 0
etanol_anidro_CENTRO-OESTE 0
etanol_anidro_CENTRO-SUL 0
etanol_anidro_NORDESTE 0
etanol_anidro_NORTE 0
etanol_anidro_NORTE/NORDESTE 0
etanol_anidro_SUDESTE 0
atr_medio_BRASIL 0
atr_medio_CENTRO-OESTE 0
atr_medio_CENTRO-SUL 0
atr_medio_NORDESTE 0
atr_medio_NORTE 0
atr_medio_NORTE/NORDESTE 0
atr_medio_SUDESTE 0
etanol_hidratado_BRASIL 0
etanol_hidratado_CENTRO-OESTE 0
etanol_hidratado_CENTRO-SUL 0
etanol_hidratado_NORDESTE 0
etanol_hidratado_NORTE 0
etanol_hidratado_NORTE/NORDESTE 0
etanol_hidratado_SUDESTE 0
Date_x 0
EUR 0
GBP 0
USD 0
ipca 0
igp-m 0
mes 0
dia 0
Preco_petroleo 0
Desemprego 0
PIB 0
ENOS 0
Date 0
Preco_acucar_int 0
cana_de_acucar_preco_tonelada 0
acucar_exportado_dolares 0
etanol_exportado_dolares 0
acucar_importado_dolares 0
etanol_importado_dolares 0
frota_automovel 0

In [107]:
# Verificando sanidade geral dos dados de frota de automoveis

# Grouping by 'ano' and calculating mean, min, and max for the specified columns
summary_stats = df_atualizada7[[
    'ano',
    'frota_automovel']].groupby('ano').agg({
    'frota_automovel': ['mean', 'min', 'max']
})

# Renaming the columns for better understanding
summary_stats.columns = ['frota_automovel_mean', 'frota_automovel_min', 'frota_automovel_max']

# Displaying the summary statistics
print(summary_stats)

      frota_automovel_mean  frota_automovel_min  frota_automovel_max
ano
2012            42682111.0             42682111             42682111
2013            45444387.0             45444387             45444387
2014            47946665.0             47946665             47946665
2015            49822709.0             49822709             49822709
2016            51296982.0             51296982             51296982
2017            52916160.0             52916160             52916160
2018            54715488.0             54715488             54715488
2019            56652190.0             56652190             56652190
2020            58016405.0             58016405             58016405
2021            59242869.0             59242869             59242869
2022            60459290.0             60459290             60459290

In [108]:
# 10. Combustiveis_brasil
preco_combustiveis=pd.read_csv('combustiveis_brasil.csv', sep=';')#.rename(columns={'Ano':'ano', 'Frota_automovel':'frota_automovel'})
preco_combustiveis=preco_combustiveis.drop(columns=['ano-mes'])
display(preco_combustiveis)
#preco_combustiveis.dtypes

      ano  mes gasolina_preco_medio etanol_preco_medio gnv_preco_medio
0    2004    5                2,086              1,289            1,13
1    2004    6                2,157              1,359           1,135
2    2004    7                2,203              1,381           1,152
3    2004    8                2,226              1,462            1,15
4    2004    9                2,232              1,487           1,151
..    ...  ...                  ...                ...             ...
219  2022    9                    5               3,48            4,99
220  2022   10                 4,89               3,56             4,9
221  2022   11                 5,04               3,83             4,8
222  2022   12                 4,97               3,84            4,77
223  2023    1                 5,05               3,88            4,73

[224 rows x 5 columns]

In [109]:
# Tipos dos dados
preco_combustiveis.dtypes

ano                      int64
mes                      int64
gasolina_preco_medio    object
etanol_preco_medio      object
gnv_preco_medio         object
dtype: object

In [110]:
# Convertendo dados object para float e mudando decimal de vírgula para ponto
columns_to_convert = ['gasolina_preco_medio', 'etanol_preco_medio', 'gnv_preco_medio']

for column in columns_to_convert:
    preco_combustiveis[column] = preco_combustiveis[column].str.replace(',', '.').astype(float)

print(preco_combustiveis.head())

    ano  mes  gasolina_preco_medio  etanol_preco_medio  gnv_preco_medio
0  2004    5                 2.086               1.289            1.130
1  2004    6                 2.157               1.359            1.135
2  2004    7                 2.203               1.381            1.152
3  2004    8                 2.226               1.462            1.150
4  2004    9                 2.232               1.487            1.151

In [111]:
# Juntando com dados anteriores e imputando dados faltantes com a moda
df_atualizada_final=pd.merge(df_atualizada7, preco_combustiveis, on=['ano','mes'], how='left')
def calculate_mode(group):
    if group.notna().any():  # Check if group has any non-NaN values
        return group.mode().iloc[0]  # Calculate mode if there are non-NaN values
    else:
        return pd.NA  # Return pd.NA if all values are NaN

# Define columns to fill and their corresponding grouping columns
columns_to_fill = {
    'gasolina_preco_medio': [['ano', 'mes']],
    'etanol_preco_medio': [['ano', 'mes']],
    'gnv_preco_medio': [['ano', 'mes']]
}

for col, grouping_columns in columns_to_fill.items():  # Iterate over columns and their corresponding grouping columns
    for group_cols in grouping_columns:  # Iterate over grouping columns
        df_atualizada_final[col] = df_atualizada_final[col].fillna(df_atualizada_final.groupby(group_cols)[col].transform(calculate_mode))

df_atualizada_final = df_atualizada_final.dropna(subset=['gasolina_preco_medio','etanol_preco_medio','gnv_preco_medio'])

display(df_atualizada_final)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,Preco_acucar_int,cana_de_acucar_preco_tonelada,acucar_exportado_dolares,etanol_exportado_dolares,acucar_importado_dolares,etanol_importado_dolares,frota_automovel,gasolina_preco_medio,etanol_preco_medio,gnv_preco_medio
0,03/01/2012,1231.5,672.95,63.21,34.54,2012,2012/13,2012,8485.000000,1504.11000,...,24.510000,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
1,04/01/2012,1239.5,677.69,63.38,34.65,2012,2012/13,2012,8485.000000,1504.11000,...,24.420000,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
2,05/01/2012,1248.5,679.27,62.96,34.25,2012,2012/13,2012,8485.000000,1504.11000,...,23.129999,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
3,06/01/2012,1259.0,679.07,62.90,33.93,2012,2012/13,2012,8485.000000,1504.11000,...,23.290001,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
4,09/01/2012,1265.0,688.25,62.28,33.89,2012,2012/13,2012,8485.000000,1504.11000,...,23.340000,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,21/12/2022,2968.0,571.10,140.08,26.95,2022,2022/23,2022,8292.725995,1767.47359,...,20.750000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2630,22/12/2022,2969.5,573.59,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,20.889999,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2631,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,20.980000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2632,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,20.320000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2633,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,20.160000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77

In [112]:
# Verificando valores NA após o join
# Valores NAs
import pandas as pd

missing_values = df_atualizada_final.isna().sum()

for item, i in missing_values.items():
    print(item, i)

data 0
preco_etanol_real 0
preco_etanol_dolar 0
preco_acucar_real 0
preco_acucar_dolar 0
ano 0
safra 0
ano_colheita 0
area_BRASIL 0
area_CENTRO-OESTE 0
area_CENTRO-SUL 0
area_NORDESTE 0
area_NORTE 0
area_NORTE/NORDESTE 0
area_SUDESTE 0
produtividade_BRASIL 0
produtividade_CENTRO-OESTE 0
produtividade_CENTRO-SUL 0
produtividade_NORDESTE 0
produtividade_NORTE 0
produtividade_NORTE/NORDESTE 0
produtividade_SUDESTE 0
producao_BRASIL 0
producao_CENTRO-OESTE 0
producao_CENTRO-SUL 0
producao_NORDESTE 0
producao_NORTE 0
producao_NORTE/NORDESTE 0
producao_SUDESTE 0
acucar_BRASIL 0
acucar_CENTRO-OESTE 0
acucar_CENTRO-SUL 0
acucar_NORDESTE 0
acucar_NORTE 0
acucar_NORTE/NORDESTE 0
acucar_SUDESTE 0
etanol_total_BRASIL 0
etanol_total_CENTRO-OESTE 0
etanol_total_CENTRO-SUL 0
etanol_total_NORDESTE 0
etanol_total_NORTE 0
etanol_total_NORTE/NORDESTE 0
etanol_total_SUDESTE 0
etanol_anidro_BRASIL 0
etanol_anidro_CENTRO-OESTE 0
etanol_anidro_CENTRO-SUL 0
etanol_anidro_NORDESTE 0
etanol_anidro_NORTE 0
etanol_anidro_NORTE/NORDESTE 0
etanol_anidro_SUDESTE 0
atr_medio_BRASIL 0
atr_medio_CENTRO-OESTE 0
atr_medio_CENTRO-SUL 0
atr_medio_NORDESTE 0
atr_medio_NORTE 0
atr_medio_NORTE/NORDESTE 0
atr_medio_SUDESTE 0
etanol_hidratado_BRASIL 0
etanol_hidratado_CENTRO-OESTE 0
etanol_hidratado_CENTRO-SUL 0
etanol_hidratado_NORDESTE 0
etanol_hidratado_NORTE 0
etanol_hidratado_NORTE/NORDESTE 0
etanol_hidratado_SUDESTE 0
Date_x 0
EUR 0
GBP 0
USD 0
ipca 0
igp-m 0
mes 0
dia 0
Preco_petroleo 0
Desemprego 0
PIB 0
ENOS 0
Date 0
Preco_acucar_int 0
cana_de_acucar_preco_tonelada 0
acucar_exportado_dolares 0
etanol_exportado_dolares 0
acucar_importado_dolares 0
etanol_importado_dolares 0
frota_automovel 0
gasolina_preco_medio 0
etanol_preco_medio 0
gnv_preco_medio 0

In [113]:
# Verificando sanidade geral dos dados de preco de combustíveis

# Grouping by 'ano' and calculating mean, min, and max for the specified columns
summary_stats = df_atualizada_final[[
    'ano',
    'gasolina_preco_medio', 
    'etanol_preco_medio', 
    'gnv_preco_medio']].groupby('ano').agg({
    'gasolina_preco_medio': ['mean', 'min', 'max'],
    'etanol_preco_medio': ['mean', 'min', 'max'],
    'gnv_preco_medio': ['mean', 'min', 'max']
})

# Renaming the columns for better understanding
summary_stats.columns = ['gasolina_preco_medio_mean', 'gasolina_preco_medio_min', 'gasolina_preco_medio_max',
                        'etanol_preco_medio_mean', 'etanol_preco_medio_min', 'etanol_preco_medio_max',
                        'gnv_preco_medio_mean', 'gnv_preco_medio_min', 'gnv_preco_medio_max']

# Displaying the summary statistics
print(summary_stats)

      gasolina_preco_medio_mean  gasolina_preco_medio_min  \
ano
2012                   2.736035                     2.723
2013                   2.852722                     2.763
2014                   2.974701                     2.955
2015                   3.341391                     3.032
2016                   3.679454                     3.638
2017                   3.763655                     3.548
2018                   4.411970                     4.189
2019                   4.378231                     4.190
2020                   4.275434                     3.818
2021                   5.794859                     4.622
2022                   6.117257                     4.890

      gasolina_preco_medio_max  etanol_preco_medio_mean  \
ano
2012                     2.754                 1.944048
2013                     2.946                 1.968940
2014                     3.031                 2.065813
2015                     3.633                 2.225107
2016                     3.734                 2.647221
2017                     4.085                 2.685080
2018                     4.717                 2.887249
2019                     4.552                 2.900244
2020                     4.579                 2.944358
2021                     6.744                 4.347739
2022                     7.280                 4.427884

      etanol_preco_medio_min  etanol_preco_medio_max  gnv_preco_medio_mean  \
ano
2012                   1.888                   2.034              1.705338
2013                   1.895                   2.064              1.784470
2014                   1.999                   2.177              1.879693
2015                   2.061                   2.659              2.062988
2016                   2.434                   2.869              2.231379
2017                   2.460                   2.910              2.339277
2018                   2.656                   3.032              2.723312
2019                   2.776                   3.125              3.157727
2020                   2.550                   3.248              3.088296
2021                   3.221                   5.370              3.800481
2022                   3.480                   5.326              4.899494

      gnv_preco_medio_min  gnv_preco_medio_max
ano
2012                1.632                1.757
2013                1.764                1.812
2014                1.825                1.916
2015                1.926                2.225
2016                2.201                2.253
2017                2.218                2.421
2018                2.468                3.052
2019                3.084                3.203
2020                2.879                3.211
2021                3.187                4.341
2022                4.452                5.300

In [114]:
df_atualizada_final.columns

Index(['data', 'preco_etanol_real', 'preco_etanol_dolar', 'preco_acucar_real',
       'preco_acucar_dolar', 'ano', 'safra', 'ano_colheita', 'area_BRASIL',
       'area_CENTRO-OESTE', 'area_CENTRO-SUL', 'area_NORDESTE', 'area_NORTE',
       'area_NORTE/NORDESTE', 'area_SUDESTE', 'produtividade_BRASIL',
       'produtividade_CENTRO-OESTE', 'produtividade_CENTRO-SUL',
       'produtividade_NORDESTE', 'produtividade_NORTE',
       'produtividade_NORTE/NORDESTE', 'produtividade_SUDESTE',
       'producao_BRASIL', 'producao_CENTRO-OESTE', 'producao_CENTRO-SUL',
       'producao_NORDESTE', 'producao_NORTE', 'producao_NORTE/NORDESTE',
       'producao_SUDESTE', 'acucar_BRASIL', 'acucar_CENTRO-OESTE',
       'acucar_CENTRO-SUL', 'acucar_NORDESTE', 'acucar_NORTE',
       'acucar_NORTE/NORDESTE', 'acucar_SUDESTE', 'etanol_total_BRASIL',
       'etanol_total_CENTRO-OESTE', 'etanol_total_CENTRO-SUL',
       'etanol_total_NORDESTE', 'etanol_total_NORTE',
       'etanol_total_NORTE/NORDESTE', 'etanol_total_SUDESTE',
       'etanol_anidro_BRASIL', 'etanol_anidro_CENTRO-OESTE',
       'etanol_anidro_CENTRO-SUL', 'etanol_anidro_NORDESTE',
       'etanol_anidro_NORTE', 'etanol_anidro_NORTE/NORDESTE',
       'etanol_anidro_SUDESTE', 'atr_medio_BRASIL', 'atr_medio_CENTRO-OESTE',
       'atr_medio_CENTRO-SUL', 'atr_medio_NORDESTE', 'atr_medio_NORTE',
       'atr_medio_NORTE/NORDESTE', 'atr_medio_SUDESTE',
       'etanol_hidratado_BRASIL', 'etanol_hidratado_CENTRO-OESTE',
       'etanol_hidratado_CENTRO-SUL', 'etanol_hidratado_NORDESTE',
       'etanol_hidratado_NORTE', 'etanol_hidratado_NORTE/NORDESTE',
       'etanol_hidratado_SUDESTE', 'Date_x', 'EUR', 'GBP', 'USD', 'ipca',
       'igp-m', 'mes', 'dia', 'Preco_petroleo', 'Desemprego', 'PIB', 'ENOS',
       'Date', 'Preco_acucar_int', 'cana_de_acucar_preco_tonelada',
       'acucar_exportado_dolares', 'etanol_exportado_dolares',
       'acucar_importado_dolares', 'etanol_importado_dolares',
       'frota_automovel', 'gasolina_preco_medio', 'etanol_preco_medio',
       'gnv_preco_medio'],
      dtype='object')

In [115]:
# Remover colunas não necessárias
columns_to_remove = ['Date_x',
                     'Date']

df_atualizada_final = df_atualizada_final.drop(columns=columns_to_remove)

display(df_atualizada_final)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,Preco_acucar_int,cana_de_acucar_preco_tonelada,acucar_exportado_dolares,etanol_exportado_dolares,acucar_importado_dolares,etanol_importado_dolares,frota_automovel,gasolina_preco_medio,etanol_preco_medio,gnv_preco_medio
0,03/01/2012,1231.5,672.95,63.21,34.54,2012,2012/13,2012,8485.000000,1504.11000,...,24.510000,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
1,04/01/2012,1239.5,677.69,63.38,34.65,2012,2012/13,2012,8485.000000,1504.11000,...,24.420000,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
2,05/01/2012,1248.5,679.27,62.96,34.25,2012,2012/13,2012,8485.000000,1504.11000,...,23.129999,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
3,06/01/2012,1259.0,679.07,62.90,33.93,2012,2012/13,2012,8485.000000,1504.11000,...,23.290001,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
4,09/01/2012,1265.0,688.25,62.28,33.89,2012,2012/13,2012,8485.000000,1504.11000,...,23.340000,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,21/12/2022,2968.0,571.10,140.08,26.95,2022,2022/23,2022,8292.725995,1767.47359,...,20.750000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2630,22/12/2022,2969.5,573.59,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,20.889999,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2631,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,20.980000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2632,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,20.320000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2633,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,20.160000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77

In [116]:
colunas=df_atualizada_final.columns
for i in colunas:
    print(i)

data
preco_etanol_real
preco_etanol_dolar
preco_acucar_real
preco_acucar_dolar
ano
safra
ano_colheita
area_BRASIL
area_CENTRO-OESTE
area_CENTRO-SUL
area_NORDESTE
area_NORTE
area_NORTE/NORDESTE
area_SUDESTE
produtividade_BRASIL
produtividade_CENTRO-OESTE
produtividade_CENTRO-SUL
produtividade_NORDESTE
produtividade_NORTE
produtividade_NORTE/NORDESTE
produtividade_SUDESTE
producao_BRASIL
producao_CENTRO-OESTE
producao_CENTRO-SUL
producao_NORDESTE
producao_NORTE
producao_NORTE/NORDESTE
producao_SUDESTE
acucar_BRASIL
acucar_CENTRO-OESTE
acucar_CENTRO-SUL
acucar_NORDESTE
acucar_NORTE
acucar_NORTE/NORDESTE
acucar_SUDESTE
etanol_total_BRASIL
etanol_total_CENTRO-OESTE
etanol_total_CENTRO-SUL
etanol_total_NORDESTE
etanol_total_NORTE
etanol_total_NORTE/NORDESTE
etanol_total_SUDESTE
etanol_anidro_BRASIL
etanol_anidro_CENTRO-OESTE
etanol_anidro_CENTRO-SUL
etanol_anidro_NORDESTE
etanol_anidro_NORTE
etanol_anidro_NORTE/NORDESTE
etanol_anidro_SUDESTE
atr_medio_BRASIL
atr_medio_CENTRO-OESTE
atr_medio_CENTRO-SUL
atr_medio_NORDESTE
atr_medio_NORTE
atr_medio_NORTE/NORDESTE
atr_medio_SUDESTE
etanol_hidratado_BRASIL
etanol_hidratado_CENTRO-OESTE
etanol_hidratado_CENTRO-SUL
etanol_hidratado_NORDESTE
etanol_hidratado_NORTE
etanol_hidratado_NORTE/NORDESTE
etanol_hidratado_SUDESTE
EUR
GBP
USD
ipca
igp-m
mes
dia
Preco_petroleo
Desemprego
PIB
ENOS
Preco_acucar_int
cana_de_acucar_preco_tonelada
acucar_exportado_dolares
etanol_exportado_dolares
acucar_importado_dolares
etanol_importado_dolares
frota_automovel
gasolina_preco_medio
etanol_preco_medio
gnv_preco_medio

In [117]:
import pandas as pd

# Sum missing values by column
missing_values_sum = df_atualizada_final.isna().groupby(level=0, axis=1).sum()

# Filter variable names with missing values
variables_with_missing_values = missing_values_sum.columns[missing_values_sum.sum() > 0]

df_atualizada_final = df_atualizada_final.drop(columns=variables_with_missing_values)

# Loop to show sum of missing values by variable
for col in variables_with_missing_values:
    print(f"Variable: {col}, Missing Values Sum: {missing_values_sum[col].sum()}")

In [118]:
# Sum missing values by column
missing_values_sum = df_atualizada_final.isna().groupby(level=0, axis=1).sum()

# Filter variable names with missing values
variables_with_missing_values = missing_values_sum.columns[missing_values_sum.sum() > 0]
# Loop to show sum of missing values by variable
for col in missing_values_sum:
    print(f"Variable: {col}, Missing Values Sum: {missing_values_sum[col].sum()}")

Variable: Desemprego, Missing Values Sum: 0
Variable: ENOS, Missing Values Sum: 0
Variable: EUR, Missing Values Sum: 0
Variable: GBP, Missing Values Sum: 0
Variable: PIB, Missing Values Sum: 0
Variable: Preco_acucar_int, Missing Values Sum: 0
Variable: Preco_petroleo, Missing Values Sum: 0
Variable: USD, Missing Values Sum: 0
Variable: acucar_BRASIL, Missing Values Sum: 0
Variable: acucar_CENTRO-OESTE, Missing Values Sum: 0
Variable: acucar_CENTRO-SUL, Missing Values Sum: 0
Variable: acucar_NORDESTE, Missing Values Sum: 0
Variable: acucar_NORTE, Missing Values Sum: 0
Variable: acucar_NORTE/NORDESTE, Missing Values Sum: 0
Variable: acucar_SUDESTE, Missing Values Sum: 0
Variable: acucar_exportado_dolares, Missing Values Sum: 0
Variable: acucar_importado_dolares, Missing Values Sum: 0
Variable: ano, Missing Values Sum: 0
Variable: ano_colheita, Missing Values Sum: 0
Variable: area_BRASIL, Missing Values Sum: 0
Variable: area_CENTRO-OESTE, Missing Values Sum: 0
Variable: area_CENTRO-SUL, Missing Values Sum: 0
Variable: area_NORDESTE, Missing Values Sum: 0
Variable: area_NORTE, Missing Values Sum: 0
Variable: area_NORTE/NORDESTE, Missing Values Sum: 0
Variable: area_SUDESTE, Missing Values Sum: 0
Variable: atr_medio_BRASIL, Missing Values Sum: 0
Variable: atr_medio_CENTRO-OESTE, Missing Values Sum: 0
Variable: atr_medio_CENTRO-SUL, Missing Values Sum: 0
Variable: atr_medio_NORDESTE, Missing Values Sum: 0
Variable: atr_medio_NORTE, Missing Values Sum: 0
Variable: atr_medio_NORTE/NORDESTE, Missing Values Sum: 0
Variable: atr_medio_SUDESTE, Missing Values Sum: 0
Variable: cana_de_acucar_preco_tonelada, Missing Values Sum: 0
Variable: data, Missing Values Sum: 0
Variable: dia, Missing Values Sum: 0
Variable: etanol_anidro_BRASIL, Missing Values Sum: 0
Variable: etanol_anidro_CENTRO-OESTE, Missing Values Sum: 0
Variable: etanol_anidro_CENTRO-SUL, Missing Values Sum: 0
Variable: etanol_anidro_NORDESTE, Missing Values Sum: 0
Variable: etanol_anidro_NORTE, Missing Values Sum: 0
Variable: etanol_anidro_NORTE/NORDESTE, Missing Values Sum: 0
Variable: etanol_anidro_SUDESTE, Missing Values Sum: 0
Variable: etanol_exportado_dolares, Missing Values Sum: 0
Variable: etanol_hidratado_BRASIL, Missing Values Sum: 0
Variable: etanol_hidratado_CENTRO-OESTE, Missing Values Sum: 0
Variable: etanol_hidratado_CENTRO-SUL, Missing Values Sum: 0
Variable: etanol_hidratado_NORDESTE, Missing Values Sum: 0
Variable: etanol_hidratado_NORTE, Missing Values Sum: 0
Variable: etanol_hidratado_NORTE/NORDESTE, Missing Values Sum: 0
Variable: etanol_hidratado_SUDESTE, Missing Values Sum: 0
Variable: etanol_importado_dolares, Missing Values Sum: 0
Variable: etanol_preco_medio, Missing Values Sum: 0
Variable: etanol_total_BRASIL, Missing Values Sum: 0
Variable: etanol_total_CENTRO-OESTE, Missing Values Sum: 0
Variable: etanol_total_CENTRO-SUL, Missing Values Sum: 0
Variable: etanol_total_NORDESTE, Missing Values Sum: 0
Variable: etanol_total_NORTE, Missing Values Sum: 0
Variable: etanol_total_NORTE/NORDESTE, Missing Values Sum: 0
Variable: etanol_total_SUDESTE, Missing Values Sum: 0
Variable: frota_automovel, Missing Values Sum: 0
Variable: gasolina_preco_medio, Missing Values Sum: 0
Variable: gnv_preco_medio, Missing Values Sum: 0
Variable: igp-m, Missing Values Sum: 0
Variable: ipca, Missing Values Sum: 0
Variable: mes, Missing Values Sum: 0
Variable: preco_acucar_dolar, Missing Values Sum: 0
Variable: preco_acucar_real, Missing Values Sum: 0
Variable: preco_etanol_dolar, Missing Values Sum: 0
Variable: preco_etanol_real, Missing Values Sum: 0
Variable: producao_BRASIL, Missing Values Sum: 0
Variable: producao_CENTRO-OESTE, Missing Values Sum: 0
Variable: producao_CENTRO-SUL, Missing Values Sum: 0
Variable: producao_NORDESTE, Missing Values Sum: 0
Variable: producao_NORTE, Missing Values Sum: 0
Variable: producao_NORTE/NORDESTE, Missing Values Sum: 0
Variable: producao_SUDESTE, Missing Values Sum: 0
Variable: produtividade_BRASIL, Missing Values Sum: 0
Variable: produtividade_CENTRO-OESTE, Missing Values Sum: 0
Variable: produtividade_CENTRO-SUL, Missing Values Sum: 0
Variable: produtividade_NORDESTE, Missing Values Sum: 0
Variable: produtividade_NORTE, Missing Values Sum: 0
Variable: produtividade_NORTE/NORDESTE, Missing Values Sum: 0
Variable: produtividade_SUDESTE, Missing Values Sum: 0
Variable: safra, Missing Values Sum: 0

In [119]:
display(df_atualizada_final)

,data,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano,safra,ano_colheita,area_BRASIL,area_CENTRO-OESTE,...,Preco_acucar_int,cana_de_acucar_preco_tonelada,acucar_exportado_dolares,etanol_exportado_dolares,acucar_importado_dolares,etanol_importado_dolares,frota_automovel,gasolina_preco_medio,etanol_preco_medio,gnv_preco_medio
0,03/01/2012,1231.5,672.95,63.21,34.54,2012,2012/13,2012,8485.000000,1504.11000,...,24.510000,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
1,04/01/2012,1239.5,677.69,63.38,34.65,2012,2012/13,2012,8485.000000,1504.11000,...,24.420000,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
2,05/01/2012,1248.5,679.27,62.96,34.25,2012,2012/13,2012,8485.000000,1504.11000,...,23.129999,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
3,06/01/2012,1259.0,679.07,62.90,33.93,2012,2012/13,2012,8485.000000,1504.11000,...,23.290001,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
4,09/01/2012,1265.0,688.25,62.28,33.89,2012,2012/13,2012,8485.000000,1504.11000,...,23.340000,55.180,745050324,72814482,45758,99676942,42682111,2.743,2.034,1.632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,21/12/2022,2968.0,571.10,140.08,26.95,2022,2022/23,2022,8292.725995,1767.47359,...,20.750000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2630,22/12/2022,2969.5,573.59,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,20.889999,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2631,23/12/2022,2971.5,575.43,141.65,27.36,2022,2022/23,2022,8292.725995,1767.47359,...,20.980000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2632,27/12/2022,2973.0,562.64,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,20.320000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77
2633,28/12/2022,2968.0,565.01,136.69,25.87,2022,2022/23,2022,8292.725995,1767.47359,...,20.160000,116.407,952490043,220959253,64131,9524284,60459290,4.97,3.84,4.77

In [120]:
# Reorganizando o dataset final

# List of columns to keep at the beginning
columns_to_keep = ['data', 'safra', 'ano', 'mes', 'dia']

# List of remaining columns
remaining_columns = [col for col in df_atualizada_final.columns if col not in columns_to_keep]

# Reorganize columns
df_atualizada_final = df_atualizada_final[columns_to_keep + remaining_columns]

# Display the DataFrame with the reordered columns
print(df_atualizada_final.head())

         data    safra   ano  mes dia  preco_etanol_real  preco_etanol_dolar  \
0  03/01/2012  2012/13  2012    1  03             1231.5              672.95
1  04/01/2012  2012/13  2012    1  04             1239.5              677.69
2  05/01/2012  2012/13  2012    1  05             1248.5              679.27
3  06/01/2012  2012/13  2012    1  06             1259.0              679.07
4  09/01/2012  2012/13  2012    1  09             1265.0              688.25

   preco_acucar_real  preco_acucar_dolar  ano_colheita  ...  Preco_acucar_int  \
0              63.21               34.54          2012  ...         24.510000
1              63.38               34.65          2012  ...         24.420000
2              62.96               34.25          2012  ...         23.129999
3              62.90               33.93          2012  ...         23.290001
4              62.28               33.89          2012  ...         23.340000

   cana_de_acucar_preco_tonelada  acucar_exportado_dolares  \
0                          55.18                 745050324
1                          55.18                 745050324
2                          55.18                 745050324
3                          55.18                 745050324
4                          55.18                 745050324

   etanol_exportado_dolares  acucar_importado_dolares  \
0                  72814482                     45758
1                  72814482                     45758
2                  72814482                     45758
3                  72814482                     45758
4                  72814482                     45758

   etanol_importado_dolares  frota_automovel  gasolina_preco_medio  \
0                  99676942         42682111                 2.743
1                  99676942         42682111                 2.743
2                  99676942         42682111                 2.743
3                  99676942         42682111                 2.743
4                  99676942         42682111                 2.743

   etanol_preco_medio  gnv_preco_medio
0               2.034            1.632
1               2.034            1.632
2               2.034            1.632
3               2.034            1.632
4               2.034            1.632

[5 rows x 85 columns]

In [121]:
# terminar amanhã tabela resumo
df_atualizada_final.columns = df_atualizada_final.columns.str.lower()
import pandas as pd

# Convert specific columns to date format
columns =  df_atualizada_final.columns # Add your date columns here
for col in columns:
    if col == 'data':
        df_atualizada_final[col] = pd.to_datetime(df_atualizada_final[col], format='%d/%m/%Y')
    elif col == 'safra':
        # Do nothing for 'safra' column
        pass
    elif col in ['ano','mes', 'dia']:
        df_atualizada_final[col] = df_atualizada_final[col].astype(int)
    elif col not in ['data', 'safra', 'mes', 'dia']:
        df_atualizada_final[col] = df_atualizada_final[col].astype(float)

# Calculate the number of observations for each column
n_observacoes = df_atualizada_final.notnull().sum()

# Calculate the sum of NaN values for each column
valores_faltantes = df_atualizada_final.isnull().sum()

# Get data types for each column
tipos_dados = df_atualizada_final.dtypes

# Create a DataFrame with columns 'nome_variavel', 'n_observacoes', 'valores_faltantes', 'tipo_dado', 'minimo', 'maximo', and 'media'
df_info = pd.DataFrame({
    'nome_variavel': n_observacoes.index,
    'n_observacoes': n_observacoes.values,
    'valores_faltantes': valores_faltantes.values,
    'tipo_dado': tipos_dados.values,
})

In [122]:
display(columns)

Index(['data', 'safra', 'ano', 'mes', 'dia', 'preco_etanol_real',
       'preco_etanol_dolar', 'preco_acucar_real', 'preco_acucar_dolar',
       'ano_colheita', 'area_brasil', 'area_centro-oeste', 'area_centro-sul',
       'area_nordeste', 'area_norte', 'area_norte/nordeste', 'area_sudeste',
       'produtividade_brasil', 'produtividade_centro-oeste',
       'produtividade_centro-sul', 'produtividade_nordeste',
       'produtividade_norte', 'produtividade_norte/nordeste',
       'produtividade_sudeste', 'producao_brasil', 'producao_centro-oeste',
       'producao_centro-sul', 'producao_nordeste', 'producao_norte',
       'producao_norte/nordeste', 'producao_sudeste', 'acucar_brasil',
       'acucar_centro-oeste', 'acucar_centro-sul', 'acucar_nordeste',
       'acucar_norte', 'acucar_norte/nordeste', 'acucar_sudeste',
       'etanol_total_brasil', 'etanol_total_centro-oeste',
       'etanol_total_centro-sul', 'etanol_total_nordeste',
       'etanol_total_norte', 'etanol_total_norte/nordeste',
       'etanol_total_sudeste', 'etanol_anidro_brasil',
       'etanol_anidro_centro-oeste', 'etanol_anidro_centro-sul',
       'etanol_anidro_nordeste', 'etanol_anidro_norte',
       'etanol_anidro_norte/nordeste', 'etanol_anidro_sudeste',
       'atr_medio_brasil', 'atr_medio_centro-oeste', 'atr_medio_centro-sul',
       'atr_medio_nordeste', 'atr_medio_norte', 'atr_medio_norte/nordeste',
       'atr_medio_sudeste', 'etanol_hidratado_brasil',
       'etanol_hidratado_centro-oeste', 'etanol_hidratado_centro-sul',
       'etanol_hidratado_nordeste', 'etanol_hidratado_norte',
       'etanol_hidratado_norte/nordeste', 'etanol_hidratado_sudeste', 'eur',
       'gbp', 'usd', 'ipca', 'igp-m', 'preco_petroleo', 'desemprego', 'pib',
       'enos', 'preco_acucar_int', 'cana_de_acucar_preco_tonelada',
       'acucar_exportado_dolares', 'etanol_exportado_dolares',
       'acucar_importado_dolares', 'etanol_importado_dolares',
       'frota_automovel', 'gasolina_preco_medio', 'etanol_preco_medio',
       'gnv_preco_medio'],
      dtype='object')

In [123]:
# Verificando duplicados no dataset

duplicates = df_atualizada_final[df_atualizada_final.duplicated()]

if duplicates.empty:
    print("No duplicates found.")
else:
    print("Duplicates found:")
    print(duplicates)

Duplicates found:
           data    safra   ano  mes  dia  preco_etanol_real  \
357  2013-07-15  2013/14  2013    7   15             1047.5
590  2014-07-15  2014/15  2014    7   15             1168.0
835  2015-07-15  2015/16  2015    7   15             1148.0
2036 2020-07-15  2020/21  2020    7   15             1673.5
2037 2020-07-15  2020/21  2020    7   15             1673.5
2038 2020-07-15  2020/21  2020    7   15             1673.5

      preco_etanol_dolar  preco_acucar_real  preco_acucar_dolar  ano_colheita  \
357               470.15              44.47               19.96        2013.0
590               525.65              46.78               21.05        2014.0
835               366.42              48.48               15.47        2015.0
2036              310.94              77.29               14.36        2020.0
2037              310.94              77.29               14.36        2020.0
2038              310.94              77.29               14.36        2020.0

      ...  preco_acucar_int  cana_de_acucar_preco_tonelada  \
357   ...         16.160000                         50.366
590   ...         17.209999                         52.175
835   ...         12.460000                         53.747
2036  ...         11.820000                         74.497
2037  ...         11.820000                         74.497
2038  ...         11.820000                         74.497

      acucar_exportado_dolares  etanol_exportado_dolares  \
357                964355619.0               223452940.0
590                995812959.0                57348548.0
835                727791050.0                99981971.0
2036               910550241.0               128533036.0
2037               910550241.0               128533036.0
2038               910550241.0               128533036.0

      acucar_importado_dolares  etanol_importado_dolares  frota_automovel  \
357                   254826.0                 8985922.0       45444387.0
590                   186814.0                  532319.0       47946665.0
835                   156809.0                 5832582.0       49822709.0
2036                   68683.0                 8762412.0       58016405.0
2037                   68683.0                 8762412.0       58016405.0
2038                   68683.0                 8762412.0       58016405.0

      gasolina_preco_medio  etanol_preco_medio  gnv_preco_medio
357                  2.839               1.918            1.792
590                  2.957               2.042            1.892
835                  3.296               2.081            2.057
2036                 4.144               2.739            3.062
2037                 4.144               2.739            3.062
2038                 4.144               2.739            3.062

[6 rows x 85 columns]

In [124]:
# Removendo duplicados
df_atualizada_final = df_atualizada_final.drop_duplicates()

In [125]:
# Incluindo coluna com Lei de Paridade dos combustíveis
import pandas as pd
df_atualizada_final['data'] = pd.to_datetime(df_atualizada_final['data']) 
df_atualizada_final['PPI'] = (df_atualizada_final['data'] >= pd.to_datetime('2016-10-01')).astype(int)

df_atualizada_final.tail(1480)

,data,safra,ano,mes,dia,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano_colheita,...,cana_de_acucar_preco_tonelada,acucar_exportado_dolares,etanol_exportado_dolares,acucar_importado_dolares,etanol_importado_dolares,frota_automovel,gasolina_preco_medio,etanol_preco_medio,gnv_preco_medio,PPI
1131,2016-09-30,2016/17,2016,9,30,1670.0,513.69,94.70,29.13,2016.0,...,67.241,1.249711e+09,73850217.0,95715.0,25927532.0,51296982.0,3.648,2.510,2.224,0
1132,2016-10-03,2016/17,2016,10,3,1680.0,525.00,94.20,29.44,2016.0,...,68.017,8.699539e+08,39644023.0,115612.0,34056844.0,51296982.0,3.662,2.676,2.201,1
1133,2016-10-04,2016/17,2016,10,4,1690.5,519.35,94.38,29.00,2016.0,...,68.017,8.699539e+08,39644023.0,115612.0,34056844.0,51296982.0,3.662,2.676,2.201,1
1134,2016-10-05,2016/17,2016,10,5,1694.0,525.92,95.09,29.52,2016.0,...,68.017,8.699539e+08,39644023.0,115612.0,34056844.0,51296982.0,3.662,2.676,2.201,1
1135,2016-10-06,2016/17,2016,10,6,1725.0,535.05,95.50,29.62,2016.0,...,68.017,8.699539e+08,39644023.0,115612.0,34056844.0,51296982.0,3.662,2.676,2.201,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,2022-12-21,2022/23,2022,12,21,2968.0,571.10,140.08,26.95,2022.0,...,116.407,9.524900e+08,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1
2630,2022-12-22,2022/23,2022,12,22,2969.5,573.59,141.65,27.36,2022.0,...,116.407,9.524900e+08,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1
2631,2022-12-23,2022/23,2022,12,23,2971.5,575.43,141.65,27.36,2022.0,...,116.407,9.524900e+08,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1
2632,2022-12-27,2022/23,2022,12,27,2973.0,562.64,136.69,25.87,2022.0,...,116.407,9.524900e+08,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1
2633,2022-12-28,2022/23,2022,12,28,2968.0,565.01,136.69,25.87,2022.0,...,116.407,9.524900e+08,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1

In [146]:
# Incluindo coluna com Lei de Paridade dos combustíveis
import pandas as pd
df_atualizada_final['data'] = pd.to_datetime(df_atualizada_final['data']) 
df_atualizada_final['pandemia'] = (df_atualizada_final['data'] >= pd.to_datetime('2020-03-11')).astype(int)

df_atualizada_final.tail(664)

,data,safra,ano,mes,dia,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano_colheita,...,acucar_exportado_dolares,etanol_exportado_dolares,acucar_importado_dolares,etanol_importado_dolares,frota_automovel,gasolina_preco_medio,etanol_preco_medio,gnv_preco_medio,PPI,pandemia
1947,2020-03-05,2020/21,2020,3,5,2130.5,458.37,80.33,17.28,2020.0,...,420072892.0,41944915.0,113493.0,115245718.0,58016405.0,4.462,3.196,3.195,1,0
1948,2020-03-06,2020/21,2020,3,6,2125.5,459.17,80.91,17.48,2020.0,...,420072892.0,41944915.0,113493.0,115245718.0,58016405.0,4.462,3.196,3.195,1,0
1949,2020-03-09,2020/21,2020,3,9,2073.0,436.88,80.13,16.89,2020.0,...,420072892.0,41944915.0,113493.0,115245718.0,58016405.0,4.462,3.196,3.195,1,0
1950,2020-03-10,2020/21,2020,3,10,2039.0,439.06,78.92,16.99,2020.0,...,420072892.0,41944915.0,113493.0,115245718.0,58016405.0,4.462,3.196,3.195,1,0
1951,2020-03-11,2020/21,2020,3,11,2024.0,427.55,79.35,16.76,2020.0,...,420072892.0,41944915.0,113493.0,115245718.0,58016405.0,4.462,3.196,3.195,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2629,2022-12-21,2022/23,2022,12,21,2968.0,571.10,140.08,26.95,2022.0,...,952490043.0,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1,1
2630,2022-12-22,2022/23,2022,12,22,2969.5,573.59,141.65,27.36,2022.0,...,952490043.0,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1,1
2631,2022-12-23,2022/23,2022,12,23,2971.5,575.43,141.65,27.36,2022.0,...,952490043.0,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1,1
2632,2022-12-27,2022/23,2022,12,27,2973.0,562.64,136.69,25.87,2022.0,...,952490043.0,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1,1
2633,2022-12-28,2022/23,2022,12,28,2968.0,565.01,136.69,25.87,2022.0,...,952490043.0,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1,1

In [147]:
# Incluindo dados de percentual de etanol na gasolina
perc_etanol_gasolina = pd.read_csv('perc_etanol_gasolina.csv', names =['data', 'perc_eta_gas'])

perc_etanol_gasolina['data'] = pd.to_datetime(perc_etanol_gasolina['data'], format='%Y')
perc_etanol_gasolina['data'] = perc_etanol_gasolina['data'].dt.strftime('%Y/%m/%d') 
perc_etanol_gasolina['data'] = pd.to_datetime(perc_etanol_gasolina['data'])

perc_etanol_gasolina['ano'] = perc_etanol_gasolina['data'].dt.year
perc_etanol_gasolina['mes'] = perc_etanol_gasolina['data'].dt.month
perc_etanol_gasolina= perc_etanol_gasolina.groupby(['ano','mes'])['perc_eta_gas'].mean().reset_index()
perc_etanol_gasolina.head(1000)

     ano  mes  perc_eta_gas
0   1977    1     12.314947
1   1978    1     13.502392
2   1979    1     14.649499
3   1980    1     16.132084
4   1981    1     18.147998
5   1982    1     20.031684
6   1983    1     21.361716
7   1984    1     22.153314
8   1985    1     21.043956
9   1986    1     17.156466
10  1987    1     13.862648
11  1988    1     14.482944
12  1989    1     17.813855
13  1990    1     21.281481
14  1991    1     23.109298
15  1992    1     23.849755
16  1993    1     23.614475
17  1994    1     22.093986
18  1995    1     20.685431
19  1996    1     20.053878
20  1997    1     20.855277
21  1998    1     21.799280
22  1999    1     22.590467
23  2000    1     23.290454
24  2001    1     24.010684
25  2002    1     24.598522
26  2003    1     24.932608
27  2004    1     24.748452
28  2005    1     23.817276
29  2006    1     23.007902
30  2007    1     23.595921
31  2008    1     24.499339
32  2009    1     24.731635
33  2010    1     23.002650
34  2011    1     20.943618
35  2012    1     20.357804
36  2013    1     22.460059
37  2014    1     24.379716
38  2015    1     24.581426
39  2016    1     23.452137
40  2017    1     22.810323
41  2018    1     23.937210
42  2019    1     25.536730
43  2020    1     26.912518
44  2021    1     27.195578
45  2022    1     26.919763
46  2023    1     26.888391

In [148]:
# Fazendo o merge com os dados origianais

df_atualizada_final_a= pd.merge(df_atualizada_final,perc_etanol_gasolina,on=['ano','mes'],how='left')

#Imputação de dados para adequação da granularidade

# Ano
df_atualizada_final_a['perc_eta_gas'] = df_atualizada_final_a['perc_eta_gas'].fillna(df_atualizada_final_a.groupby(['ano'])['perc_eta_gas'].transform(calculate_mode))

display(df_atualizada_final_a)
#for i in df_atualizada_final_a['data']:
#    print(i)

,data,safra,ano,mes,dia,preco_etanol_real,preco_etanol_dolar,preco_acucar_real,preco_acucar_dolar,ano_colheita,...,etanol_exportado_dolares,acucar_importado_dolares,etanol_importado_dolares,frota_automovel,gasolina_preco_medio,etanol_preco_medio,gnv_preco_medio,PPI,pandemia,perc_eta_gas
0,2012-01-03,2012/13,2012,1,3,1231.5,672.95,63.21,34.54,2012.0,...,72814482.0,45758.0,99676942.0,42682111.0,2.743,2.034,1.632,0,0,20.357804
1,2012-01-04,2012/13,2012,1,4,1239.5,677.69,63.38,34.65,2012.0,...,72814482.0,45758.0,99676942.0,42682111.0,2.743,2.034,1.632,0,0,20.357804
2,2012-01-05,2012/13,2012,1,5,1248.5,679.27,62.96,34.25,2012.0,...,72814482.0,45758.0,99676942.0,42682111.0,2.743,2.034,1.632,0,0,20.357804
3,2012-01-06,2012/13,2012,1,6,1259.0,679.07,62.90,33.93,2012.0,...,72814482.0,45758.0,99676942.0,42682111.0,2.743,2.034,1.632,0,0,20.357804
4,2012-01-09,2012/13,2012,1,9,1265.0,688.25,62.28,33.89,2012.0,...,72814482.0,45758.0,99676942.0,42682111.0,2.743,2.034,1.632,0,0,20.357804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2603,2022-12-21,2022/23,2022,12,21,2968.0,571.10,140.08,26.95,2022.0,...,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1,1,26.919763
2604,2022-12-22,2022/23,2022,12,22,2969.5,573.59,141.65,27.36,2022.0,...,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1,1,26.919763
2605,2022-12-23,2022/23,2022,12,23,2971.5,575.43,141.65,27.36,2022.0,...,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1,1,26.919763
2606,2022-12-27,2022/23,2022,12,27,2973.0,562.64,136.69,25.87,2022.0,...,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1,1,26.919763
2607,2022-12-28,2022/23,2022,12,28,2968.0,565.01,136.69,25.87,2022.0,...,220959253.0,64131.0,9524284.0,60459290.0,4.970,3.840,4.770,1,1,26.919763

In [149]:
df_atualizada_final_a.dtypes

data                  datetime64[ns]
safra                         object
ano                            int32
mes                            int32
dia                            int32
                           ...
etanol_preco_medio           float64
gnv_preco_medio              float64
PPI                            int32
pandemia                       int32
perc_eta_gas                 float64
Length: 88, dtype: object

In [150]:
# Sum missing values by column
missing_values_sum = df_atualizada_final_a.isna().groupby(level=0, axis=1).sum()

# Filter variable names with missing values
#variables_with_missing_values = missing_values_sum.columns[missing_values_sum.sum() > 0]
# Loop to show sum of missing values by variable
for col in missing_values_sum:
    print(f"Variable: {col}, Missing Values Sum: {missing_values_sum[col].sum()}")

Variable: PPI, Missing Values Sum: 0
Variable: acucar_brasil, Missing Values Sum: 0
Variable: acucar_centro-oeste, Missing Values Sum: 0
Variable: acucar_centro-sul, Missing Values Sum: 0
Variable: acucar_exportado_dolares, Missing Values Sum: 0
Variable: acucar_importado_dolares, Missing Values Sum: 0
Variable: acucar_nordeste, Missing Values Sum: 0
Variable: acucar_norte, Missing Values Sum: 0
Variable: acucar_norte/nordeste, Missing Values Sum: 0
Variable: acucar_sudeste, Missing Values Sum: 0
Variable: ano, Missing Values Sum: 0
Variable: ano_colheita, Missing Values Sum: 0
Variable: area_brasil, Missing Values Sum: 0
Variable: area_centro-oeste, Missing Values Sum: 0
Variable: area_centro-sul, Missing Values Sum: 0
Variable: area_nordeste, Missing Values Sum: 0
Variable: area_norte, Missing Values Sum: 0
Variable: area_norte/nordeste, Missing Values Sum: 0
Variable: area_sudeste, Missing Values Sum: 0
Variable: atr_medio_brasil, Missing Values Sum: 0
Variable: atr_medio_centro-oeste, Missing Values Sum: 0
Variable: atr_medio_centro-sul, Missing Values Sum: 0
Variable: atr_medio_nordeste, Missing Values Sum: 0
Variable: atr_medio_norte, Missing Values Sum: 0
Variable: atr_medio_norte/nordeste, Missing Values Sum: 0
Variable: atr_medio_sudeste, Missing Values Sum: 0
Variable: cana_de_acucar_preco_tonelada, Missing Values Sum: 0
Variable: data, Missing Values Sum: 0
Variable: desemprego, Missing Values Sum: 0
Variable: dia, Missing Values Sum: 0
Variable: enos, Missing Values Sum: 0
Variable: etanol_anidro_brasil, Missing Values Sum: 0
Variable: etanol_anidro_centro-oeste, Missing Values Sum: 0
Variable: etanol_anidro_centro-sul, Missing Values Sum: 0
Variable: etanol_anidro_nordeste, Missing Values Sum: 0
Variable: etanol_anidro_norte, Missing Values Sum: 0
Variable: etanol_anidro_norte/nordeste, Missing Values Sum: 0
Variable: etanol_anidro_sudeste, Missing Values Sum: 0
Variable: etanol_exportado_dolares, Missing Values Sum: 0
Variable: etanol_hidratado_brasil, Missing Values Sum: 0
Variable: etanol_hidratado_centro-oeste, Missing Values Sum: 0
Variable: etanol_hidratado_centro-sul, Missing Values Sum: 0
Variable: etanol_hidratado_nordeste, Missing Values Sum: 0
Variable: etanol_hidratado_norte, Missing Values Sum: 0
Variable: etanol_hidratado_norte/nordeste, Missing Values Sum: 0
Variable: etanol_hidratado_sudeste, Missing Values Sum: 0
Variable: etanol_importado_dolares, Missing Values Sum: 0
Variable: etanol_preco_medio, Missing Values Sum: 0
Variable: etanol_total_brasil, Missing Values Sum: 0
Variable: etanol_total_centro-oeste, Missing Values Sum: 0
Variable: etanol_total_centro-sul, Missing Values Sum: 0
Variable: etanol_total_nordeste, Missing Values Sum: 0
Variable: etanol_total_norte, Missing Values Sum: 0
Variable: etanol_total_norte/nordeste, Missing Values Sum: 0
Variable: etanol_total_sudeste, Missing Values Sum: 0
Variable: eur, Missing Values Sum: 0
Variable: frota_automovel, Missing Values Sum: 0
Variable: gasolina_preco_medio, Missing Values Sum: 0
Variable: gbp, Missing Values Sum: 0
Variable: gnv_preco_medio, Missing Values Sum: 0
Variable: igp-m, Missing Values Sum: 0
Variable: ipca, Missing Values Sum: 0
Variable: mes, Missing Values Sum: 0
Variable: pandemia, Missing Values Sum: 0
Variable: perc_eta_gas, Missing Values Sum: 0
Variable: pib, Missing Values Sum: 0
Variable: preco_acucar_dolar, Missing Values Sum: 0
Variable: preco_acucar_int, Missing Values Sum: 0
Variable: preco_acucar_real, Missing Values Sum: 0
Variable: preco_etanol_dolar, Missing Values Sum: 0
Variable: preco_etanol_real, Missing Values Sum: 0
Variable: preco_petroleo, Missing Values Sum: 0
Variable: producao_brasil, Missing Values Sum: 0
Variable: producao_centro-oeste, Missing Values Sum: 0
Variable: producao_centro-sul, Missing Values Sum: 0
Variable: producao_nordeste, Missing Values Sum: 0
Variable: producao_norte, Missing Values Sum: 0
Variable: producao_norte/nordeste, Missing Values Sum: 0
Variable: producao_sudeste, Missing Values Sum: 0
Variable: produtividade_brasil, Missing Values Sum: 0
Variable: produtividade_centro-oeste, Missing Values Sum: 0
Variable: produtividade_centro-sul, Missing Values Sum: 0
Variable: produtividade_nordeste, Missing Values Sum: 0
Variable: produtividade_norte, Missing Values Sum: 0
Variable: produtividade_norte/nordeste, Missing Values Sum: 0
Variable: produtividade_sudeste, Missing Values Sum: 0
Variable: safra, Missing Values Sum: 0
Variable: usd, Missing Values Sum: 0

In [151]:
# Verificando duplicados no dataset

duplicates = df_atualizada_final_a[df_atualizada_final_a.duplicated()]

if duplicates.empty:
    print("No duplicates found.")
else:
    print("Duplicates found:")
    print(duplicates)

No duplicates found.

In [152]:
# Assuming df_atualizada1 is your DataFrame that you want to export
# Specify the file path where you want to save the Excel file
excel_file_path = "dataset_atualizada.xlsx"

# Export the DataFrame to an Excel file
df_atualizada_final_a.to_excel(excel_file_path, index=False)

print("Excel file has been successfully exported.")

Excel file has been successfully exported.

In [153]:
# terminar amanhã tabela resumo
df_atualizada_final_a.columns = df_atualizada_final_a.columns.str.lower()
import pandas as pd

# Convert specific columns to date format
columns =  df_atualizada_final_a.columns # Add your date columns here
for col in columns:
    if col == 'data':
        df_atualizada_final_a[col] = pd.to_datetime(df_atualizada_final_a[col], format='%d/%m/%Y')
    elif col == 'safra':
        # Do nothing for 'safra' column
        pass
    elif col in ['ano','mes', 'dia']:
        df_atualizada_final_a[col] = df_atualizada_final_a[col].astype(int)
    elif col not in ['data', 'safra', 'mes', 'dia']:
        df_atualizada_final_a[col] = df_atualizada_final_a[col].astype(float)

# Calculate the number of observations for each column
n_observacoes = df_atualizada_final_a.notnull().sum()

# Calculate the sum of NaN values for each column
valores_faltantes = df_atualizada_final_a.isnull().sum()

# Get data types for each column
tipos_dados = df_atualizada_final_a.dtypes

# Create a DataFrame with columns 'nome_variavel', 'n_observacoes', 'valores_faltantes', 'tipo_dado', 'minimo', 'maximo', and 'media'
df_info = pd.DataFrame({
    'nome_variavel': n_observacoes.index,
    'n_observacoes': n_observacoes.values,
    'valores_faltantes': valores_faltantes.values,
    'tipo_dado': tipos_dados.values,
})

In [154]:
# Assuming df_atualizada1 is your DataFrame that you want to export
# Specify the file path where you want to save the Excel file
excel_file_path = "df_info.xlsx"

# Export the DataFrame to an Excel file
df_info.to_excel(excel_file_path, index=False)

print("Excel file has been successfully exported.")

Excel file has been successfully exported.